.chat
  .chat__header
    .chat__users-number 35

  .chat__content

    - for (var i = 0; i < 30; ++i)
      .chat__message
        .chat__message-icon(data-chat-abbr="jh" style="background-color: #b0f4dd;")
        .chat__message-inner
          .chat__message-header
            .chat__message-name John
            .chat__message-date Mar 04
          .chat__message-text Hi, when did you recieve you money on card?
      .chat__message
        .chat__message-icon(data-chat-abbr="mk" style="background-color: #a6c7f2;")
        .chat__message-inner
          .chat__message-header
            .chat__message-name Mike
            .chat__message-date Mar 06
          .chat__message-text most often it takes 1 minute
      .chat__message
        .chat__message-icon(data-chat-abbr="p" style="background-color: #e9cb97;")
        .chat__message-inner
          .chat__message-header
            .chat__message-name Poul
            .chat__message-date 11:06
          .chat__message-text tnx
    .chat__message
      .chat__message-icon(data-chat-abbr="p" style="background-color: #e9cb97;")
      .chat__message-inner
        .chat__message-header
          .chat__message-name Poul
          .chat__message-date 11:06
        .chat__message-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae sunt ex at tempore harum expedita maiores ipsam culpa voluptates asperiores!

  .chat__footer

    //- .chat__login-text #[a(href="#" data-modal="#modal-login") Sign in] or #[a(href="#" data-modal="#modal-register") register] to send a message

    form.chat__send
      textarea(name="chat-message").chat__send-message
      button.chat__send-btn