.connection-container {
	width: 20%;
  padding: 20px;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.connection_stat {
	width: 75px;
	height: 75px;
	margin: 0 auto;
	border-radius: 100%;
}
.red.darken {
  background-color: #C62828 !important;
}
.green.darken {
  background-color: #2E7D32 !important;
}
.statistic_text_text {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	font-size: 14px;
	font-weight: 500;
	opacity: .6;
}