/* GLOBALS */

*::-webkit-input-placeholder
  color: $inputPlaceholder !important
  opacity: 1 !important

*:-moz-placeholder
  color: $inputPlaceholder !important
  opacity: 1 !important

*::-moz-placeholder
  color: $inputPlaceholder !important
  opacity: 1 !important

*:-ms-input-placeholder
  color: $inputPlaceholder !important
  opacity: 1 !important

// body input:required:valid,
// body textarea:required:valid
//  color: $inputRequireValid
// body input:focus:required:invalid,
// body textarea:focus:required:invalid
//  color: $inputRequireInvalid

// Hiding vertical scrollbar in Chrome (for perfectpixel)
// ::-webkit-scrollbar
//  display: none

// .row>div
//  border: 1px solid red

*,:before,:after
  box-sizing: border-box

// html
  // overflow: hidden // For Magnific Popup scrollbar problem
  //margin-right: 0 !important // For Magnific Popup scrollbar problem
  // overflow-y: auto !important
  // Заплатка для ошибки c .row
  // Не годится !!! smooth scroll и подобные не пашут
  // overflow: hidden

// Disable android font boosting
html *
  max-height: 1000000px

html, body
  // For gradient background
  min-height: 100%
  height: 100%
  -webkit-overflow-scrolling: touch !important

body
  position: relative
  min-width: 320px
  font-family: $defaultFontFamily
  font-size: $baseFontSize
  color: $textColor
  line-height: 1.5
  overflow-x: hidden

// // Лочу скролл в модалках, меню и т.д.
// body.locked
//  position: relative
//  overflow: hidden
//  height: 100%
//  .wrapper
//    position: relative
//    overflow: hidden
//    height: 100%

/* Overlay */

.overlay
  display: none
  @media screen and (max-width: 1199px)
    // display: block
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 997
    bottom: 0
    background-color: $overlayColor
    &.overlay--mobile-menu
      @media screen and (max-width: 489px)
        background-color: transparent
    // &.overlay--mmenu
    //  z-index: 998
    // &.overlay--products
    //  z-index: 998
    //  background: rgba(#070707, 0.4)
    // &.overlay--user
    //  z-index: 995


// @media screen and (min-width : 992px)
  // Если убирать отступы у контейнера, тогда не забудь и у row убрать минусовый margin
  // Иначе есть косяки на 768px
  // 768px есть планшеты, без отступов плохо
.container
  padding-right: 20px
  padding-left: 20px
  @media screen and (min-width: 768px)
    padding: 0
  @media (min-width: 992px) and (max-width: 1199px)
    max-width: 720px
  @media (min-width: 1200px)
    max-width: 952px

  // @media screen and (min-width: 1200px)
  //  max-width: 1220px

// // Общие для .section
// .section
//  margin: 50px 0 60px
//  @media screen and (min-width: 768px)
//    margin: 40px 0 60px
//  @media screen and (min-width: 1200px)
//    margin: 55px 0 110px

// .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12
  // outline: 1px solid red

// .wrapper
//  position: relative
//  // For Magnific Popup scrollbar problem ( Better to use 100% with html, body {height 100%} )
//  // min-height: 100vh
//  min-height: 100%
//  height: auto

input:not([type="checkbox"]):not([type="radio"]), textarea //, select
  -webkit-appearance: none !important // Remove inputs and textareas inner shadow on Mobile Safari (iPhone)
  border-radius: 0 !important // Если бордюры не нужны, нужно сбросить иначе на ios будут по дефолту

a
  text-decoration: underline
  color: #297be6
  &:focus, &:hover
    color: #4992f2

p
  // margin-bottom: 20px


/* Headings */
h1, .h1, h2, .h2
  color: $headingsColor

// h1, .h1

h2, .h2
  margin-bottom: 40px
  font-size: 32px
  font-weight: 700
  line-height: 1.25
  text-align: center
  @media screen and (min-width: 360px)
    font-size: 40px
  @media screen and (min-width: 768px)
    margin-bottom: 50px
  @media screen and (min-width: 1200px)
    margin-bottom: 80px
    font-size: 60px

// h3, .h3

/* Hidden/Visible classes */
// Может стоит придумать получше названия
.hidden-desktop
 @media screen and (min-width: 1200px)
   display: none !important

.hidden-mobile
 @media screen and (max-width: 1199px)
   display: none !important

// .hidden-after-768
//  @media screen and (min-width: 768px)
//    display: none !important

// .hidden-before-768
//  @media screen and (max-width: 767px)
//    display: none !important


// ol, ul
//  li

// ol
//  li

// dl
// dt,dd

// dt

// dd

// /* Text */

/* Buttons */

.btn
  display: inline-block
  padding: 12px 25px
  font-size: 15px
  font-weight: 600
  text-transform: uppercase
  text-decoration: none
  text-align: center
  color: #666
  background: none
  border: 2px solid #ccc
  // border-radius: 5px
  box-shadow: 2.9px 0.8px 4px rgba(0, 0, 0, 0.05)
  &:hover, &:focus
    text-decoration: none
    color: #333
    border-color: #bbb
    outline: none

.btn--accent
  color: $accent
  border-color: $accent
  &:hover, &:focus
    color: $accent2
    border-color: $accent2

.btn--filled
  padding: 14px 25px
  background-color: #297be6
  background-image: linear-gradient(to top, #1c99e6 0%, #0496f0 0%, #32b0fd 100%)
  border: none
  box-shadow: 2.9px 0.8px 10px rgba(0, 0, 0, 0.2)
  color: white
  &:hover, &:focus
    background-color: #4992f2
    background-image: linear-gradient(to top, #32b0fd 0%, #1c99e6 100%, #0496f0 100%)
    color: white

.btn--iconed-wallet
  span
    position: relative
    padding-left: 44px
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 0
      width: 34px
      height: 35px
      margin-top: -17.5px
      background: url(../img/account/wallet-icon.png) center no-repeat


.btn--wide-md
  min-width: 240px
  @media (min-width: 375px)
    min-width: 300px

.close-button
  position: relative
  width: 30px
  height: 30px
  background: none
  border: none
  cursor: pointer
  &:focus
    outline: none
  &::before, &::after
    content: ''
    position: absolute
    top: 14px
    left: 2px
    right: 2px
    height: 2px
    background-color: #333
  &::before
    transform: rotate(45deg)
  &::after
    transform: rotate(-45deg)

.close-button--gray
  &::before, &::after
    background-color: #aaa

.info-btn
  position: relative
  display: inline-block
  vertical-align: middle
  margin-bottom: 2px
  width: 14px
  height: 14px
  cursor: pointer
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcgMGE3LjAwMSA3LjAwMSAwIDEgMCAuMDAyIDE0LjAwMkE3LjAwMSA3LjAwMSAwIDAgMCA3IDB6bTAgMy4xMDVhMS4xODUgMS4xODUgMCAxIDEgMCAyLjM3IDEuMTg1IDEuMTg1IDAgMCAxIDAtMi4zN3ptMS41OCA3LjE3YS4zMzkuMzM5IDAgMCAxLS4zMzguMzM4SDUuNzU4YS4zMzkuMzM5IDAgMCAxLS4zMzktLjMzOXYtLjY3N2MwLS4xODcuMTUyLS4zMzkuMzQtLjMzOWguMzM4VjcuNDUyaC0uMzM5YS4zMzkuMzM5IDAgMCAxLS4zMzktLjM0di0uNjc3YzAtLjE4Ny4xNTItLjMzOC4zNC0uMzM4aDEuODA2Yy4xODcgMCAuMzM4LjE1MS4zMzguMzM4djIuODIzaC4zMzljLjE4NyAwIC4zMzkuMTUyLjMzOS4zMzl2LjY3N3oiIGZpbGw9IiM5OTkiLz48L3N2Zz4=)
  &:hover, &:focus
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9IiM0ZmI1ZjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcgMGE3LjAwMSA3LjAwMSAwIDEgMCAuMDAyIDE0LjAwMkE3LjAwMSA3LjAwMSAwIDAgMCA3IDB6bTAgMy4xMDVhMS4xODUgMS4xODUgMCAxIDEgMCAyLjM3IDEuMTg1IDEuMTg1IDAgMCAxIDAtMi4zN3ptMS41OCA3LjE3YS4zMzkuMzM5IDAgMCAxLS4zMzguMzM4SDUuNzU4YS4zMzkuMzM5IDAgMCAxLS4zMzktLjMzOXYtLjY3N2MwLS4xODcuMTUyLS4zMzkuMzQtLjMzOWguMzM4VjcuNDUyaC0uMzM5YS4zMzkuMzM5IDAgMCAxLS4zMzktLjM0di0uNjc3YzAtLjE4Ny4xNTItLjMzOC4zNC0uMzM4aDEuODA2Yy4xODcgMCAuMzM4LjE1MS4zMzguMzM4djIuODIzaC4zMzljLjE4NyAwIC4zMzkuMTUyLjMzOS4zMzl2LjY3N3oiIGZpbGw9IiM0ZmI1ZjQiLz48L3N2Zz4=)

.arrow-btn
  padding-right: 26px
  font-weight: 700
  text-transform: uppercase
  text-decoration: none
  color: $accent
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuOTM1LjEyNGwtLjI0OS4yNDhhLjQyMi40MjIgMCAwIDAgMCAuNTk3bDIuOTUgMi45MzNILjQyM0EuNDIyLjQyMiAwIDAgMCAwIDQuMzI0di4zNTJjMCAuMjMzLjE4OS40MjIuNDIyLjQyMmgxMy4yMTVsLTIuOTUgMi45MzNhLjQyMi40MjIgMCAwIDAgMCAuNTk3bC4yNDguMjQ4YS40MjIuNDIyIDAgMCAwIC41OTYgMGw0LjA5NS00LjA3OGEuNDIyLjQyMiAwIDAgMCAwLS41OTZMMTEuNTMxLjEyNGEuNDIyLjQyMiAwIDAgMC0uNTk2IDB6IiBmaWxsPSIjNGZiNWY0Ii8+PC9zdmc+)
  background-repeat: no-repeat
  background-position: right center
  &:hover, &:focus
    text-decoration: none
    color: $accent2
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuOTM1LjEyNGwtLjI0OS4yNDhhLjQyMi40MjIgMCAwIDAgMCAuNTk3bDIuOTUgMi45MzNILjQyM0EuNDIyLjQyMiAwIDAgMCAwIDQuMzI0di4zNTJjMCAuMjMzLjE4OS40MjIuNDIyLjQyMmgxMy4yMTVsLTIuOTUgMi45MzNhLjQyMi40MjIgMCAwIDAgMCAuNTk3bC4yNDguMjQ4YS40MjIuNDIyIDAgMCAwIC41OTYgMGw0LjA5NS00LjA3OGEuNDIyLjQyMiAwIDAgMCAwLS41OTZMMTEuNTMxLjEyNGEuNDIyLjQyMiAwIDAgMC0uNTk2IDB6IiBmaWxsPSIjMDlkNThiIi8+PC9zdmc+)

.back-btn
  position: relative
  padding-left: 23px
  font-size: 16px
  text-transform: uppercase
  text-decoration: none
  color: $textColor
  opacity: 0.7
  &:hover, &:focus
    text-decoration: none
    color: $textColor
    opacity: 1
  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    width: 17px
    height: 12px
    margin-top: -6px
    background: url(../img/back.png) center no-repeat

.next-btn
  position: relative
  padding-right: 23px
  font-size: 16px
  text-transform: uppercase
  text-decoration: none
  color: $textColor
  opacity: 0.7
  &:hover, &:focus
    text-decoration: none
    color: $textColor
    opacity: 1
  &::after
    content: ''
    position: absolute
    top: 50%
    right: 0
    width: 17px
    height: 12px
    margin-top: -6px
    background: url(../img/back.png) center no-repeat
    transform: scaleX(-1)

.attachment-link
  label
    position: relative
    margin: 0
    padding-left: 28px
    color: #666
    cursor: pointer
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 0
      width: 23px
      height: 21px
      margin-top: -10.5px
      background: url(../img/attachment.png) center no-repeat
    &:hover, &:focus
      color: #4992f2
  input
    display: none


/* Inputs */

input:not([type="checkbox"]):not([type="radio"]), textarea
  margin-bottom: 20px
  color: $textColor
  &:focus
    outline: none

input:not([type="checkbox"]):not([type="radio"])
  padding: 0 5px
  height: 32px
  border: none
  border-bottom: 1px solid #c4c3c3
  font-size: 16px
  font-weight: 700

// input
//  &:required:invalid:not(:placeholder-shown)
// input:not([type="password"]):not(.password)
//  &:required:valid:not(:placeholder-shown)
textarea
  resize: none

// input[type="file"]


/* Form */

.form
  max-width: 360px
  margin: 0 auto

.form__title
  margin-bottom: 55px
  font-size: 28px
  line-height: 1.1
  font-weight: 700
  color: $headingsColor

.form__subtitle
  margin-bottom: 45px
  padding: 0 5px
  font-size: 16px
  text-align: left
  color: #666

.form__info
  margin-top: 50px
  margin-bottom: -10px
  @media screen and (min-width: 375px)
    margin-top: 85px

.form-group
  position: relative
  margin-bottom: 45px
  text-align: left

.form-group__label
  margin-bottom: 0
  padding: 0 5px
  font-size: 16px
  color: #999

.form-group__input
  display: block
  width: 100%

.form-group__textarea
  display: block
  width: 100%
  margin-top: 25px
  margin-bottom: 70px
  padding: 10px
  height: 215px
  border: 1px solid #d7d7d7
  // border-radius: 5px !important

.form-group__password-show
  position: absolute
  bottom: 10px
  right: 5px
  width: 24px
  height: 24px
  background: none
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE3Ljg4NiA1LjY1QzE3LjcyNSA1LjQzIDEzLjg5My4yNjQgOSAuMjY0IDQuMTA2LjI2NC4yNzUgNS40My4xMTQgNS42NWEuNTk0LjU5NCAwIDAgMCAwIC43Yy4xNi4yMiAzLjk5MiA1LjM4NiA4Ljg4NiA1LjM4NiA0Ljg5MyAwIDguNzI1LTUuMTY2IDguODg2LTUuMzg2YS41OTMuNTkzIDAgMCAwIDAtLjd6TTkgMTAuNTVjLTMuNjA1IDAtNi43MjctMy40My03LjY1LTQuNTVDMi4yNzEgNC44NzggNS4zODcgMS40NSA5IDEuNDVjMy42MDQgMCA2LjcyNiAzLjQyOSA3LjY1IDQuNTUtLjkyMiAxLjEyMi00LjAzOCA0LjU1LTcuNjUgNC41NXoiIGZpbGw9IiM5OTkiLz48cGF0aCBkPSJNOSAyLjQ0QTMuNTY1IDMuNTY1IDAgMCAwIDUuNDQgNiAzLjU2NSAzLjU2NSAwIDAgMCA5IDkuNTYgMy41NjUgMy41NjUgMCAwIDAgMTIuNTYgNiAzLjU2NSAzLjU2NSAwIDAgMCA5IDIuNDR6bTAgNS45MzRBMi4zNzYgMi4zNzYgMCAwIDEgNi42MjYgNiAyLjM3NiAyLjM3NiAwIDAgMSA5IDMuNjI2IDIuMzc2IDIuMzc2IDAgMCAxIDExLjM3MyA2IDIuMzc2IDIuMzc2IDAgMCAxIDkgOC4zNzR6IiBmaWxsPSIjOTk5Ii8+PC9zdmc+)
  background-repeat: no-repeat
  background-position: center
  border: none
  &:hover, &:focus
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE3Ljg4NiA1LjY1QzE3LjcyNSA1LjQzIDEzLjg5My4yNjQgOSAuMjY0IDQuMTA2LjI2NC4yNzUgNS40My4xMTQgNS42NWEuNTk0LjU5NCAwIDAgMCAwIC43Yy4xNi4yMiAzLjk5MiA1LjM4NiA4Ljg4NiA1LjM4NiA0Ljg5MyAwIDguNzI1LTUuMTY2IDguODg2LTUuMzg2YS41OTMuNTkzIDAgMCAwIDAtLjd6TTkgMTAuNTVjLTMuNjA1IDAtNi43MjctMy40My03LjY1LTQuNTVDMi4yNzEgNC44NzggNS4zODcgMS40NSA5IDEuNDVjMy42MDQgMCA2LjcyNiAzLjQyOSA3LjY1IDQuNTUtLjkyMiAxLjEyMi00LjAzOCA0LjU1LTcuNjUgNC41NXoiIGZpbGw9IiM0ZmI1ZjQiLz48cGF0aCBkPSJNOSAyLjQ0QTMuNTY1IDMuNTY1IDAgMCAwIDUuNDQgNiAzLjU2NSAzLjU2NSAwIDAgMCA5IDkuNTYgMy41NjUgMy41NjUgMCAwIDAgMTIuNTYgNiAzLjU2NSAzLjU2NSAwIDAgMCA5IDIuNDR6bTAgNS45MzRBMi4zNzYgMi4zNzYgMCAwIDEgNi42MjYgNiAyLjM3NiAyLjM3NiAwIDAgMSA5IDMuNjI2IDIuMzc2IDIuMzc2IDAgMCAxIDExLjM3MyA2IDIuMzc2IDIuMzc2IDAgMCAxIDkgOC4zNzR6IiBmaWxsPSIjNGZiNWY0Ii8+PC9zdmc+)
    outline: none

.form-checkbox-group
  text-align: left

.form-checkbox-group__input
  position: absolute
  opacity: 0
  pointer-events: none
  &:checked + .form-checkbox-group__label
    &:after
      display: block

.form-checkbox-group__label
  position: relative
  // margin-bottom: 20px
  margin-bottom: 0
  padding-left: 35px
  cursor: pointer
  user-select: none
  &::before, &:after
    content: ''
    position: absolute
  &::before
    top: 2px
    left: 0
    width: 18px
    height: 18px
    background-color: white
    border: 1px solid #d7d7d7
    // border-radius: 5px
  &:after
    display: none
    top: 3px
    left: 5px
    width: 8px
    height: 13px
    border-bottom: 3px solid $accent
    border-right: 3px solid $accent
    transform: rotate(45deg)

.form-button-group
  display: flex
  justify-content: space-between

.form-button-group__btn
  min-width: 150px
  @media screen and (max-width: 390px)
    min-width: 140px
  @media screen and (max-width: 374px)
    min-width: 135px


/* Slectbox */

.form-select-group
  position: relative
  margin-bottom: 45px
  text-align: left

.form-select-group__label
  // position: absolute
  margin-bottom: 0
  padding: 0 5px
  font-size: 16px
  color: #999

.form-select-group__select
  width: 100% !important

select.form-select-group__select
  border: 1px solid #c4c3c3
  &.required
    display: block !important
    position: absolute !important
    opacity: 0 !important

.form-select-group
  .selectboxit-container
    width: 100% !important
    .selectboxit, .selectboxit-options
      width: 100% !important
    // .selectboxit
    .selectboxit-option-icon-container
      display: none
    .selectboxit-arrow
      margin-top: -2px !important
      border-top-color: $textColor
      border-top-width: 6px
      border-right-width: 6px
      border-left-width: 6px
    .selectboxit-options a:not(.selectboxit-option-anchor), span:not(.selectboxit-option-icon-container)
      height: 32px !important
      line-height: 32px !important
    .selectboxit-text
      max-width: none !important
      font-family: 'Open Sans', sans-serif
      font-size: 16px !important
      font-weight: 700 !important
    .selectboxit-btn
      background: none !important
      border: none
      border-radius: 0
      border-bottom: 1px solid #d7d7d7
    .selectboxit-options
      margin-top: -1px
      min-width: 0 !important
      max-height: 204px !important
      background-color: white
      border: 1px solid #e5e5e5
      border-top: 2px solid #b3dafe
      box-shadow: 2.9px 0.8px 7.2px 0.8px rgba(0, 0, 0, 0.15)
      border-radius: 0
    .selectboxit-option-anchor
      padding: 0 20px
      height: 50px !important
      line-height: 50px !important
      font-family: 'Open Sans', sans-serif
      font-size: 16px !important
      font-weight: 700 !important
    .selectboxit-focus
      .selectboxit-option-anchor
        background: #f7f7f7 !important
        color: $textColor !important


.sort
  width: 200px
  label
    margin-bottom: 0
  // select

  .selectboxit-container
    width: 100% !important
    .selectboxit, .selectboxit-options
      width: 100% !important
    // .selectboxit
    .selectboxit-option-icon-container
      display: none
    .selectboxit-arrow
      margin-top: -2px !important
      border-top-color: $textColor
      border-top-width: 6px
      border-right-width: 6px
      border-left-width: 6px
    .selectboxit-options a:not(.selectboxit-option-anchor), span:not(.selectboxit-option-icon-container)
      height: 29px !important
      line-height: 29px !important
    .selectboxit-text
      max-width: none !important
      font-family: 'Open Sans', sans-serif
      font-size: 14px !important
      // font-weight: 700 !important
    .selectboxit-btn
      background: none !important
      border: none
      border-radius: 0
      border-bottom: 1px solid #d7d7d7
    .selectboxit-options
      margin-top: -1px
      min-width: 0 !important
      max-height: 204px !important
      background-color: white
      border: 1px solid #e5e5e5
      border-top: 2px solid #b3dafe
      box-shadow: 2.9px 0.8px 7.2px 0.8px rgba(0, 0, 0, 0.15)
      border-radius: 0
    .selectboxit-option-anchor
      padding: 0 20px
      height: 40px !important
      line-height: 40px !important
      font-family: 'Open Sans', sans-serif
      font-size: 14px !important
      // font-weight: 700 !important
    .selectboxit-focus
      .selectboxit-option-anchor
        background: #f7f7f7 !important
        color: $textColor !important



/* Currencies icons */

.currencies-icon
  min-width: 44px
  min-height: 44px
  background-repeat: no-repeat
  background-position: 0 center

.currencies-icon--bitcoin
  background-image: url(../img/currencies/bitcoin.svg)
.currencies-icon--ethereum
  background-image: url(../img/currencies/ethereum.svg)
  background-position: 8px center
.currencies-icon--ethereum-classic
  background-image: url(../img/currencies/ethereum-classic.svg)
  background-position: 8px center
.currencies-icon--stellar-lumens
  background-image: url(../img/currencies/stellar-lumens.svg)
.currencies-icon--neo
  background-image: url(../img/currencies/neo.svg)
  background-position: 4px center
.currencies-icon--dash
  background-image: url(../img/currencies/dash.svg)
  background-position: 1px center
.currencies-icon--ripple
  background-image: url(../img/currencies/ripple.svg)
  background-position: 1px center
.currencies-icon--webmoney
  background-image: url(../img/currencies/webmoney.png)
  background-position: 1px center
.currencies-icon--privatuah
  background-image: url(../img/currencies/privatuah.png)
.currencies-icon--visa
  background-image: url(../img/currencies/visa.png)
.currencies-icon--yandex-money
  background-image: url(../img/currencies/yandex-money.png)
.currencies-icon--qiwi
  background-image: url(../img/currencies/qiwi.png)
.currencies-icon--monobank
  background-image: url(../img/currencies/monobank.png)
.currencies-icon--oschadbank
  background-image: url(../img/currencies/oschadbank.png)
.currencies-icon--alfaukr
  background-image: url(../img/currencies/alfaukr.png)
.currencies-icon--aval
  background-image: url(../img/currencies/aval.png)
.currencies-icon--sber
  background-image: url(../img/currencies/sber.png)
.currencies-icon--cash
  background-image: url(../img/currencies/cash.png)


/* Currencies big icons */

.currencies-big-icon
  min-width: 50px
  min-height: 50px
  background-repeat: no-repeat
  background-position: center

.currencies-big-icon--webmoney
  background-image: url(../img/currencies/webmoney-lg.png)

.currencies-big-icon--privatuah
  background-image: url(../img/currencies/privatuah-lg.png)

.currencies-big-icon--visa
  background-image: url(../img/currencies/visa-lg.png)

.currencies-big-icon--yandex-money
  background-image: url(../img/currencies/yandex-money-lg.png)

.currencies-big-icon--qiwi
  background-image: url(../img/currencies/qiwi-lg.png)

.currencies-big-icon--monobank
  background-image: url(../img/currencies/monobank-lg.png)

.currencies-big-icon--oschadbank
  background-image: url(../img/currencies/oschadbank-lg.png)

.currencies-big-icon--alfaukr
  background-image: url(../img/currencies/alfaukr-lg.png)

.currencies-big-icon--aval
  background-image: url(../img/currencies/aval-lg.png)

.currencies-big-icon--sber
  background-image: url(../img/currencies/sber-lg.png)

.currencies-big-icon--cash
  background-image: url(../img/currencies/cash-lg.png)



/* Currencies list */

.currencies-list
  margin: 0
  padding: 0
  list-style-type: none
  font-size: 14px
  @media screen and (min-width: 375px)
    font-size: 13px

.currencies-list__item
  display: flex
  align-items: center
  justify-content: space-between

.currencies-list__currency
  display: flex
  align-items: center
  // width: 100%
  padding: 3px 15px 3px 60px
  color: #999
  text-decoration: none
  line-height: 1
  min-height: 68px
  &:hover, &:focus
    color: #999
    text-decoration: none
  // For IE 11
  &::after
    content: ''
    display: block
    min-height: inherit
    font-size: 0

.currencies-list__ammount
  font-size: 20px
  font-weight: 600
  text-transform: uppercase

/* Popup */

.info-popup
  display: none
  position: fixed
  position: absolute
  z-index: 97
  max-width: 340px
  margin: 0 20px
  padding: 15px
  background-color: white
  border: 1px solid #e5e5e5
  // border-radius: 0px 5px 5px
  box-shadow: 2.9px 0.8px 7.2px 0.8px rgba(0, 0, 0, 0.15)
  @media screen and (max-width: 380px)
    left: 0 !important
    right: 0 !important

.info-popup--above-all
  z-index: 100

.info-popup__text
  margin: 0


/* Star rating */

.star-rating
  position: relative
  z-index: 1
  display: flex
  width: 75px
  height: 13px
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuNTYyLjQ0TDQuOTA0IDMuOGwtMy43MDkuNTQyYS44MTMuODEzIDAgMCAwLS40NSAxLjM4NkwzLjQzIDguMzQzbC0uNjM0IDMuNjk0YS44MTIuODEyIDAgMCAwIDEuMTc4Ljg1NWwzLjMxOC0xLjc0NCAzLjMxOCAxLjc0NGEuODEzLjgxMyAwIDAgMCAxLjE3OC0uODU1bC0uNjM1LTMuNjk0IDIuNjg0LTIuNjE1YS44MTMuODEzIDAgMCAwLS40NS0xLjM4Nkw5LjY3NyAzLjggOC4wMi40NGEuODEzLjgxMyAwIDAgMC0xLjQ1NyAweiIgZmlsbD0iI2RkZGRkZCIvPjwvc3ZnPg==)

.star-rating__inner
  content: ''
  position: absolute
  top: 0
  left: 0
  bottom: 0
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuNTYyLjQ0TDQuOTA0IDMuOGwtMy43MDkuNTQyYS44MTMuODEzIDAgMCAwLS40NSAxLjM4NkwzLjQzIDguMzQzbC0uNjM0IDMuNjk0YS44MTIuODEyIDAgMCAwIDEuMTc4Ljg1NWwzLjMxOC0xLjc0NCAzLjMxOCAxLjc0NGEuODEzLjgxMyAwIDAgMCAxLjE3OC0uODU1bC0uNjM1LTMuNjk0IDIuNjg0LTIuNjE1YS44MTMuODEzIDAgMCAwLS40NS0xLjM4Nkw5LjY3NyAzLjggOC4wMi40NGEuODEzLjgxMyAwIDAgMC0xLjQ1NyAweiIgZmlsbD0iI2ZhYmEwZSIvPjwvc3ZnPg==)


.text-section
  padding: 30px 0 70px
  @media (min-width: 1200px)
    padding: 50px 0 80px

  h1, h2, h3, h4, h5, h6
    margin-bottom: 20px

  h1
    font-size: 32px
    @media (min-width: 768px)
      font-size: 40px
  h2
    font-size: 28px
    text-align: left
    @media (min-width: 768px)
      font-size: 32px
  h3
    font-size: 24px
    @media (min-width: 768px)
      font-size: 28px
  h4
    font-size: 20px
    @media (min-width: 768px)
      font-size: 24px
  h5
    font-size: 18px
    @media (min-width: 768px)
      font-size: 20px
  h6
    font-size: 16px

  img
    max-width: 100%
    height: auto
    margin-bottom: 30px

  p
    margin-bottom: 30px