/* Header */

.header
  @media (max-width: 1199px)
    position: relative
    z-index: 97

/* Header top */

$headerTopBorderColor: lighten($accent, 12%)
.header-top
  display: none
  background-color: white
  @media (max-width: 1199px)
    display: block

@media (max-width: 1199px)
  .header-top__list
    margin: 0
    padding: 0
    list-style-type: none
    overflow: hidden
    background-color: $mmenuAccent

  .header-top__list-item
    float: left
    width: 25%
    border-right: 1px solid $headerTopBorderColor
    &:last-child
      border-right: none

  .header-top__list-link
    position: relative
    display: block
    height: 50px
    // border-bottom: 1px solid $headerTopBorderColor
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 50%
    &.open
      // border-bottom-color: transparent
      background-color: white

  $headerTopLinkSprites: url(../img/header/top/header-top-sprites.png)
  .header-top__list-link--exchange
    &::before
      width: 28px
      margin-left: -14px
      height: 28px
      margin-top: -14px
      background: $headerTopLinkSprites -10px -10px
    &.open
      &::before
        background-position: -10px -104px

  .header-top__list-link--lang
    &::before
      width: 24px
      margin-left: -12.5px
      height: 18px
      margin-top: -9px
      background: url(../img/lang/eng.png)

  .header-top__list-link--sign-in
    &::before
      width: 24px
      margin-left: -12px
      height: 25px
      margin-top: -12.5px
      background: $headerTopLinkSprites -56px -58px
    &.open
      &::before
        background-position: -56px -151px

  .header-top__list-link--registration
    &::before
      width: 28px
      margin-left: -14px
      height: 28px
      margin-top: -14px
      background: $headerTopLinkSprites -58px -10px
    &.open
      &::before
        background-position: -58px -103px

  .header-top__list-link--log-out
    &::before
      width: 26px
      margin-left: -13px
      height: 25px
      margin-top: -12.5px
      background: $headerTopLinkSprites -10px -58px


  .header-top__list-link--account
    &::before
      width: 20px
      margin-left: -10px
      height: 24px
      margin-top: -12px
      background: $headerTopLinkSprites -106px -10px
    &.open
      &::before
        background-position: -106px -103px


/* Logo */

.logo
  display: block
  img
    width: 210px
    height: 34px
    @media (min-width: 375px)
      width: 260px
      height: 42px
    // @media (min-width: 400px)
    //   width: 269px
    //   height: 43px
    @media (min-width: 1200px)
      width: 378px
      height: 61px
      // width: 210px
      // height: 38px
    // @media (min-width: 1630px)


/* Header bottom */

.header-bottom
  position: relative
  z-index: 9
  // display: flex
  // justify-content: space-between
  // align-items: center
  // height: 80px
  padding: 0 20px
  background: white
  @media (max-width: 1199px)
    transition: height 0.3s
  @media (min-width: 1200px)
    height: auto
    border-bottom: 1px solid transparent

  &.fixed
    position: fixed
    top: 0
    left: -20px
    right: -20px
    padding: 0 40px
    box-shadow: 2.9px 0.8px 10px rgba(0, 0, 0, 0.2)
    @media (min-width: 1200px)
      height: 80px
      .header-bottom__bottom
        display: none
        // visibility: hidden
        // opacity: 0
  &.fixed--small
    @media (max-width: 1199px)
      height: 82px
    // @media (min-width: 1200px)
      // margin-top: 0
      // height: 80px

// .header-bottom--bordered:not(.fixed)
//   border-color: #eee

.header-bottom__top, .header-bottom__bottom
  @media (min-width: 1200px)
    margin: 0 auto
    max-width: 952px

// .header-bottom__top
.header-bottom__bottom
  display: flex
  justify-content: space-between
  align-items: center
  // transition: visibility 0.15s, opacity 0.15s
  @media (max-width: 1199px)
    padding: 20px 0

.header-bottom__mobile-menu-button
  display: none
  @media (max-width: 1199px)
    display: block
    margin: 0
    padding: 0
    width: 37px
    height: 33px
    padding: 5px
    background: none
    border: none
    &:focus
      outline: none
    span
      position: relative
      display: block
      height: 3px
      margin: 10px 0
      background-color: #20a6f9
      border-radius: 20px
      &::before, &::after
        content: ''
        position: absolute
        right: 0
        left: 0
        height: 3px
        border-radius: 20px
      &::before
        top: -10px
        background-color: #32b0fd
      &::after
        bottom: -10px
        background-color: #0698f1


/* Header menu */

.header-menu
  display: none
  @media (min-width: 1200px)
    display: block
    padding: 15px 0 42px

.header-menu__list
  @media (min-width: 1200px)
    display: flex
    justify-content: space-between
    margin: 0 -6px
    padding: 0
    list-style-type: none
  @media (min-width: 1366px)
    margin: 0 -10px

.header-menu__list-item
  @media (min-width: 1200px)
    // display: inline-block
    margin-right: 0
    font-size: 14px
    // font-weight: 600
    // text-transform: uppercase
    &:last-child
      margin-right: 0
    &.active
      font-weight: 700
      .header-menu__list-link
        color: $accent2
        &:hover, &:focus
          text-shadow: none
  @media (min-width: 1366px)
    font-size: 15px
  @media (min-width: 1630px)
    margin-right: 15px
    &:last-child
      margin-right: 0

.header-menu__list-link
  @media (min-width: 1200px)
    position: relative
    display: block
    padding: 10px 6px
    color: $textColor
    text-decoration: none
    &::before
      content: ''
      position: absolute
      bottom: 6px
      right: 100%
      z-index: -1
      height: 5px
      background-color: #a5e1ca
      transition: right $aniSpeed
    &:hover, &:focus, &.open
      color: $textColor
      text-shadow: 0 0 0 $textColor
      text-decoration: none
      outline: none
      &::before
        left: 0
        right: 0
    &.dropdown-link
      margin-right: 5px
  @media (min-width: 1366px)
    padding: 10px
    &:hover, &:focus, &.open
      &::before
        right: 0
    &.dropdown-link
      margin-right: 10px


/* Header panel */

.header-user-panel
  display: none
  @media (min-width: 1200px)
    display: flex
    align-items: center

.header-user-panel__lang
  @media (min-width: 1200px)
    display: inline-block
    width: 39px
    height: 18px
    margin-right: 25px
    background: url(../img/lang/eng.png) 0 0 no-repeat

.header-user-panel__btn
  @media (min-width: 1200px)
    min-width: 150px
    margin-left: 20px

.header-user-panel__account-wrapper
  @media (min-width: 1200px)
    margin-left: 35px

.header-user-panel__account
  @media (min-width: 1200px)
    margin: 0 10px 0 0
    padding: 12px 0
    font-size: 15px
    font-weight: 600
    color: $accent
    text-decoration: none
    text-transform: uppercase
    background: none
    border: none
    &:hover, &:focus, &.open
      outline: none
      color: $accent2
      text-decoration: none
  @media (min-width: 1630px)
    margin: 0 10px 0 0


/* Header submenu */

.dropdown
  position: absolute
  z-index: 8
  visibility: hidden
  opacity: 0
  @media (min-width: 1200px)
    top: 100%
    margin-top: -20px
    padding: 15px 30px 15px 30px
    text-transform: none
    background-color: white
    border: 1px solid #e5e5e5
    border-top: 2px solid #a5e1ca
    // border-radius: 0px 0px 5px 5px
    box-shadow: 2.9px 0.8px 7.2px 0.8px rgba(0, 0, 0, 0.15)
    transition: opacity $aniSpeed, visibility $aniSpeed, margin-top $aniSpeed
    &.open
      visibility: visible
      opacity: 1
      margin-top: 0

.dropdown--tight
  max-width: 260px

.dropdown--lang
  max-width: 330px

.dropdown-full-width
  width: 100%

.dropdown-link
  @media (min-width: 1200px)
    position: relative
    padding-right: 15px
    &::after
      content: ''
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      width: 10px
      height: 6px
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC42NDMgNi4zMzNMLjExMyAxLjU4OGEuNDk1LjQ5NSAwIDAgMSAwLS42ODVMLjM5LjYxN2EuNDYuNDYgMCAwIDEgLjY2NCAwbDMuOTIxIDQuMTJMOC44OTYuNjIxYS40Ni40NiAwIDAgMSAuNjY0IDBsLjI3Ny4yODZhLjQ5NC40OTQgMCAwIDEgMCAuNjg1bC00LjUzIDQuNzQ1YS40NjIuNDYyIDAgMCAxLS42NjQtLjAwNHoiIGZpbGw9IiM2NjYiLz48L3N2Zz4=)
      background-repeat: no-repeat
      background-position: center
      transition: transform $aniSpeed
    &.open
      &::after
        transform: translateY(-50%) rotate(-180deg)

.dropdown-link--big-arrow
  &::after
    background: none
    width: 12px
    height: 12px
    border-top: 6px solid $textColor
    border-right: 6px solid transparent
    border-bottom: 6px solid transparent
    border-left: 6px solid transparent
  &.open
    &::after
      transform: translateY(-50%) !important

.dropdown__list
  @media (min-width: 1200px)
    margin: 0
    padding: 0
    list-style-type: none
    font-size: 16px

.dropdown__list-item
  font-weight: 400
  margin-bottom: 12px
  &:last-child
    margin-bottom: 0

.dropdown__list-link
  position: relative
  display: inline-block
  z-index: 1
  padding: 0 6px
  color: $textColor
  text-decoration: none
  &::before
    content: ''
    position: absolute
    bottom: -3px
    left: 0
    right: 100%
    z-index: -1
    height: 5px
    background-color: #a5e1ca
  &:hover, &:focus
    text-shadow: 0 0 0 $textColor
    color: $textColor
    text-decoration: none
    &::before
      right: 0
      transition: right $aniSpeed

.dropdown__lang-list
  margin: 0
  padding: 10px 0 10px 10px
  list-style-type: none

.dropdown__lang-list--long
  padding: 10px 0 0 10px
  height: 315px
  display: flex
  flex-wrap: wrap
  align-content: flex-start
  writing-mode: vertical-lr // https://stackoverflow.com/a/41209546/8313588
  .dropdown__lang-list-item
    writing-mode: horizontal-tb

.dropdown__lang-list-item
  margin-bottom: 20px
  margin-right: 20px
  &:last-child
    margin-bottom: 0

.dropdown__lang-list-item-link
  display: block
  width: 24px
  height: 18px
  background-position: center
  background-repeat: no-repeat

.dropdown__lang-list-item-link--eng
  background-image: url(../img/lang/eng.png)
.dropdown__lang-list-item-link--ger
  background-image: url(../img/lang/ger.png)
.dropdown__lang-list-item-link--rus
  background-image: url(../img/lang/rus.png)
.dropdown__lang-list-item-link--ukr
  background-image: url(../img/lang/ukr.png)
.dropdown__lang-list-item-link--fr
  background-image: url(../img/lang/fra.png)

.dropdown__currencies-list
  margin: 0
  padding: 0
  list-style-type: none
  text-align: left
  column-count: 2

.dropdown__currencies-list-item
  display: flex
  align-items: center

.dropdown__currencies-list-link
  display: flex
  align-items: center
  padding: 5px 0 5px 55px
  font-size: 14px
  line-height: 1.1
  text-transform: uppercase
  text-decoration: none
  color: $textColor
  min-height: 56px
  &:hover, &:focus
    text-decoration: none
    color: $textColor
  // For IE 11
  &::after
    content: ''
    display: block
    min-height: inherit
    font-size: 0


/* Mobile menu */

.mobile-menu
  display: none
  @media (max-width: 1199px)
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 999
    padding: 70px 0
    background-color: $mmenuAccent
    overflow-y: auto
    -webkit-overflow-scrolling: touch
  @media (max-width: 489px)
    &.open
      display: block
  @media (min-width: 490px) and (max-width: 1199px)
    display: block
    visibility: hidden
    right: -100%
    left: auto
    width: 480px
    // padding-left: 50px
    // padding-right: 50px
    transition: right $mobileMenuAniSpeed, visibility $mobileMenuAniSpeed
    &.open
      visibility: visible
      right: 0

@media (max-width: 1199px)
  .mobile-menu__close
    position: absolute
    top: 18px
    right: 15px
    &::before, &::after
      background-color: #ddd

  .mobile-menu__list
    margin: 0
    padding: 0
    list-style-type: none
    // text-transform: uppercase

  .mobile-menu__list-item
    margin-bottom: 15px
    font-weight: 600
    font-size: 18px
    &.active
      text-transform: uppercase
      .mobile-menu__list-link
        color: $accent2

  .mobile-menu__list-link
    display: block
    padding: 5px 20px
    color: white
    text-decoration: none
    &:hover, &:focus
      background-color: white
      color: $mmenuAccent
      text-decoration: none

  .mobile-menu__list-link--submenu
    position: relative
    padding-right: 15px
    &::after
      content: ''
      position: absolute
      right: 20px
      top: 50%
      transform: translateY(-50%)
      width: 11px
      height: 6px
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC43NDQgNi41NjRMLjA4NiAxLjk0NGEuMzc4LjM3OCAwIDAgMSAwLS41MzVMLjcwOS43ODZhLjM3OC4zNzggMCAwIDEgLjUzNSAwbDMuNzY3IDMuNzNMOC43NzguNzg1YS4zNzguMzc4IDAgMCAxIC41MzUgMGwuNjIzLjYyM2EuMzc4LjM3OCAwIDAgMSAwIC41MzVMNS4yOCA2LjU2NGEuMzc4LjM3OCAwIDAgMS0uNTM1IDB6IiBmaWxsPSIjMzYzNjM2Ii8+PC9zdmc+)
      background-repeat: no-repeat
      background-position: center
      transition: transform $aniSpeed
    &.open
      &::after
        transform: translateY(-50%) rotate(-180deg)

  .mobile-menu__submenu-list
    display: none
    margin: 25px 0 10px
    padding: 0
    list-style-type: none
    text-transform: none
    &.open
      display: block

  .mobile-menu__submenu-list-item
    margin-bottom: 12px

  .mobile-menu__submenu-list-link
    display: block
    color: white
    padding: 0 0 0 35px
    text-decoration: none
    &:hover, &:focus
      background-color: white
      color: $mmenuAccent
      text-decoration: none