/* Modals */

.modal
	display: none
	position: fixed !important
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 99
	background-color: $overlayColor
	overflow-y: auto
	-webkit-overflow-scrolling: touch
	@media (min-width: 1200px)
		padding: 20px 0
		text-align: center
		+vertical(div)

.modal--exchanger
	.modal__content
		padding: 70px 0

.modal--mobile-header
	margin-top: 50px
	@media (min-width: 1200px)
		margin-top: 0

.modal--tablet-50perc
	@media (min-width: 768px) and (max-width: 1199px)
		.modal__content
			float: right
			width: 50%

.modal--desktop-hidden
	@media (min-width: 1200px)
		display: none !important

.modal--mobile-full-height
	@media (max-width: 1199px)
		.modal__content
			min-height: max-content
			float: right
			min-height: 100%
			// position: absolute
			// top: 0
			// right: 0
			// bottom: 0
			// left: 0
			// overflow-y: auto

.modal--mobile-fixed-width
	@media (min-width: 490px) and (max-width: 1199px)
		.modal__content
			left: auto
			max-width: 480px

.modal--big
	.modal__content
		max-width: 1010px

.modal--centered
	.modal__content
		margin: 0 auto
		@media (min-width: 490px)
			margin: 50px auto

.modal--theme-chat
	padding: 0
	background-color: rgba(white, 0.92)
	@media (max-width: 1199px)
		.modal__content
			max-width: 470px
			margin: 0 auto
			padding: 50px 20px
			background-color: transparent
			box-shadow: none
	// @media (min-width: 490px) and (max-width: 1199px)
	// 	.modal__close
	// 		&::before, &::after
	// 			background-color: #aaa
	@media (max-width: 489px)
		background-color: rgba(white, 0.92)
	// @media (max-width: 359px)
	// 	.modal__content
	// 		padding: 50px 0

.modal__currencies-list
	@media (min-width: 375px)
		column-count: 2

.modal__content
	position: relative
	width: 100%
	padding: 70px 20px
	background-color: white
	box-shadow: 0 3px 25px rgba(black, 0.15)
	@media (min-width: 480px)
		padding: 70px 50px
	@media (min-width: 1200px)
		padding: 90px 50px 70px
		max-width: 510px
		text-align: center
		background-color: white
		// border-radius: 5px
		box-shadow: 2.9px 0.8px 25px rgba(0, 0, 0, 0.4)

.modal__content--currencies
	padding: 50px 20px 65px
	@media (min-width: 490px)
		padding: 50px 30px 65px

.modal__content--form
	text-align: center

.modal__content-inner

.modal__content-inner--currencies-list-block
	display: flex
	justify-content: space-between

.modal__close
	position: absolute
	top: 18px
	right: 15px
	&::before, &::after
		background-color: #aaa

.modal__form-checkbox-group
	margin-bottom: 35px

.modal__form-checkbox-group-label
	margin-bottom: 20px

.modal__title
	margin-bottom: 15px
	font-size: 26px
	font-weight: 700
	text-align: center

.modal__title--offset-bottom-md
	margin-bottom: 50px

.modal__currency
	display: flex
	align-items: center
	margin-bottom: 40px
	padding-left: 5px
	font-size: 16px
	> *:nth-child(1)
		margin-right: 20px

.modal__back-btn-container
	margin-top: 30px
	text-align: left


.modal__currency-details
	display: flex
	flex-direction: column
	align-items: center

.modal__currency-details-exchange-icon
	margin: 25px 0
	width: 45px
	height: 45px
	background: url(../img/exchange-icon.png) center no-repeat

.modal__currency-details-currency
	display: flex
	align-items: center
	text-transform: uppercase
	span
		margin-right: 15px
		font-size: 20px
		font-weight: 700
	div
		display: flex
		align-items: center
		font-size: 18px
		> *:nth-child(1)
			margin-right: 5px

.modal__currency-details-status
	margin: 60px 0
	font-size: 20px
	font-weight: 400
	span
		margin-left: 25px
		font-weight: 700
		color: $accent

.modal__button-container
	text-align: center

/* Mobile lang list */

.mobile-lang-list
	display: none
	@media (max-width: 1199px)
		display: block
		margin: 0
		padding: 0
		min-height: 40px // for older Safari
		list-style-type: none
		column-count: 2
	@media (min-width: 480px) and (max-width: 1199px)
		column-count: 3

@media (max-width: 1199px)
	.mobile-lang-list__item
		margin-bottom: 20px
		display: inline-block
		width: 100%

	.mobile-lang-list__link
		display: block
		min-height: 18px
		padding: 0 0 0 38px
		background-repeat: no-repeat
		background-position: 0 center
		color: $textColor
		text-decoration: none
		&:hover, &:focus
			color: $textColor
			text-decoration: none

	.mobile-lang-list__link--eng
		background-image: url(../img/lang/eng.png)
	.mobile-lang-list__link--ger
		background-image: url(../img/lang/ger.png)
	.mobile-lang-list__link--rus
		background-image: url(../img/lang/rus.png)
	.mobile-lang-list__link--ukr
		background-image: url(../img/lang/ukr.png)
	.mobile-lang-list__link--fr
		background-image: url(../img/lang/fra.png)


/* Mobile account list */

.mobile-account-list
	display: none
	@media (max-width: 1199px)
		display: block
		margin: 0
		padding: 0
		list-style-type: none

.mobile-account-list__item
	@media (max-width: 1199px)
		margin-bottom: 10px
		font-size: 18px
		font-weight: 700
		// text-transform: uppercase
		&:last-child
			margin-bottom: 0
	// @media (min-width: 768px) and (max-width: 1199px)
		// margin-bottom: 50px

@media (max-width: 1199px)
	.mobile-account-list__link
		position: relative
		display: block
		padding: 15px 0 15px 60px
		color: $textColor
		text-decoration: none
		&:hover, &:focus
			color: $accent
			text-decoration: none
		&::before
			content: ''
			position: absolute
			top: 50%
			left: 0
			transform: translateY(-50%)
			background-image: url(../img/header/top/account-sprites.png)

		&.mobile-account-list__link--details
			&::before
				width: 34px
				height: 34px
				background-position: -106px -10px
			&:hover, &:focus
				&::before
					background-position: -214px -10px
		&.mobile-account-list__link--history
			&::before
				width: 34px
				height: 34px
				background-position: -160px -10px
			&:hover, &:focus
				&::before
					background-position: -268px -10px
		&.mobile-account-list__link--wallets-cards
			&::before
				width: 28px
				height: 28px
				background-position: -10px -10px
			&:hover, &:focus
				&::before
					background-position: -58px -10px
		&.mobile-account-list__link--tickets
			&::before
				width: 38px
				height: 33px
				background-position: -322px -10px
			&:hover, &:focus
				&::before
					background-position: -380px -10px
