//- here we include all PUG files in one

doctype html
html(lang="en")

  head
    include base/_head

  body
    .wrapper
      include base/_header-logged-in
      include base/_main-account
      include base/_footer
      include base/_modals
      include base/_modals-chat-logged-in
      include base/_modals-account

      include base/_scripts