//- here we include all PUG files in one

doctype html
html(lang="en")

  head
    include base/_head

  body
    .wrapper
      include base/_header
      include base/_main
      include base/_footer
      include base/_modals
      include base/_modals-chat

      include base/_scripts