.header-user-panel__account-wrapper
	a(href="#").header-user-panel__account.dropdown-link You account
	.dropdown.dropdown--tight
		ul.dropdown__list
			li.dropdown__list-item
				a(href="account.html").dropdown__list-link Account details
			li.dropdown__list-item
				a(href="account-history.html").dropdown__list-link Operations history
			li.dropdown__list-item
				a(href="account-wallets.html").dropdown__list-link My Wallets &amp; Cards
			li.dropdown__list-item
				a(href="account-tickets.html").dropdown__list-link My tickets
button.btn.header-user-panel__btn Log out