.header-menu
  ul.header-menu__list
    li.header-menu__list-item
      a.header-menu__list-link(href="about-us.html") About us
    li.header-menu__list-item
      a.header-menu__list-link(href="faq.html") FAQ
    li.header-menu__list-item
      a.header-menu__list-link(href="contacts.html") Contacts
    li.header-menu__list-item
      a.header-menu__list-link(href="news.html") News
    li.header-menu__list-item
      a.header-menu__list-link(href="index.html#chat") CHAT
    li.header-menu__list-item
      a.header-menu__list-link(href="rates.html") Rates
    li.header-menu__list-item
      a.header-menu__list-link(href="agreement.html") Agreement
    li.header-menu__list-item
      a.header-menu__list-link(href="reserves.html") Reserves
    li.header-menu__list-item
      a.header-menu__list-link(href="feedback.html") Feedback
    li.header-menu__list-item.active
      a.header-menu__list-link(href="exchange.html") Exchange