.header-top
  ul.header-top__list
    li.header-top__list-item
      a(href="#" data-modal="#modal-exchanger").header-top__list-link.header-top__list-link--exchange
    li.header-top__list-item
      a(href="#" data-modal="#modal-language").header-top__list-link.header-top__list-link--lang
    li.header-top__list-item
      a(href="#" data-modal="#modal-login").header-top__list-link.header-top__list-link--sign-in
    li.header-top__list-item
      a(href="#" data-modal="#modal-register").header-top__list-link.header-top__list-link--registration