.header-bottom

  .header-bottom__top

    include _header-menu

  .header-bottom__bottom

    include _header-logo

    button.header-bottom__mobile-menu-button
      span

    .header-user-panel
      include _header-panel-lang
      include _header-panel-buttons-logged-in