a(href="#").header-user-panel__lang.dropdown-link
.dropdown.dropdown--lang
	ul.dropdown__lang-list.dropdown__lang-list--long
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--eng
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--ger
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--rus
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--ukr
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--fr
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--eng
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--ger
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--rus
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--eng
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--ger
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--rus
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--ukr
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--fr
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--eng
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--ger
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--rus
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--eng
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--ger
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--rus
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--ukr
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--fr
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--eng
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--ger
		li.dropdown__lang-list-item
			a(href="#").dropdown__lang-list-item-link.dropdown__lang-list-item-link--rus
