//Mobile menu
.mobile-menu
	button.close-button.mobile-menu__close
		span
	ul.mobile-menu__list
		li.mobile-menu__list-item
			a.mobile-menu__list-link(href="about-us.html") About us
		li.mobile-menu__list-item
			a.mobile-menu__list-link(href="faq.html") FAQ
		li.mobile-menu__list-item
			a.mobile-menu__list-link(href="contacts.html") Contacts
		li.mobile-menu__list-item
			a.mobile-menu__list-link(href="news.html") News
		li.mobile-menu__list-item
			a.mobile-menu__list-link(href="#" data-modal="#modal-chat") CHAT
		li.mobile-menu__list-item
			a.mobile-menu__list-link(href="rates.html") Rates
		li.mobile-menu__list-item
			a.mobile-menu__list-link(href="agreement.html") Agreement
		li.mobile-menu__list-item
			a.mobile-menu__list-link(href="reserves.html") Reserves
		li.mobile-menu__list-item
			a.mobile-menu__list-link(href="feedback.html") Feedback
		li.mobile-menu__list-item.active
			a.mobile-menu__list-link(href="exchange.html") Exchange


		//- li.mobile-menu__list-item.active
		//- 	a(href="#").mobile-menu__list-link Exchange
		//- li.mobile-menu__list-item
		//- 	a(href="#").mobile-menu__list-link About us
		//- li.mobile-menu__list-item
		//- 	a(href="#").mobile-menu__list-link.mobile-menu__list-link--submenu For users
		//- 	ul.mobile-menu__submenu-list
		//- 		li.mobile-menu__submenu-list-item
		//- 			a.mobile-menu__submenu-list-link(href="#") Agreement
		//- 		li.mobile-menu__submenu-list-item
		//- 			a.mobile-menu__submenu-list-link(href="#") Bonus Program
		//- 		li.mobile-menu__submenu-list-item
		//- 			a.mobile-menu__submenu-list-link(href="#") Security Guarantees
		//- 		li.mobile-menu__submenu-list-item
		//- 			a.mobile-menu__submenu-list-link(href="#") Exchange Rules
		//- 		li.mobile-menu__submenu-list-item
		//- 			a.mobile-menu__submenu-list-link(href="#") Policy AML
		//- 		li.mobile-menu__submenu-list-item
		//- 			a.mobile-menu__submenu-list-link(href="#") Feedback
		//- 		li.mobile-menu__submenu-list-item
		//- 			a.mobile-menu__submenu-list-link(href="#") Cryptocurrency news
		//- 		li.mobile-menu__submenu-list-item
		//- 			a.mobile-menu__submenu-list-link(href="#") Blog
		//- li.mobile-menu__list-item
		//- 	a(href="#").mobile-menu__list-link Rates
		//- li.mobile-menu__list-item
		//- 	a(href="#").mobile-menu__list-link Reserves
		//- li.mobile-menu__list-item
		//- 	a(href="#").mobile-menu__list-link Referal program
		//- li.mobile-menu__list-item
		//- 	a(href="#").mobile-menu__list-link FAQ
		//- li.mobile-menu__list-item
		//- 	a(href="#").mobile-menu__list-link Contacts

