/* AddTicketForm */
	form.jsticket_form{float: left;width: 100%;}
	div#js-tk-formwrapper{width: 100%; float: left; padding-top: 20px;}
	div#js-tk-formwrapper div.js-form-title {padding: 5px 0px;}
	div#js-tk-formwrapper div.js-form-title label{display: inline;}
	div#js-tk-formwrapper div.js-form-value {float: left;width: 100%;}
	div#js-tk-formwrapper div.js-form-value input.js-form-input-field,
	div#js-tk-formwrapper div.js-form-value textarea{width: 100% !important;padding: 5px 5px;margin-bottom: 0;border-radius: 0;box-shadow: unset !important;min-height: 42px;}
	div#js-tk-formwrapper div.js-form-value select.js-form-select-field{width: 100%;min-height: 42px;margin-bottom: 0;border-radius: 0;box-shadow: unset !important;background: url(../../images/selecticon.png) 96% / 4% no-repeat;}
	div.js-form-wrapper{margin-bottom: 5px;float: left;width: 100%;}
	div.js-margin-bottom{margin-bottom: 10px;}
	div.js-ticket-from-field{float: left;width: 100%;}
	select ::-ms-expand {display:none !important;}
	select{-webkit-appearance:none !important;}
	.js-margin-top{margin-top: 15px;}

	/*Attachments*/
	div.js-attachment-wrp{float: left;width: 100%;}
	div.js-attachment-wrp div.js-form-title{float: left;width: 100%;margin-bottom: 10px;}
	div.js-attachment-files-wrp{float: left;width: 100%;}
	div#js-attachment-files {width: 100%;display: inline-block;float: left;}
	div#js-attachment-files span.js-attachment-file-box{float: left;width: calc(100% / 2 - 10px);padding: 5px 5px;margin: 5px 5px;position: relative;}
	div#js-attachment-files span.js-attachment-file-box input.js-form-input-field-attachment{width: 100%;max-width: 100%;max-height: 100%;}
	div#js-attachment-files span.js-attachment-file-box span.js-attachment-remove{background: url('../../images/close.png') no-repeat;background-size: 100% 100%;position: absolute;width: 20px;height: 20px;top: 9px;right: 6px;}
	div#js-attachment-option {display: inline-block;float: left;line-height: 15px;margin-top: 10px;width: 100%;font-size: 11px;}
	div#js-attachment-option span.js-attachment-ins{float: left; margin-bottom: 10px;}
	span#js-attachment-add{position: relative;display: inline-block;padding:12px 10px;cursor: pointer;margin-top: 10px;min-width: 120px;text-align: center;}

	/* Captcha */
	div.js-captcha-wrp{float: left;width: 100%;}
	div.js-captcha-wrp div.js-captcha-title{float: left;width: 100%;}
	div.js-captcha-wrp div.js-captcha-value{float: left;width: 100%;}
	div.js-captcha-wrp div.js-captcha-value input.js-captcha-field{width: 100% !important;padding: 20px 5px;margin-bottom: 0;border-radius: 0;box-shadow: unset !important;}

	/*Submit Button*/
	div.js-form-submit-btn-wrp{float: left;width: calc(100% - 40px);margin: 0px 20px;    margin-top: 0px;text-align: center;padding: 20px 0px 25px 0px;margin-top: 35px;}
	div.js-form-submit-btn-wrp input.js-save-button{padding: 14px 10px;margin-right: 10px;min-width: 120px;border-radius: 0px;border: 1px solid;font-weight: bold;}
	div.js-form-submit-btn-wrp a.js-cancel-button{display: inline-block;padding: 14px 10px;margin-right: 10px;min-width: 120px;border-radius: 0px; text-decoration:none;outline:0;text-decoration:none !important; outline:0px !important;}
