/* My Tickets */
	/* Count Box */
	div.js-ticket-top-cirlce-count-wrp{float: left;width: 100%;margin:20px 0px 0px 0px;}
	div.js-myticket-link{text-align:center;padding-bottom:20px;padding-left:5px;padding-right:5px; width: calc(100% / 5);}
	div.js-ticket-myticket-link-myticket{width: calc(100% / 4);}
	div.js-myticket-link a.js-myticket-link{display: inline-block;padding:15px 0px; text-decoration: none;min-width: 100%;text-decoration:none !important; outline:0px !important; }
	.js-mr-rp{margin: auto;}
	div.js-ticket-cricle-wrp{float: left;width: 100%;margin-bottom: 10px;}

	/* Search Portion */
	div.js-combine-search-wrapper{float: left;width: 100%;margin-bottom: 17px;}
	div.js-combine-search-wrapper div.js-heading-wrp{float: left;width: 100%;padding: 15px;}
	div.js-combine-search-form-wrp{float: left;width: 100%;}
	form.js-tk-combinesearch{float: left;width: 100%;margin: 0px;}
	div.js-filter-wrapper{float: left;width: 100%;padding: 15px; }
	div.js-filter-wrapper div.js-filter-form-fields-wrp{width:94%;float: left;}
	div.js-filter-wrapper div.js-filter-form-fields-wrp input.js-ticket-input-field{padding: 10px 10px;width: 100%;min-height: 50px;margin: 0;border-radius: unset;box-shadow: unset;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp{float: left;width: calc(100% / 2);margin-bottom: 10px;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp input.js-ticket-input-field{padding: 10px 10px;width: 100%;min-height: 45px;margin: 0;border-radius: unset;box-shadow: unset;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp select#filter_department{width: 100%;min-height: 45px;background: url(../../images/selecticon.png) 96% / 4% no-repeat;margin: 0px; border-radius: 0px;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp select#filter_priority{width: 100%;min-height: 45px;background: url(../../images/selecticon.png) 96% / 4% no-repeat;margin: 0px; border-radius: 0px;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp div.field-calendar{float: left;width: 100%;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp div.field-calendar div.input-append{float: left;width: 100%;margin-bottom: 0px;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp div.field-calendar div.input-append input{width:calc(100% - 44px) !important;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp div.field-calendar div.input-append button#filter_datestart_btn{display: inline-block;padding: 6px 0px;width: 44px;float: right;min-height: 45px;border:1px solid #dedede;border-left: 0px;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp div.field-calendar div.input-append button#filter_dateend_btn{display: inline-block;padding: 6px 0px;width: 44px;float: right;min-height: 45px;border:1px solid #dedede;border-left: 0px;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp div.field-calendar div.input-append button#filter_datestart_btn span.icon-calendar{display: inline-block;width: 100%;height: 100%;margin: 0px;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp div.field-calendar div.input-append button#filter_dateend_btn span.icon-calendar{display: inline-block;width: 100%;height: 100%;margin: 0px;}
	.icon-calendar::before {content: url(../../images/calender.png) !important;}

	div.js-filter-wrapper div.js-filter-title {width:100%;}
	div.js-filter-wrapper div.js-filter-button{padding-top: 10px; padding-bottom: 10px; display: inline-block; width: 100%; text-align: center;}
	div.js-filter-wrapper div.js-filter-button input[class="button"]{min-width: 90px;}
	div.js-filter-wrapper div.js-filter-value select{width:100%;}
	div.js-filter-button-wrp{float: left;width:100%;margin-top: 20px}
	div.js-filter-button-wrp .js-ticket-search-btn{min-width: 120px; float: left; border-radius: unset; margin-left: 10px; padding: 13px 0px;}
	div.js-filter-button-wrp .js-ticket-reset-btn{min-width: 120px; float: left; border-radius: unset; margin-left: 10px; padding: 13px 0px;}
	div#js-filter-wrapper-toggle-area div.js-filter-wrapper div.js-filter-value input.js-ticket-input-field{border-radius: unset;}
	div#js-filter-wrapper-toggle-area{float: left;width: 100%;padding: 20px 0px 0px;}
	div#js-filter-wrapper-toggle-btn{float: left;width: calc(100% - 94% - 5px);margin-left: 5px;}
	div#js-filter-wrapper-toggle-plus img.js-toggle-img{display: inline-block;width: auto;}
	div#js-filter-wrapper-toggle-minus img.js-toggle-img{display: inline-block;width: auto;}
	div#js-filter-wrapper-toggle-plus{float: left;width: 100%;cursor: pointer;padding: 15px 0px;text-align: center;}
	div#js-filter-wrapper-toggle-minus{float: left;width: 100%;cursor: pointer;padding: 16px 0px;text-align: center;}
	div#js-filter-wrapper-toggle-ticketid{display: none;}
	div#js-filter-wrapper-toggle-minus{display: none;}
	div#js-filter-wrapper-toggle-area{display: none;}
	span.js-filter-form-data-xs{display: none;}

	/*Sorting Portion */ 
	div#js-tk-sort-wrapper{padding-right: 0px;padding-left: 0px;margin-bottom: 15px;float: left;width: 100%;}
	div#js-tk-sort-wrapper ul#js-tk-sort-manu{margin: 0; padding: 0;float: left;width: 100%;}
	div#js-tk-sort-wrapper ul#js-tk-sort-manu li.js-tk-sort-manulink{float: left; list-style: none; width: 16.66%; text-align: center; }
	div#js-tk-sort-wrapper ul#js-tk-sort-manu li.js-tk-sort-manulink a{display:inline-block; position: relative; padding: 15px 5px; text-decoration: none; width: 100%;min-height: 49px; }
	div#js-tk-sort-wrapper ul#js-tk-sort-manu li.js-tk-sort-manulink a img{display: inline-block;vertical-align: text-top;}


/*my tickets lists*/
	div#js-tk-wrapper{width: 100%;float: left;margin: 8px 0px;padding-left: 0px;padding-right: 0px;}
	div#js-tk-wrapper div.js-icon {margin: 10px 0px;padding: 0px;padding: 0px 10px;text-align: center;position: relative;float: left;width: 16%;height: 85px;}
	div#js-tk-wrapper div.js-icon img.js-ticket-icon-img{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;max-width: 100%;max-height: 100%;}
	div#js-tk-wrapper div.js-middle{position: relative;padding: 25px 0px;}
	div#js-tk-wrapper div.js-middle div.js-tk-preletive{float: left;}
	div#js-tk-wrapper div.js-middle div.js-tk-pabsolute{float: right;}
	div#js-tk-wrapper div.js-middle div.js-tk-pabsolute span{color: #FFFFFF; padding: 5px 10px;border-radius: 20px;font-size:10px;}
	div#js-tk-wrapper div.js-middle span.js-tk-title{font-weight: bold;}
	div#js-tk-wrapper div.js-middle span.js-tk-value{padding-left: 5px;}
	div#js-tk-wrapper div.js-middle .js-tk-textwrap{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: inline-block;}
	div#js-tk-wrapper div.js-right{margin: 0px 0px;padding: 20px 0px;}
	div#js-tk-wrapper div.js-right span.js-tk-title{padding: 0;}
	div#js-tk-wrapper div.js-right span.js-tk-value{font-size: 12px; word-break: break-all;}
	div#js-tk-wrapper div.js-right span.js-tk-value.js-ticket-priorty-box{display: inline-block;padding: 5px 10px;min-width: 85px;text-align: center;}
	div#js-tk-wrapper div.js-bottom{border-top: 1px solid #999;}
	div#js-tk-wrapper div.js-bottom span.js-tk-date{padding-top: 10px; display: inline-block;}
	div#js-tk-wrapper div.js-bottom span.js-tk-actions{float: right;padding-top: 10px;  display: inline-block; }
	div#js-tk-wrapper div.js-bottom span.js-tk-actions a{padding: 5px 10px; margin: 0 5px; color: #fff; border:1px solid green; background-color: #2B517B; border-radius: 5px; text-decoration: none;}
	div#js-tk-wrapper div.js-bottom span.js-tk-actions :hover{color: black; border:1px solid black; background-color: #fff; }