
/* Tickets Details*/
	div#tk_detail_wraper{float: left;width: 100%;margin-top: 20px;}
	div.js-ticket-ticket-detail-wrapper{float: left;width: 100%;margin-top: 17px;}
	div.js-ticket-detail-wrapper{float: left;width: 100%; padding: 0px}
	div.js-ticket-detail-box{float: left;width: 100%;}
	div.js-ticket-detail-box div.js-ticket-detail-left{float: left;width: 20%;padding: 20px 5px 5px;}
	div.js-ticket-detail-left div.js-ticket-user-img-wrp{display:inline-block;width:100%;text-align: center;margin: 5px 0px;height: 105px;position: relative;}
	div.js-ticket-detail-left div.js-ticket-user-img-wrp img.js-ticket-staff-img{width: auto;max-width: 100%;max-height: 100%;height: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
	div.js-ticket-detail-left div.js-ticket-user-name-wrp{display:inline-block;width:100%;text-align: center;margin: 5px 0px;}
	div.js-ticket-detail-left div.js-ticket-user-email-wrp{display:inline-block;width:100%;text-align: center;margin: 5px 0px;word-break: break-all;}
	div.js-ticket-detail-box div.js-ticket-detail-right{float: left;width: calc(100% - 20%);}
	div.js-ticket-detail-box div.js-ticket-detail-right div.js-ticket-rows-wrapper{float: left;min-height: 150px;width: 100%;}
	div.js-ticket-detail-box div.js-ticket-detail-right div.js-ticket-rows-wrp{float: left;width: 100%;position: relative;padding:20px 20px 0px 20px;}
	div.js-ticket-detail-right div.js-ticket-row{float: left;width: 100%;padding: 0px 0 8px 0px;}
	div.js-ticket-detail-right div.js-ticket-row div.js-ticket-field-title{display: inline-block;width:auto;margin: 0px 5px 0px 0px;}
	div.js-ticket-detail-right div.js-ticket-row div.js-ticket-field-value{display: inline-block;width:auto;}
	div.js-ticket-status-note{display: inline-block;}
	div.js-ticket-detail-right div.js-ticket-row div.js-ticket-field-value.js-ticket-priorty{padding: 3px;min-width: 120px;text-align: center;}
	div.js-ticket-detail-right div.js-ticket-openclosed-box{display: inline-block;position: absolute;padding: 20px 5px; text-align: center;right: 10px;font-weight:bold;min-width: 80px;}
	div.js-ticket-detail-right div.js-ticket-right-bottom{display: inline-block;float: left;width: 100%;padding:10px 0px 0px 20px;}
	div.js-ticket-detail-wrapper div.js-ticket-action-btn-wrp{display: inline-block;float: left;width: 100%; padding:8px 5px;}
	div.js-ticket-detail-wrapper div.js-ticket-action-btn-wrp div.js-ticket-btn-box{display: inline-block;float: left;min-width:89px;text-align: center;margin-right: 5px;margin-left: 5px; margin-bottom: 5px;margin-top: 5px;}
	div.js-ticket-detail-wrapper div.js-ticket-action-btn-wrp div.js-ticket-btn-box a.js-button{display: inline-block;width: 100%;padding: 5px;text-decoration: none;outline:0px;}
	div.js-ticket-detail-wrapper div.js-ticket-more-actions-btn-wrp{display: inline-block;width: 100%;float: left;z-index: 9;text-align: center;}
	div#action-div div.js-row{display: inline-block; border-top: 1px solid #ddeeee;width:60%;margin:0px 20%;padding-top: 10px;margin-top: 10px;}
		
	div.js-ticket-post-reply-wrapper {float: left;width: 100%;margin-top: 20px;}
	div.js-ticket-post-reply-wrapper div.js-ticket-thread-heading{display: inline-block;width: 100%;padding: 13px 15px;font-size: 18px;margin-bottom: 20px;}
	div.js-ticket-post-reply-box{margin-bottom: 20px;}
	
	div.js-ticket-attachments-wrp{display: inline-block;width: calc(100% - 40px); margin:0px 20px;padding: 15px 0px 10px 0px;}
	div.js-ticket-attachments-wrp div.js_ticketattachment{display: inline-block;width: calc(100% / 2 - 10px);padding: 5px 5px;margin: 0px 5px 10px;float:left;}
	div.js-ticket-attachments-wrp div.js_ticketattachment span.js-ticket-download-file-title{padding: 4px 0px;display: inline-block;float: left; word-wrap: unset;word-break: break-all;width: 85%;}
	div.js-ticket-attachments-wrp div.js_ticketattachment a.js-download-button{display: inline-block;width: auto;padding: 3px 3px;text-align: center;float: right;text-decoration:none !important; outline:0px !important; }
	div.js-ticket-attachments-wrp div.js_ticketattachment a.js-download-button img.js-ticket-download-img{vertical-align:unset;text-decoration:none !important; outline:0px !important; }
	div.js-ticket-attachments-wrp a.js-all-download-button{display: inline-block;padding: 9px 5px;text-align: center;min-width: 145px;margin-left: 5px;text-decoration:none !important; outline:0px !important; }
	div.js-ticket-attachments-wrp a.js-all-download-button img.js-ticket-all-download-img{vertical-align: baseline;margin-right: 5px;text-decoration:none !important; outline:0px !important; }
	
	div.js-ticket-edit-options-wrp{float: left;width: calc(100% - 40px);padding: 15px 0px;margin: 5px 20px 0px;}
	div.js-ticket-edit-options-wrp a.js-button{display: inline-block;width:auto;padding: 5px;text-decoration:none !important; outline:0px !important; }
	div.js-ticket-field-value p {margin: 0px;line-height: 30px;}
	div.js-ticket-time-stamp-wrp{float: left;width: calc(100% - 40px);margin: 5px 20px 0px;}
	div.js-ticket-time-stamp-wrp span.js-ticket-ticket-created-date{display: inline-block;float: right;padding: 10px 10px;font-size: 14px;}
	
	/* Post Reply Section */
	div.js-ticket-reply-forms-wrapper {float:left;width: 100%;}
	div.js-ticket-reply-forms-heading{display: inline-block;width: 100%;padding: 13px 15px;font-size: 18px;margin-bottom: 20px;}
	div.js-ticket-post-reply{display: inline-block;width: 100%;}
	div.js-ticket-reply-field-wrp{display: inline-block;width: 100%;}
	div.js-ticket-reply-attachments{display: inline-block;width: 100%;margin-bottom: 20px;}
	div.js-ticket-reply-attachments div.js-attachment-field-title{display: inline-block;width: 100%;padding: 15px 0px;}
	div.js-ticket-reply-attachments div.js-attachment-field{display: inline-block;width: 100%;}
	
	/*Attachments*/
	div.js-attachment-wrp{float: left;width: 100%;margin-bottom: 17px;}
	div.js-attachment-wrp div.js-form-title{float: left;width: 100%;margin-bottom: 10px;}
	div.js-attachment-files-wrp{float: left;width: 100%;}
	div#js-attachment-files{width: 100%;display: inline-block;float: left;}
	div#js_attachment_files_internalnote{width: 100%;display: inline-block;float: left;}
	span.js-attachment-file-box{float: left;width: calc(100% / 2 - 10px);padding: 5px 5px;margin: 5px 5px;position: relative;}
	span.js-attachment-file-box{float: left;width: calc(100% / 2 - 10px);padding: 5px 5px;margin: 5px 5px;position: relative;}
	span.js-attachment-file-box input.js-form-input-field-attachment{width: 100%;max-width: 100%;max-height: 100%;}
	span.js-attachment-file-box span.js-attachment-remove{background: url('../../images/close.png') no-repeat;background-size: 100% 100%;position: absolute;width: 20px;height: 20px;top: 9px;right: 6px;}
	div#js-attachment-option {display: inline-block;float: left;line-height: 15px;margin-top: 10px;width: 100%;font-size: 11px;}
	div#js-attachment-option span.js-attachment-ins{float: left; margin-bottom: 10px;}
	span#js-attachment-add{position: relative;display: inline-block;padding:12px 10px;cursor: pointer;margin-top: 10px;min-width: 120px;text-align: center;}
	span#js_attachment_add_internal{position: relative;display: inline-block;padding:12px 10px;cursor: pointer;margin-top: 10px;min-width: 120px;text-align: center;}

	div.js-ticket-closeonreply-wrp{float: left;width: 100%; margin-bottom: 10px;}
	div.js-ticket-closeonreply-wrp div.js-ticket-closeonreply-title{float: left;width: 100%;margin-bottom: 10px;}
	div.js-ticket-closeonreply-wrp div.js-form-title-position-reletive-left{width: 100%;padding: 10px;float: left;}
	div.js-ticket-reply-form-button-wrp{float: left;width: 100%;text-align: center;padding: 20px 0px 0px;margin-top: 40px;}
	div.js-ticket-reply-form-button-wrp input.js-ticket-save-button{min-width:120px;padding: 15px 5px;border-radius: 0px;line-height: unset;}
	div.js-ticket-reply-form-button-wrp a.js-ticket-cancel-button{min-width:120px;padding: 14px 5px;border-radius: 0px;display: inline-block;text-decoration:none !important; outline:0px !important; }
	div.replyFormStatus{width: 50%;padding: 10px;}
	div.replyFormStatus{width: 50%;padding: 10px;}

	/* Js Ticket Error Pages */
	div.js-ticket-error-message-wrapper{float: left;width: 100%;padding: 30px;}
	div.js-ticket-error-message-wrapper div.js-ticket-message-image-wrapper{float: left;width: 100%;text-align: center;}
	div.js-ticket-error-message-wrapper div.js-ticket-message-image-wrapper div.js-ticket-message-image{display: inline-block;max-width: 100%;}
	div.js-ticket-messages-data-wrapper{float: left;width: 100%;text-align: center;margin-top: 20px;}
	div.js-ticket-messages-data-wrapper span.js-ticket-messages-main-text{display: inline-block; float: left;width: 100%;font-size: 20px;margin-bottom: 10px;}
	div.js-ticket-messages-data-wrapper span.js-ticket-messages-block_text{display: inline-block; float: left;width: 100%;font-size: 20px;}
	span.js-ticket-user-login-btn-wrp{float: left;width: 100%;text-align: center;padding: 30px;}
	span.js-ticket-user-login-btn-wrp a.js-ticket-login-btn{display: inline-block; min-width: 120px;text-align: center;padding: 11px 5px;margin-right: 10px;}
	span.js-ticket-user-login-btn-wrp a.js-ticket-register-btn{display: inline-block; min-width: 120px;text-align: center;padding: 11px 5px;}
	div.frontend p{margin:0px;}
	div.frontend.error{background:url(../../images/notsaved.png) 12px 15px no-repeat #ffd2d3; color:#871414;border:1px solid #871414;box-sizing:border-box;padding: 15px;text-indent: 30px;margin-bottom: 10px; width: 100%;}
	div.frontend.updated{background:url(../../images/saved.png) 12px 15px no-repeat #dff0d8; color:#5ca340;border:1px solid #5ca340;box-sizing:border-box;display: inline-block;padding: 15px;text-indent: 30px;margin-bottom: 10px;width: 100%;}
