//Footer
footer.footer
	.container.footer__inner

		.footer__logo-wrapper
			a(href="index.html").logo.footer__logo
				img(src="img/logo-white.png", alt="Logo")
			.footer__email
				a(href="mailto:info@example.com").footer__email-link info@example.com

		.footer__content

			.footer__lists
				ul.footer__list
					li.footer__list-item.active
						a(href="exchange.html").footer__list-link Exchange
					li.footer__list-item
						a(href="about-us.html").footer__list-link About us
					li.footer__list-item
						a(href="faq.html").footer__list-link FAQ
					li.footer__list-item
						a(href="contacts.html").footer__list-link Contacts
					li.footer__list-item
						a(href="news.html").footer__list-link News
				ul.footer__list
					li.footer__list-item.hidden-mobile
						a(href="index.html#chat").footer__list-link CHAT
					li.footer__list-item.hidden-desktop
						a(href="#" data-modal="#modal-chat").footer__list-link CHAT
					li.footer__list-item
						a(href="rates.html").footer__list-link Rates
					li.footer__list-item
						a(href="agreement.html").footer__list-link Agreement
					li.footer__list-item
						a(href="reserves.html").footer__list-link Reserves
					li.footer__list-item
						a(href="feedback.html").footer__list-link Feedback

			.footer__social
				a(href="#").social-link.social-link--fb.footer__social-link
					i(class="fab fa-facebook-f")
				a(href="#").social-link.social-link--vk.footer__social-link
					i(class="fab fa-vk")
				a(href="#").social-link.social-link--tw.footer__social-link
					i(class="fab fa-twitter")
				a(href="#").social-link.social-link--ins.footer__social-link
					i(class="fab fa-instagram")

			.footer__twitter
				a.twitter-timeline(data-width='300', data-height='300', data-dnt='true', data-theme='light', href='https://twitter.com/TwitterMusic/timelines/393773266801659904?ref_src=twsrc%5Etfw') Music Superstars - Curated tweets by TwitterMusic
				script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')

		.footer__copy copyright © 2014-2020 all rights reserved


a(href="#" data-modal="#modal-chat").chat-floating-btn
	button.close-button
	| Live chat with users

button.to-top-button