meta(charset="utf-8")

title Exchanger
meta(name="description" content="")
meta(name="keywords" content="")
//- meta(name="author" content="Fort")
meta(name="robots" content="index,all")

meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

//- meta(property="og:image" content="path/to/image.jpg")
link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
//Stylesheets
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic', rel='stylesheet')
//- link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay', crossorigin='anonymous')
link(rel="stylesheet" href="libs/bootstrap/css/bootstrap-reboot.min.css")
link(rel="stylesheet" href="libs/bootstrap/css/bootstrap-grid.min.css")
link(rel="stylesheet" href="libs/jquery-ui/jquery-ui.min.css")
link(rel="stylesheet" href="libs/jquery-ui/jquery-ui.structure.min.css")
link(rel="stylesheet" href="libs/jquery.selectBoxIt.js/jquery.selectBoxIt.min.css")
//- link(rel="stylesheet" href="libs/owlcarousel/owl.carousel.min.css")
//- link(rel="stylesheet" href="libs/airdatepicker/datepicker.min.css")
link(rel="stylesheet" href="libs/fontawesome/css/fontawesome.min.css")
link(rel="stylesheet" href="libs/fontawesome/css/brands.min.css")
//- link(rel="stylesheet" href="libs/select2/select2.min.css")
//- link(rel="stylesheet" href="libs/aos/aos.css")
//- link(rel="stylesheet" href="libs/magnific-popup/magnific-popup.css")
//- link(rel="stylesheet" href="libs/animate.css/animate.css")
link(rel="stylesheet" href="css/style.css")
//- link(rel="stylesheet" href="css/style.min.css")
