//Main content
main.main

	section.reserves.reserves--reserves-page
		.container
			h2.h2.reserves__title Our Reserves

			.reserves__inner
				- for (let i = 0; i < 2; ++i)
					ul.currencies-list.reserves__currencies-list
						- for (let i = 0; i < 2; ++i)
							li.currencies-list__item.reserves__currencies-list-item
								.currencies-list__currency.currencies-icon.currencies-icon--bitcoin Bitcoin
								.currencies-list__ammount 2.389 BTC
							li.currencies-list__item.reserves__currencies-list-item
								.currencies-list__currency.currencies-icon.currencies-icon--ethereum Ethereum
								.currencies-list__ammount 85 ETH
							li.currencies-list__item.reserves__currencies-list-item
								.currencies-list__currency.currencies-icon.currencies-icon--ethereum-classic Ethereum Classic
								.currencies-list__ammount 159.4 ETC
							li.currencies-list__item.reserves__currencies-list-item
								.currencies-list__currency.currencies-icon.currencies-icon--stellar-lumens Stellar Lumens
								.currencies-list__ammount 439 XLM
							li.currencies-list__item.reserves__currencies-list-item
								.currencies-list__currency.currencies-icon.currencies-icon--neo Neo
								.currencies-list__ammount 439 neo
							li.currencies-list__item.reserves__currencies-list-item
								.currencies-list__currency.currencies-icon.currencies-icon--dash Dash
								.currencies-list__ammount 188.5 dash
							li.currencies-list__item.reserves__currencies-list-item
								.currencies-list__currency.currencies-icon.currencies-icon--ripple Ripple
								.currencies-list__ammount 10 XRP
							li.currencies-list__item.reserves__currencies-list-item
								.currencies-list__currency.currencies-icon.currencies-icon--webmoney Webmoney check
								.currencies-list__ammount 1 PWMZ
							li.currencies-list__item.reserves__currencies-list-item
								.currencies-list__currency.currencies-icon.currencies-icon--webmoney Webmoney check
								.currencies-list__ammount 43.389 PWMZ

			a(href="exchange.html").btn.btn--filled.reserves__see-more Exchange

	include components/_how-can-i-exchange

	include components/_want-to-exchange

	include components/_payment-systems