//Main content
main.main.main--exchange

  .exchange-steps
    .container.exchange-steps__container

      .exchange-steps__content
        .exchange-steps__content-inner.exchange-step-3
          .exchange-steps__top
            span BID ID 1790
            span waiting for a payment
          .exchange-step-3__rate Rate 24.83405
          .exchange-steps__currencies
            div
              span I give #[span.info-btn(data-popup-target="info-popup-exchange-1" data-popup-left="-75" data-popup-top="20")]
              .exchange-steps__currency
                span 1.05
                span
                  span.currencies-icon.currencies-icon--bitcoin
                  span btc
            div
              .exchange-steps__currencies-swap
            div
              span I receive #[span.info-btn(data-popup-target="info-popup-exchange-2" data-popup-left="-100" data-popup-top="20")]
              .exchange-steps__currency
                span 18 540.03
                span
                  span.currencies-icon.currencies-icon--webmoney
                  span pwmz

          .exchange-step-3__application The application is always available in #[a(href="account.html") your account]
          .exchange-step-3__warning
            b For the transaction follow the following instructions.
            p Pass on #[a(href="#") link] or go to your wallet and set Bitcoin 1.05 BTC to the following address
            p Bitcoin is returned minus a transfer fee. Be careful when sending Bitcoin, transfer the amount indicated in the application!

          .exchange-step-3__info
            div
              span Recipient address
              span 4455GTRDFGJHfgjfgkspoorwpepq6633441155
            div
              span Transfer amount
              span 1.05 BTC

          .info-popup(id="info-popup-exchange-1")
            p.info-popup__text It begins with you fixing a certain sales commission rate, which is a percentage of the sales value. Keep track of the amount of sales every single employee generates, then multiply the sales commission rate of each employee by the amount of sales he makes.
          .info-popup(id="info-popup-exchange-2")
            p.info-popup__text It begins with you fixing a certain sales commission rate, which is a percentage of the sales value. Keep track of the amount of sales every single employee generates, then multiply the sales commission rate of each employee by the amount of sales he makes.


      .exchange-steps__sidebar
        ul
          li
            span choose currency &amp; amount
          li
            span additionatal information
          li.active
            span payment of exchange


  .altnews-section
    .container
      .altnews__title Interesting about cryptocurrency

      .altnews
        .altnews__item
          .altnews__item-img-block
            img.altnews__item-img(src="img/news/1.jpg", alt="")
          .altnews__item-content
            .altnews__item-title In which countries is mining most popular?
            .altnews__item-date March 17, 2019
            .altnews__item-text One of the ways to earn money on a cryptocurrency is mining. But there is one important point: if even a few years ago even ordinary users could extract Bitcoins, then the increasing complexity of the Bitcoin network made the extraction of this cryptocurrency in the home environment irrational.
            a(href="#").arrow-btn.altnews__item-read-more-btn Read more
        .altnews__item
          .altnews__item-img-block
            img.altnews__item-img(src="img/news/2.jpg", alt="")
          .altnews__item-content
            .altnews__item-title 13 types of crypto traders: which one are you?
            .altnews__item-date March 17, 2019
            .altnews__item-text One of the ways to earn money on a cryptocurrency is mining. But there is one important point: if even a few years ago even ordinary users could extract Bitcoins, then the increasing complexity of the Bitcoin network made the extraction of this cryptocurrency in the home environment irrational.
            a(href="#").arrow-btn.altnews__item-read-more-btn Read more

      .altnews-section__btn-group
        a(href="#").btn.btn--accent.altnews-section__btn Read blog about crypto



  include components/_want-to-exchange

  include components/_payment-systems