//Main content
main.main

  .account
    .container.account__container
      .account-content

        .account-ticket-details
          .account-title.account-ticket-details__title Ticket # 381515

          .account-ticket-details-info
            span General issues
            a(href="#" data-modal="#modal-transaction-details").account-ticket-details-info__details-link Details of Transaction

          .account-ticket-details-comments

            - for (let i = 0; i < 2; i++)
              .account-ticket-details-comment.account-ticket-details-comment--admin
                div
                  span John Smith
                  span 20/03/2019 08:45
                div
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit

              .account-ticket-details-comment
                div
                  span Poul
                  span 20/03/2019 08:45
                div
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit

          form.account-ticket-details-form
            .feedback-message.account-ticket-details-form__message
              textarea#write-feedback(name="ticket-details-message" required).feedback-message__textarea
              button.feedback-message__btn
            .account-ticket-details-form__controls
              a(href="account-tickets.html").back-btn Back
              .attachment-link
                label(for="attachment-1") Upload attachment
                input#attachment-1(type="file" name="ticket-details-attachment")


      .account-sidebar
        ul.account-sidebar__list
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--details(href="account.html") Account#[br]details
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--history(href="account-history.html") Operations#[br]history
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--wallets(href="account-wallets.html") My wallets &amp;#[br]сards
          li.account-sidebar__list-item.active
            a.account-sidebar__list-link.account-sidebar__list-link--tickets(href="account-tickets.html") My tickets

