//Main content
main.main
	//- div
	//- 	a(href="#" data-modal="#modal-need-more") Need more?
	//- div
	//- 	a(href="#" data-modal="#modal-exchange") Exchange icon
	//- div
	//- 	a(href="#" data-modal="#modal-chat") Chat

	.container
		include components/_exchanger
		+exchanger({extraCls: "exchanger--main", number: 1})

	#chat.just-exchanged
		.container.just-exchanged__row
			.just-exchanged__col
				.just-exchanged__title Just exchanged
				.just-exchanged__lists
					ul.just-exchanged__text-list
						li.just-exchanged__text-list-item.active Just exchanged
						- for (var i = 0; i < 4; ++i)
							li.just-exchanged__text-list-item Just exchanged
							li.just-exchanged__text-list-item Just exchanged
							li.just-exchanged__text-list-item Just exchanged
						li.just-exchanged__text-list-item Just exchanged
						li.just-exchanged__text-list-item Just exchanged
					ul.just-exchanged__value-list-1
						li.just-exchanged__value-list-1-item.active 0.05 BTC
						- for (var i = 0; i < 4; ++i)
							li.just-exchanged__value-list-1-item 0.05 BTC
							li.just-exchanged__value-list-1-item 15 ETH
							li.just-exchanged__value-list-1-item 4000 DASH
						li.just-exchanged__value-list-1-item 0.05 BTC
						li.just-exchanged__value-list-1-item 15 ETH
					ul.just-exchanged__value-list-2
						li.just-exchanged__value-list-2-item.active 30 412.08 UAH
						- for (var i = 0; i < 4; ++i)
							li.just-exchanged__value-list-2-item 30 412.08 UAH
							li.just-exchanged__value-list-2-item 0.0002 BTC
							li.just-exchanged__value-list-2-item 15 021 RUR
						li.just-exchanged__value-list-2-item 30 412.08 UAH
						li.just-exchanged__value-list-2-item 0.0002 BTC

			.just-exchanged__col
				.just-exchanged__title.just-exchanged__title--chat Sign up &amp; connect to chat

				include components/chat/_chat

						//- form.chat__send
							textarea(name="chat-message").chat__send-message
							button.chat__send-btn

	//- .just-exchanged-popup
	//- 	button.close-button.just-exchanged-popup__close
	//- 	.just-exchanged-popup__text Just exchanged
	//- 	.just-exchanged-popup__currencies
	//- 		span.just-exchanged-popup__currency-1 4 000 DASH
	//- 		span.just-exchanged-popup__currency-2 40 000 RUR


	include components/_how-can-i-exchange

	section.benefits
		.container.benefits__container
			h2.h2.benefits__title Our benefits

			.benefits__items
				.benefits__item.benefits__item--1
					.benefits__item-title Automatic#[br]exchange
					.benefits__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				.benefits__item.benefits__item--2
					.benefits__item-title Support#[br]24 / 7 / 365
					.benefits__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				.benefits__item.benefits__item--5
					.benefits__item-title Referral#[br]program
					.benefits__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				.benefits__item.benefits__item--6
					.benefits__item-title Certificate#[br]of safety
					.benefits__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				.benefits__item.benefits__item--3
					.benefits__item-title Bonuses &amp;#[br]discounts
					.benefits__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				.benefits__item.benefits__item--4
					.benefits__item-title Full#[br]privacy
					.benefits__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				.benefits__item.benefits__item--7
					.benefits__item-title Protect#[br]your account
					.benefits__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				.benefits__item.benefits__item--8
					.benefits__item-title Special#[br]server
					.benefits__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip


	section.reserves.reserves--only-desktop
		.container
			h2.h2.reserves__title Our Reserves

			.reserves__inner
				- for (var i = 0; i < 2; ++i)
					ul.currencies-list.reserves__currencies-list
						li.currencies-list__item.reserves__currencies-list-item
							.currencies-list__currency.currencies-icon.currencies-icon--bitcoin Bitcoin
							.currencies-list__ammount 2.389 BTC
						li.currencies-list__item.reserves__currencies-list-item
							.currencies-list__currency.currencies-icon.currencies-icon--ethereum Ethereum
							.currencies-list__ammount 85 ETH
						li.currencies-list__item.reserves__currencies-list-item
							.currencies-list__currency.currencies-icon.currencies-icon--ethereum-classic Ethereum Classic
							.currencies-list__ammount 159.4 ETC
						li.currencies-list__item.reserves__currencies-list-item
							.currencies-list__currency.currencies-icon.currencies-icon--stellar-lumens Stellar Lumens
							.currencies-list__ammount 439 XLM
						li.currencies-list__item.reserves__currencies-list-item
							.currencies-list__currency.currencies-icon.currencies-icon--neo Neo
							.currencies-list__ammount 439 neo
						li.currencies-list__item.reserves__currencies-list-item
							.currencies-list__currency.currencies-icon.currencies-icon--dash Dash
							.currencies-list__ammount 188.5 dash

			a(href="reserves.html").btn.btn--accent.reserves__see-more See more reserves


	include components/_tabs-section

	include components/_news-section

	include components/_want-to-exchange

	include components/_payment-systems