//Main content
main.main.main--exchange

  .exchange-steps
    .container.exchange-steps__container

      .exchange-steps__content
        .exchange-steps__content-inner.exchange-step-2
          .exchange-steps__top
            span Rate 24.83405
            span Wait time 1 min (up to 1 h)
          .exchange-steps__currencies
            div
              span I give
              .exchange-steps__currency
                span 1.05
                span
                  span.currencies-icon.currencies-icon--bitcoin
                  span btc
            div
              .exchange-steps__currencies-swap
            div
              span I receive
              .exchange-steps__currency
                span 18 540.03
                span
                  span.currencies-icon.currencies-icon--webmoney
                  span pwmz

          form.exchange-step-2__form
            .exchange-step-2__input
              label Bitcoin address, BTC
              input(type="text" name="exchange-step-2-currency-1" required)
            .exchange-step-2__input
              label Wallet, PWMZ
              input(type="text" name="exchange-step-2-currency-2" required)
            .exchange-step-2__input
              label Surname
              input(type="text" name="exchange-step-2-surname" required)
            .exchange-step-2__input
              label Name
              input(type="text" name="exchange-step-2-name" required)
            .exchange-step-2__input
              label Email
              input(type="email" name="exchange-step-2-email" required)

            .exchange-step-2__checkboxes
              .form-checkbox-group.exchange-step-2__checkbox
                input#exchange-checkbox-1.form-checkbox-group__input(type="checkbox" name="exchange-checkbox-1" required)
                label.form-checkbox-group__label(for="exchange-checkbox-1") I agree to the #[a(href="#") User agreement] (read please)

              .form-checkbox-group.exchange-step-2__checkbox
                input#exchange-checkbox-2.form-checkbox-group__input(type="checkbox" name="exchange-checkbox-2" required)
                label.form-checkbox-group__label(for="exchange-checkbox-2") I agree to the #[a(href="#") Regulations] (read please)

            textarea(name="exchange-step-2-message").exchange-step-2__textarea

            .exchange-step-2__btn-group
              |<!--
              button.btn.btn--filled.btn--wide-md Confirm Exchange
              |-->
              a(href="exchange-3.html").btn.btn--filled.btn--wide-md Confirm Exchange

            .exchange-step-2__wain-mobile Wait time 1 min (up to 1 h)



      .exchange-steps__sidebar
        ul
          li
            span choose currency &amp; amount
          li.active
            span additionatal information
          li
            span payment of exchange


  include components/_want-to-exchange

  include components/_payment-systems