//Main content
main.main

  .container

    .text-section

      h1 News Title

      img(src="img/news/sample.jpg", alt="")

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ipsum, ducimus quidem voluptatem, magni rerum cum aut harum cupiditate dolor impedit, at porro totam obcaecati repellat eum, nulla reprehenderit eos. Beatae voluptate reiciendis ut esse veritatis aut est pariatur delectus, assumenda dicta enim a fugiat? Est exercitationem, ab iste doloribus cupiditate illum, earum officiis maxime quaerat eius praesentium iure? Quas repellat eligendi quibusdam culpa, quo saepe. Accusamus esse, placeat modi ratione aspernatur officiis magnam, qui sint natus, ea ipsam suscipit. Enim perferendis eum dolorum deleniti provident similique tenetur veniam. Omnis maxime at, delectus deleniti quasi facilis aspernatur, dolores ab earum dolor neque ipsa ex quod nulla modi aut dolorum labore doloribus iure et aliquam, sit! Quis, dicta beatae nam! Deserunt accusamus, reprehenderit, alias suscipit itaque aspernatur. Voluptates soluta velit provident, laboriosam odio autem. Mollitia aliquid, quisquam. Magnam praesentium fugit error molestiae eligendi unde, dignissimos architecto ullam! Facere earum, sint tenetur eum et impedit perspiciatis ea harum id quod sunt, odio. Cum, iure maxime quasi quam veniam animi cumque veritatis totam ipsa suscipit est sapiente tenetur rem! Quas molestias, saepe. Est alias illo, ipsa necessitatibus possimus fugiat odit numquam doloremque at ipsam, quibusdam accusantium esse. Animi non, repudiandae laborum placeat. Ut.

      h2 Some title

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quas asperiores aspernatur atque accusantium, repellat eos doloribus, nisi unde architecto. Optio facilis excepturi ex dicta possimus, modi iure culpa eaque delectus, minima pariatur nisi distinctio ipsa veniam. Deserunt adipisci amet nemo nam excepturi, perferendis, aliquam dicta iusto, eveniet assumenda consequatur! Eaque sunt, deleniti cum assumenda aperiam ex enim explicabo eos, non odio sapiente optio ipsa maiores, perspiciatis accusamus voluptate ea adipisci est ad ratione aliquam. Ipsum, quod est assumenda! Atque sint eligendi asperiores dolores impedit nulla, earum necessitatibus distinctio doloribus, quo enim nostrum natus soluta praesentium fuga laborum similique repellat expedita sequi. Dicta animi, hic nam maiores suscipit? Magni beatae adipisci deserunt, explicabo ab cumque quisquam tempore inventore quibusdam quae eligendi necessitatibus vero repellendus libero voluptate tenetur tempora perspiciatis optio dolor repellat, quasi molestias saepe, iste nobis excepturi. Tenetur beatae deserunt, ut dignissimos qui ab quod, quos? Optio rem pariatur ab reprehenderit molestias, fuga aperiam similique hic earum, quidem tempora blanditiis asperiores accusantium quo. Necessitatibus dolor reiciendis optio iure voluptates saepe, pariatur ad quasi vitae nisi! Enim amet ducimus ad, magni sapiente rerum quasi veritatis qui natus fugit corporis, maiores suscipit deleniti voluptates eius commodi nisi voluptatem libero blanditiis provident pariatur magnam, aut? Dicta, doloremque at veritatis assumenda repellendus impedit modi exercitationem quos dignissimos ullam sapiente totam fugiat molestias fugit sint qui quis porro odit vitae, commodi velit est nobis. Sit doloremque culpa magnam molestias tempora sint explicabo aspernatur animi ullam dolorum perspiciatis vel temporibus odit, qui porro ratione atque repellendus recusandae optio cum. Nesciunt rem commodi ratione illo suscipit. Officia rem, consequatur sunt fugiat porro itaque molestiae inventore dolor error nostrum? Sint, vel consequatur id! Ducimus totam unde dicta ipsam reprehenderit, iste. Velit odio atque libero, ut asperiores corrupti. Omnis odit doloremque adipisci fugiat est vero quas, quos accusamus.

      h3 Smaller title

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos vel magni modi ratione molestiae voluptates distinctio illum cumque corrupti aspernatur delectus, mollitia nisi, quo nesciunt. Soluta tenetur, enim ab iste debitis, praesentium a omnis iure libero quibusdam reprehenderit sapiente facilis repudiandae nihil quisquam sequi! Minus pariatur adipisci repellendus dicta error obcaecati ex doloremque quam nobis, dolores omnis voluptatum ad, eum possimus ut amet, ipsa rerum rem molestias libero veritatis exercitationem distinctio velit. Ipsam sequi saepe dolores pariatur, rem voluptatum dolorum voluptates voluptatem voluptate debitis porro eos est quo natus repudiandae odit, animi sint iure quia, nihil autem consequuntur voluptatibus illo? Quidem dolore tempore ipsam, voluptates illum quo beatae eligendi, necessitatibus hic quos suscipit reprehenderit aut repellat facere omnis nobis inventore iusto sed tenetur rerum porro saepe officia culpa! Architecto soluta, cum corporis et modi inventore debitis ducimus voluptatibus asperiores dolores delectus libero, placeat voluptates omnis est laboriosam dolorem tempore repellat eum quam tenetur, doloremque tempora cumque ipsa doloribus. Eum ea accusantium porro, numquam hic sunt earum, ex! Id sunt iure eveniet aut consectetur veritatis, tempore illo assumenda dolorum culpa accusantium error nostrum, nulla reiciendis neque placeat voluptas, possimus, doloremque dolore! Blanditiis deleniti voluptas beatae necessitatibus, hic a odit sit ab?

      h4 Smaller title
      h5 Smaller title
      h6 Smaller title