//Main content
main.main

	form.contact-form
		h1.contact-form__title Online communication with customer support
		.contact-form__subtitle The schedule of technical support services is from 9:00 to 21:00
		.form-select-group
			label.form-select-group__label Theme*
			select(name="contact-form-theme" required).form-select-group__select
				option(value="") Choose
				option(value="0") General issues
				option(value="1") Site bags
				option(value="2") Site bags
				option(value="3") Site bags
		.form-group
			label.form-group__label Name*
			input.form-group__input(type="text" name="contact-form-name" required)
		.form-group
			label.form-group__label Email*
			input.form-group__input(type="email" name="contact-form-email" required)
		.form-group
			label.form-group__label Transaction number
			input.form-group__input(type="text" name="contact-form-transaction-number")
		.form-group
			label.form-group__label Description*
			textarea.form-group__textarea(name="contact-form-message" required)
		.form-button-group.contact-form__button-group
			button.btn.btn--filled.form-button-group__btn(type="submit") Send
			button.btn.form-button-group__btn(type="button" data-modal-close) Cancel