//Main content
main.main

	.container
		.exchange-rate-hero
			h1.h2 Exchange rates
			.exchange-rate-hero__subtitle Сhoose currency

			include components/_exchanger-rates
			+exchanger()

	.container


		- for (let i = 0; i < 2; i++)
			.rates
				.rates__top
					.rates__heading.rates__heading--ic-webmoney Webmoney check
				ul.rates__list
					- for (let i = 0; i < 2; i++)
						li.rates__list-item
							.rates__list-currency-1.rates__list-icon.rates__list-icon--webmoney Webmoney check, PWMZ
							.rates__list-arrow
								button.rates__list-arrow-btn
							.rates__list-currency-2.rates__list-icon.rates__list-icon--litecoin Litecoin, LTC
							.rates__list-rate
								span 43.389 PWMZ
								span 1 LTC
						li.rates__list-item
							.rates__list-currency-1.rates__list-icon.rates__list-icon--webmoney Webmoney check, PWMZ
							.rates__list-arrow
								button.rates__list-arrow-btn
							.rates__list-currency-2.rates__list-icon.rates__list-icon--payeer Payeer, USD
							.rates__list-rate
								span 1 PWMZ
								span 1.38 USD
						li.rates__list-item
							.rates__list-currency-1.rates__list-icon.rates__list-icon--webmoney Webmoney check, PWMZ
							.rates__list-arrow
								button.rates__list-arrow-btn
							.rates__list-currency-2.rates__list-icon.rates__list-icon--qiwi Qiwi, RUR
							.rates__list-rate
								span 1 PWMZ
								span 66.21 RUR

			.rates
				.rates__top
					.rates__heading.rates__heading--ic-bitcoin Bitcoin
				ul.rates__list
					- for (let i = 0; i < 2; i++)
						li.rates__list-item
							.rates__list-currency-1.rates__list-icon.rates__list-icon--bitcoin Bitcoin, BTC
							.rates__list-arrow
								button.rates__list-arrow-btn
							.rates__list-currency-2.rates__list-icon.rates__list-icon--litecoin Litecoin, LTC
							.rates__list-rate
								span 0.09 BTC
								span 1 LTC
						li.rates__list-item
							.rates__list-currency-1.rates__list-icon.rates__list-icon--bitcoin Webmoney check, PWMZ
							.rates__list-arrow
								button.rates__list-arrow-btn
							.rates__list-currency-2.rates__list-icon.rates__list-icon--payeer Payeer, USD
							.rates__list-rate
								span 1 BTC
								span 1.38 USD
						li.rates__list-item
							.rates__list-currency-1.rates__list-icon.rates__list-icon--bitcoin Webmoney check, PWMZ
							.rates__list-arrow
								button.rates__list-arrow-btn
							.rates__list-currency-2.rates__list-icon.rates__list-icon--qiwi Qiwi, RUR
							.rates__list-rate
								span 1 BTC
								span 66.21 RUR

		.rates
			.rates__top
				.rates__heading.rates__heading--ic-webmoney Webmoney check
			ul.rates__list
				- for (let i = 0; i < 2; i++)
					li.rates__list-item
						.rates__list-currency-1.rates__list-icon.rates__list-icon--webmoney Webmoney check, PWMZ
						.rates__list-arrow
							button.rates__list-arrow-btn
						.rates__list-currency-2.rates__list-icon.rates__list-icon--litecoin Litecoin, LTC
						.rates__list-rate
							span 43.389 PWMZ
							span 1 LTC
					li.rates__list-item
						.rates__list-currency-1.rates__list-icon.rates__list-icon--webmoney Webmoney check, PWMZ
						.rates__list-arrow
							button.rates__list-arrow-btn
						.rates__list-currency-2.rates__list-icon.rates__list-icon--payeer Payeer, USD
						.rates__list-rate
							span 1 PWMZ
							span 1.38 USD
					li.rates__list-item
						.rates__list-currency-1.rates__list-icon.rates__list-icon--webmoney Webmoney check, PWMZ
						.rates__list-arrow
							button.rates__list-arrow-btn
						.rates__list-currency-2.rates__list-icon.rates__list-icon--qiwi Qiwi, RUR
						.rates__list-rate
							span 1 PWMZ
							span 66.21 RUR


	include components/_how-can-i-exchange

	include components/_want-to-exchange

	include components/_payment-systems