//Main content
main.main

  .account
    .container.account__container
      .account-content

        .account-history

          .account-title-with-search
            .account-title Operations History
            form.account-search
              input(type="text" name="account-history-search")
              button

          .account-table
            table
              tr
                th №
                th Request №
                th
                  a(href="#").account-table__sorting.active Date of creation
                th
                  a(href="#").account-table__sorting Operation
                th
                  a(href="#").account-table__sorting Exchange amount
                th
                  a(href="#").account-table__sorting Amount received
                th
                  a(href="#").account-table__sorting Status
              - for (let i = 1; i < 11; i++)
                  tr
                    td= i
                    td ID 100000153
                    td 18-02-2019 18:22:29
                    td Sell
                    td Bitcoin
                      b 0.1 BTC
                    td Privat24 (auto)
                      b 9841.11 uah
                    td Cancel

          include _pagination

      .account-sidebar
        ul.account-sidebar__list
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--details(href="account.html") Account#[br]details
          li.account-sidebar__list-item.active
            a.account-sidebar__list-link.account-sidebar__list-link--history(href="account-history.html") Operations#[br]history
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--wallets(href="account-wallets.html") My wallets &amp;#[br]сards
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--tickets(href="account-tickets.html") My tickets

