//Main content
main.main

  .account
    .container.account__container
      .account-content

        .account-tickets
          .account-tickets__btn-container
            button(data-modal="#modal-report-a-problem").btn.btn--filled.btn--wide-md Report a problem

          .account-tickets__wrapper
            - for (let i = 0; i < 4; i++)
              .account-ticket
                div
                  span 2019-03-23 19:19
                  span
                    a(href="account-ticket.html") #383091
                div
                  span
                    a(href="account-ticket.html") General issues
                  span please see the application № 10653489 ....
                div
                  span
                    a(href="account-ticket.html") 2

          include _pagination

      .account-sidebar
        ul.account-sidebar__list
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--details(href="account.html") Account#[br]details
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--history(href="account-history.html") Operations#[br]history
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--wallets(href="account-wallets.html") My wallets &amp;#[br]сards
          li.account-sidebar__list-item.active
            a.account-sidebar__list-link.account-sidebar__list-link--tickets(href="account-tickets.html") My tickets

