//Main content
main.main

	.container

		.feedback

			h2.h2 Feedback

			.feedback__top
				.feedback__write
					a(href="#write-feedback").btn.btn--filled.feedback__write-btn.anchor-jump-offset Write a feedback
					.feedback-login-section
						| #[a(href="#" data-modal="#modal-login") Sign in] or #[a(href="#" data-modal="#modal-register") register] to write a feedback

				.sort.feedback__sort
					label Sort by
					select.select-sort-by
						option(value="best") Best
						option(value="newest") Newest
						option(value="oldest") Oldest


			.comments

				.comment
					.comment__top
						.comment__name User
						.star-rating.comment__rating
							.star-rating__inner(style="width: 80%")
						.comment__date 01.03.2019
					.comment__center
						.comment__message Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					.comment__bottom
						.comment__options
							a(href="#").comment__options-btn.comment__options-btn--reply Reply

				.comments__answers

					.comment.comment--answer
						.comment__top
							.comment__name John.Smith
							.comment__date 01.03.2019
						.comment__center
							.comment__message Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud xercitan ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						.comment__bottom
							.comment__options
								a(href="#").comment__options-btn.comment__options-btn--reply Reply

				.comment
					.comment__top
						.comment__name User
						.star-rating.comment__rating
							.star-rating__inner(style="width: 80%")
						.comment__date 01.03.2019
					.comment__center
						.comment__message Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.comment__bottom
						.comment__options
							a(href="#").comment__options-btn.comment__options-btn--reply Reply

				.comment
					.comment__top
						.comment__name Nick Terder
						.star-rating.comment__rating
							.star-rating__inner(style="width: 80%")
						.comment__date 01.03.2019
					.comment__center
						.comment__message Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.comment__bottom
						.comment__options
							a(href="#").comment__options-btn.comment__options-btn--reply Reply

				.comment
					.comment__top
						.comment__name User
						.star-rating.comment__rating
							.star-rating__inner(style="width: 80%")
						.comment__date 01.03.2019
					.comment__center
						.comment__message Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					.comment__bottom
						.comment__options
							a(href="#").comment__options-btn.comment__options-btn--reply Reply

				.comments__answers

					.comment.comment--answer
						.comment__top
							.comment__name John.Smith
							.comment__date 01.03.2019
						.comment__center
							.comment__message Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud xercitan ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						.comment__bottom
							.comment__options
								a(href="#").comment__options-btn.comment__options-btn--reply Reply

					.comment.comment--answer
						.comment__top
							.comment__name User
							.comment__date 01.03.2019
						.comment__center
							.comment__message Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud xercitan ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						.comment__bottom
							.comment__options
								a(href="#").comment__options-btn.comment__options-btn--reply Reply

			.feedback-read-more-wrapper
				a(href="#").feedback-read-more Read more

			include _pagination

		.write-feedback
			.write-feedback__title Write a feedback

			.feedback-login-section.write-feedback__login-section
				| #[a(href="#" data-modal="#modal-login") Sign in] or #[a(href="#" data-modal="#modal-register") register] to write a feedback

			form
				.set-rating
					input#set-rating-star-5(type="radio" name="set-rating-rating" value="5" required)
					label(for="set-rating-star-5")
					input#set-rating-star-4(type="radio" name="set-rating-rating" value="4" required)
					label(for="set-rating-star-4")
					input#set-rating-star-3(type="radio" name="set-rating-rating" value="3" required)
					label(for="set-rating-star-3")
					input#set-rating-star-2(type="radio" name="set-rating-rating" value="2" required)
					label(for="set-rating-star-2")
					input#set-rating-star-1(type="radio" name="set-rating-rating" value="1" required)
					label(for="set-rating-star-1")

				.feedback-message
					textarea#write-feedback(name="set-rating-message" required).feedback-message__textarea
					button.feedback-message__btn


	include components/_want-to-exchange

	include components/_payment-systems