//Main content
main.main

  .exchange-steps
    .container.exchange-steps__container

      .exchange-steps__content
        .exchange-step-1

          include components/_exchanger
          +exchanger({extraCls: "exchanger--exchage-page", number: 2, linkInstead: true, url: 'exchange-2.html'})

      .exchange-steps__sidebar
        ul
          li.active
            span choose currency &amp; amount
          li
            span additionatal information
          li
            span payment of exchange

  .exhchange-widget
    .container
      img(src="img/widget-example.png", alt="")

  include components/_want-to-exchange

  include components/_payment-systems