//Main content
main.main

  .account
    .container.account__container
      .account-content

        .account-details

          .account-title My account

          .account-details-section.account-my-account

            div
              div Name:
              div
                div John Middle
                div
                  a(href="#" data-modal="#modal-account-edit").account-my-account-icon-edit Edit

            div
              div Phone:
              div
                div +38 066 415 74 85
                div
                  a(href="#" data-modal="#modal-account-change-password").account-my-account-icon-change Change

            div
              div Email:
              div
                div john@gmail.com

          .account-title Identification

          .account-details-section.account-identification

            div
              div Scan the first page of the passport:
              div
                div.account-attachment-info no upload
                div
                  .account-attachment
                    label(for="attachment-1").account-my-account-icon-upload Upload
                    input#attachment-1(type="file" accept=".jpg, .jpeg, .png, .gif")
                  span Attach image (JPG, JPEG, GIF, PNG)

            div
              div Credit card photo:
              div
                div.account-attachment-info no upload
                div
                  .account-attachment
                    label(for="attachment-2").account-my-account-icon-upload Upload
                    input#attachment-2(type="file" accept=".jpg, .jpeg, .png, .gif")
                  span Attach image (JPG, JPEG, GIF, PNG)


          .account-title Social network

          .account-details-section
            .account-social
              a(href="#").account-social-link.account-social-link--facebook Enable
              a(href="#").account-social-link.account-social-link--twitter Enable


      .account-sidebar
        ul.account-sidebar__list
          li.account-sidebar__list-item.active
            a.account-sidebar__list-link.account-sidebar__list-link--details(href="account.html") Account#[br]details
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--history(href="account-history.html") Operations#[br]history
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--wallets(href="account-wallets.html") My wallets &amp;#[br]сards
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--tickets(href="account-tickets.html") My tickets
