//Main content
main.main

  .account
    .container.account__container
      .account-content

        .account-wallets
          .account-title.account-wallets__title My wallets &amp; cards

          .account-wallets__items

            .account-wallets__item
              .account-wallets__item-name
                .currencies-icon.currencies-icon--bitcoin
                | Bitcoin
              .account-wallets__item-number 17tRfVa2hPNZhb3txoFZzYGvExg6FhUXPN
              .account-wallets__item-controls
                a(href="#" title="Edit" data-modal="#modal-account-wallets-edit").account-wallets__button.account-wallets__button--edit
                a(href="#" title="Delete").account-wallets__button.account-wallets__button--delete

            .account-wallets__item
              .account-wallets__item-name
                .currencies-icon.currencies-icon--ethereum
                | Ethereum
              .account-wallets__item-number 17tRfVa2hPNZhb3txoFZzYGvExg6FhUXPN
              .account-wallets__item-controls
                a(href="#" title="Edit" data-modal="#modal-account-wallets-edit").account-wallets__button.account-wallets__button--edit
                a(href="#" title="Delete").account-wallets__button.account-wallets__button--delete

            .account-wallets__item
              .account-wallets__item-name
                .currencies-icon.currencies-icon--ethereum-classic
                | Ethereu classic
              .account-wallets__item-number 17tRfVa2hPNZhb3txoFZzYGvExg6FhUXPN
              .account-wallets__item-controls
                a(href="#" title="Edit" data-modal="#modal-account-wallets-edit").account-wallets__button.account-wallets__button--edit
                a(href="#" title="Delete").account-wallets__button.account-wallets__button--delete

            .account-wallets__item
              .account-wallets__item-name
                .currencies-icon.currencies-icon--stellar-lumens
                | Stellar Lumens
              .account-wallets__item-number 17tRfVa2hPNZhb3txoFZzYGvExg6FhUXPN
              .account-wallets__item-controls
                a(href="#" title="Edit" data-modal="#modal-account-wallets-edit").account-wallets__button.account-wallets__button--edit
                a(href="#" title="Delete").account-wallets__button.account-wallets__button--delete

            .account-wallets__item
              .account-wallets__item-name
                .currencies-icon.currencies-icon--neo
                | Neo
              .account-wallets__item-number 17tRfVa2hPNZhb3txoFZzYGvExg6FhUXPN
              .account-wallets__item-controls
                a(href="#" title="Edit" data-modal="#modal-account-wallets-edit").account-wallets__button.account-wallets__button--edit
                a(href="#" title="Delete").account-wallets__button.account-wallets__button--delete

            .account-wallets__item
              .account-wallets__item-name
                .currencies-icon.currencies-icon--dash
                | Dash
              .account-wallets__item-number 17tRfVa2hPNZhb3txoFZzYGvExg6FhUXPN
              .account-wallets__item-controls
                a(href="#" title="Edit" data-modal="#modal-account-wallets-edit").account-wallets__button.account-wallets__button--edit
                a(href="#" title="Delete").account-wallets__button.account-wallets__button--delete

          .account-wallets__btn-container
            button(data-modal="#modal-account-wallets-add").btn.btn--filled.btn--iconed-wallet.btn--wide-md
              span Add a wallet

      .account-sidebar
        ul.account-sidebar__list
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--details(href="account.html") Account#[br]details
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--history(href="account-history.html") Operations#[br]history
          li.account-sidebar__list-item.active
            a.account-sidebar__list-link.account-sidebar__list-link--wallets(href="account-wallets.html") My wallets &amp;#[br]сards
          li.account-sidebar__list-item
            a.account-sidebar__list-link.account-sidebar__list-link--tickets(href="account-tickets.html") My tickets

