#modal-account-wallets-edit.modal.modal--centered.modal--mobile-fixed-width
  .modal__content
    button.close-button.modal__close
    .modal__content-inner
      form.form
        .form__title Edit wallet

        .modal__currency
          .currencies-icon.currencies-icon--bitcoin
          | Bitcoin

        .form-group
          label.form-group__label Bitcoin address
          input.form-group__input(type="text" name="account-wallets-edit-bitcoin-address" required value="17tRfVa2hPNZhb3txoFZzYGvExg6FhUXPN")
        .form-group
          label.form-group__label Note
          input.form-group__input(type="text" name="account-wallets-edit-note")

        .form-button-group
          button.btn.btn--filled.form-button-group__btn(type="submit") Save
          button.btn.form-button-group__btn(type="button" data-modal-close) Cancel


#modal-account-wallets-add.modal.modal--centered.modal--big
  .modal__content
    button.close-button.modal__close
    .modal__content-inner
      .modal__title.modal__title--offset-bottom-md Choose type of wallet

      ul.wallets-list
        li
          input#account-wallets-add-radio-1(type="radio" name="account-wallets-add" checked)
          label(for="account-wallets-add-radio-1" data-icon="bitcoin" data-text="Bitcoin")
            span.currencies-icon.currencies-icon--bitcoin
            | Bitcoin
        li
          input#account-wallets-add-radio-2(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-2" data-icon="ethereum" data-text="Ethereum")
            span.currencies-icon.currencies-icon--ethereum
            | Ethereum
        li
          input#account-wallets-add-radio-3(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-3" data-icon="ethereum-classic" data-text="Ethereum classic")
            span.currencies-icon.currencies-icon--ethereum-classic
            | Ethereum classic
        li
          input#account-wallets-add-radio-4(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-4" data-icon="stellar-lumens" data-text="Stellar Lumens")
            span.currencies-icon.currencies-icon--stellar-lumens
            | Stellar Lumens
        li
          input#account-wallets-add-radio-5(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-5" data-icon="neo" data-text="Neo")
            span.currencies-icon.currencies-icon--neo
            | Neo
        li
          input#account-wallets-add-radio-6(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-6" data-icon="dash" data-text="Dash")
            span.currencies-icon.currencies-icon--dash
            | Dash
        li
          input#account-wallets-add-radio-7(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-7"  data-icon="bitcoin" data-text="Bitcoin")
            span.currencies-icon.currencies-icon--bitcoin
            | Bitcoin
        li
          input#account-wallets-add-radio-8(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-8" data-icon="ethereum" data-text="Ethereum")
            span.currencies-icon.currencies-icon--ethereum
            | Ethereum
        li
          input#account-wallets-add-radio-9(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-9" data-icon="ethereum-classic" data-text="Ethereum classic")
            span.currencies-icon.currencies-icon--ethereum-classic
            | Ethereum classic
        li
          input#account-wallets-add-radio-10(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-10" data-icon="stellar-lumens" data-text="Stellar Lumens")
            span.currencies-icon.currencies-icon--stellar-lumens
            | Stellar Lumens
        li
          input#account-wallets-add-radio-11(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-11" data-icon="neo" data-text="Neo")
            span.currencies-icon.currencies-icon--neo
            | Neo
        li
          input#account-wallets-add-radio-12(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-12" data-icon="dash" data-text="Dash")
            span.currencies-icon.currencies-icon--dash
            | Dash
        li
          input#account-wallets-add-radio-13(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-13"  data-icon="bitcoin" data-text="Bitcoin")
            span.currencies-icon.currencies-icon--bitcoin
            | Bitcoin
        li
          input#account-wallets-add-radio-14(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-14" data-icon="ethereum" data-text="Ethereum")
            span.currencies-icon.currencies-icon--ethereum
            | Ethereum
        li
          input#account-wallets-add-radio-15(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-15" data-icon="ethereum-classic" data-text="Ethereum classic")
            span.currencies-icon.currencies-icon--ethereum-classic
            | Ethereum classic
        li
          input#account-wallets-add-radio-16(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-16" data-icon="stellar-lumens" data-text="Stellar Lumens")
            span.currencies-icon.currencies-icon--stellar-lumens
            | Stellar Lumens
        li
          input#account-wallets-add-radio-17(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-17" data-icon="neo" data-text="Neo")
            span.currencies-icon.currencies-icon--neo
            | Neo
        li
          input#account-wallets-add-radio-18(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-18" data-icon="dash" data-text="Dash")
            span.currencies-icon.currencies-icon--dash
            | Dash
        li
          input#account-wallets-add-radio-19(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-19"  data-icon="bitcoin" data-text="Bitcoin")
            span.currencies-icon.currencies-icon--bitcoin
            | Bitcoin
        li
          input#account-wallets-add-radio-20(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-20" data-icon="ethereum" data-text="Ethereum")
            span.currencies-icon.currencies-icon--ethereum
            | Ethereum
        li
          input#account-wallets-add-radio-21(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-21" data-icon="ethereum-classic" data-text="Ethereum classic")
            span.currencies-icon.currencies-icon--ethereum-classic
            | Ethereum classic
        li
          input#account-wallets-add-radio-22(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-22" data-icon="stellar-lumens" data-text="Stellar Lumens")
            span.currencies-icon.currencies-icon--stellar-lumens
            | Stellar Lumens
        li
          input#account-wallets-add-radio-23(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-23" data-icon="neo" data-text="Neo")
            span.currencies-icon.currencies-icon--neo
            | Neo
        li
          input#account-wallets-add-radio-24(type="radio" name="account-wallets-add")
          label(for="account-wallets-add-radio-24" data-icon="dash" data-text="Dash")
            span.currencies-icon.currencies-icon--dash
            | Dash

      a(href="#" data-modal="#modal-account-wallets-create").next-btn Next


#modal-account-wallets-create.modal.modal--centered.modal--mobile-fixed-width
  .modal__content
    button.close-button.modal__close
    .modal__content-inner
      form.form
        .form__title New wallet

        .modal__currency
          .currencies-icon.currencies-icon--bitcoin
          | Bitcoin

        input(type="hidden" name="account-wallets-create-hidden" value="Bitcoin")

        .form-group
          label.form-group__label Bitcoin address
          input.form-group__input(type="text" name="account-wallets-create-bitcoin-address" required)
        .form-group
          label.form-group__label Note
          input.form-group__input(type="text" name="account-wallets-create-note")

        .form-button-group
          button.btn.btn--filled.form-button-group__btn(type="submit") Save
          button.btn.form-button-group__btn(type="button" data-modal-close) Cancel

        .modal__back-btn-container
          a(href="#" data-modal="#modal-account-wallets-add").back-btn Back