#modal-account-edit.modal.modal--centered.modal--mobile-fixed-width
  .modal__content
    button.close-button.modal__close
    .modal__content-inner
      form.form
        .form__title Edit data
        .form-group
          label.form-group__label Email
          input.form-group__input(type="email" name="account-edit-email" required)
        .form-group
          label.form-group__label Current password
          button(type="button").form-group__password-show
          input.form-group__input(type="password" name="account-edit-password" title="Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter" pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required)
        .form-group
          label.form-group__label Name
          input.form-group__input(type="text" name="account-edit-name" required)
        .form-group
          label.form-group__label Surname
          input.form-group__input(type="text" name="account-edit-surname" required)
        .form-group
          label.form-group__label Middle name
          input.form-group__input(type="text" name="account-edit-middle-name" required)
        .form-group
          label.form-group__label Passport series
          input.form-group__input(type="text" name="account-edit-passport-series" required)
        .form-group
          label.form-group__label Passport ID
          input.form-group__input(type="text" name="account-edit-passport-ID" required)
        .form-group
          label.form-group__label Mobile phone
          input.form-group__input(type="text" name="account-edit-mobile-phone" required)
        .form-checkbox-group.modal__form-checkbox-group
          input#account-edit-subscribe.form-checkbox-group__input(type="checkbox" name="account-edit-subscribe")
          label.form-checkbox-group__label.modal__form-checkbox-group-label(for="account-edit-subscribe") Subscribe to newsletter
        .form-button-group
          button.btn.btn--filled.form-button-group__btn(type="submit") Save
          button.btn.form-button-group__btn(type="button" data-modal-close) Cancel


#modal-account-change-password.modal.modal--centered.modal--mobile-fixed-width
  .modal__content
    button.close-button.modal__close
    .modal__content-inner
      form.form
        .form__title Change password

        .form-group
          label.form-group__label Old password
          button(type="button").form-group__password-show
          input.form-group__input(type="password" name="account-change-password-old-password" title="Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter" pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required)

        .form-password-group
          .form-group
            label.form-group__label New password
            button(type="button").form-group__password-show
            input.form-group__input.form-password-group__input(type="password" name="account-change-password-new-password" title="Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter" pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required)
          .form-group
            label.form-group__label Confirm password
            button(type="button").form-group__password-show
            input.form-group__input.form-password-group__input(type="password" name="account-change-password-confirm-new-password" required)

        .form-button-group
          button.btn.btn--filled.form-button-group__btn(type="submit") Save
          button.btn.form-button-group__btn(type="button" data-modal-close) Cancel