#modal-transaction-details.modal.modal--centered.modal--mobile-fixed-width
  .modal__content
    button.close-button.modal__close
    .modal__content-inner

      .modal__title.modal__title--offset-bottom-md Details of Transaction #1254795

      .modal__currency-details
        .modal__currency-details-currency
          span 1.05
          div
            .currencies-icon.currencies-icon--bitcoin
            | btc
        .modal__currency-details-exchange-icon
        .modal__currency-details-currency
          span 18 540.03
          div
            .currencies-icon.currencies-icon--webmoney
            | pwmz
        .modal__currency-details-status
          | Status
          span Completed

      .modal__button-container
        a(href="#").btn.btn--filled Check status