// Modals
#modal-exchanger.modal.modal--exchanger.modal--mobile-header.modal--desktop-hidden.modal--mobile-to-top
	.modal__content
		button.close-button.modal__close
		.modal__content-inner

			.container
				include components/_exchanger
				+exchanger({infoPopupCls: "info-popup--above-all"})



			//- form#exchanger-1.exchanger
			//- 	.exchanger__row

			//- 		.exchanger__col

			//- 			.exchanger__form-group.exchanger__form-group--1
			//- 				label.exchanger__form-group-label I give
			//- 				.exchanger__input-group
			//- 					input(type="text" name="exchanger-1-input-1" value="1" autocomplete="off" required).exchanger__input.exchanger__input--1.imask-number
			//- 					button(type="button" data-modal="#modal-exchange-1-1").exchanger__exchange-btn-mobile.currencies-icon.currencies-icon--bitcoin.cy-target-button-mobile-1
			//- 				.exchanger__info.exchanger__info--1
			//- 					.form-checkbox-group.exchanger__checkbox-group
			//- 						input#exchanger-1-checkbox-commission.form-checkbox-group__input(type="checkbox" name="exchanger-1-checkbox-commission")
			//- 						label.form-checkbox-group__label(for="exchanger-1-checkbox-commission") take into account the commission #[span.exchanger__info-target-1 PS 0 BTC] #[span.info-btn(data-popup-target="info-popup-exchanger-1" data-popup-left="-300" data-popup-top="20")]

			//- 			button(type="button").exchanger__flipper

			//- 			.exchanger__form-group.exchanger__form-group--2
			//- 				label.exchanger__form-group-label I receive
			//- 				.exchanger__input-group
			//- 					input(type="text" name="exchanger-1-input-2" value="1000.00" disabled).exchanger__input.exchanger__input--2
			//- 					button(type="button" data-modal="#modal-exchange-1-2").exchanger__exchange-btn-mobile.currencies-icon.currencies-icon--ethereum.cy-target-button-mobile-2
			//- 				.exchanger__info.exchanger__info--2
			//- 					.exchanger__info-2col
			//- 						.exchanger__info-2col-text Max exchange amount #[span.exchanger__info-target-2 200 ETH]
			//- 						a(href="#" data-modal="#modal-need-more").exchanger__need-more-btn Need more?

			//- 		.exchanger__col.exchanger__col--hidden-mobile

			//- 			.exchanger__currencies-group.exchanger__currencies-group--1(data-cy-exchanger-id="exchanger-1" data-cy-target-id="1")
			//- 				input(type="hidden" name="exchanger-1-currency-1" value="bitcoin").cy-target-input-1
			//- 				.exchanger__exchange-group
			//- 					button(type="button").exchanger__exchange-btn-desktop.currencies-icon.currencies-icon--bitcoin.dropdown-link.dropdown-link--big-arrow.cy-target-button-desktop-1 Bitcoin BTC
			//- 					.dropdown.dropdown-full-width
			//- 						ul.dropdown__currencies-list
			//- 							li.dropdown__currencies-list-item
			//- 								a(href="#" data-cy="bitcoin" data-cy-info="PS 0 BTC").dropdown__currencies-list-link.currencies-icon.currencies-icon--bitcoin Bitcoin BTC
			//- 							li.dropdown__currencies-list-item
			//- 								a(href="#" data-cy="ethereum" data-cy-info="PS 0 ETH").dropdown__currencies-list-link.currencies-icon.currencies-icon--ethereum Ethereum ETH
			//- 							li.dropdown__currencies-list-item
			//- 								a(href="#" data-cy="ethereum-classic" data-cy-info="PS 0 ETC").dropdown__currencies-list-link.currencies-icon.currencies-icon--ethereum-classic Ethereum Classic ETC
			//- 							li.dropdown__currencies-list-item
			//- 								a(href="#" data-cy="stellar-lumens" data-cy-info="PS 0 XLM").dropdown__currencies-list-link.currencies-icon.currencies-icon--stellar-lumens Stellar Lumens XLM
			//- 							li.dropdown__currencies-list-item
			//- 								a(href="#" data-cy="neo" data-cy-info="PS 0 NEO").dropdown__currencies-list-link.currencies-icon.currencies-icon--neo Neo NEO
			//- 							li.dropdown__currencies-list-item
			//- 								a(href="#" data-cy="dash" data-cy-info="PS 0 DSH").dropdown__currencies-list-link.currencies-icon.currencies-icon--dash Dash DSH

//- 						.exchanger__currencies-group.exchanger__currencies-group--2(data-cy-exchanger-id="exchanger-1" data-cy-target-id="2")
//- 							input(type="hidden" name="exchanger-1-currency-2" value="ethereum").cy-target-input-2
//- 							.exchanger__exchange-group
//- 								button(type="button").exchanger__exchange-btn-desktop.currencies-icon.currencies-icon--ethereum.dropdown-link.dropdown-link--big-arrow.cy-target-button-desktop-2 Ethereum ETH
//- 								.dropdown.dropdown-full-width
//- 									ul.dropdown__currencies-list
//- 										li.dropdown__currencies-list-item
//- 											a(href="#" data-cy="bitcoin" data-cy-info="2 BTC").dropdown__currencies-list-link.currencies-icon.currencies-icon--bitcoin Bitcoin BTC
//- 										li.dropdown__currencies-list-item
//- 											a(href="#" data-cy="ethereum" data-cy-info="2100 ETH").dropdown__currencies-list-link.currencies-icon.currencies-icon--ethereum Ethereum ETH
//- 										li.dropdown__currencies-list-item
//- 											a(href="#" data-cy="ethereum-classic" data-cy-info="250 ETC").dropdown__currencies-list-link.currencies-icon.currencies-icon--ethereum-classic Ethereum Classic ETC
//- 										li.dropdown__currencies-list-item
//- 											a(href="#" data-cy="stellar-lumens" data-cy-info="2000 XLM").dropdown__currencies-list-link.currencies-icon.currencies-icon--stellar-lumens Stellar Lumens XLM
//- 										li.dropdown__currencies-list-item
//- 											a(href="#" data-cy="neo" data-cy-info="300 NEO").dropdown__currencies-list-link.currencies-icon.currencies-icon--neo Neo NEO
//- 										li.dropdown__currencies-list-item
//- 											a(href="#" data-cy="dash" data-cy-info="100 DSH").dropdown__currencies-list-link.currencies-icon.currencies-icon--dash Dash DSH

//- 				button(type="submit").btn.btn--filled.exchanger__submit-btn Exchange

//- 				#info-popup-exchanger-1.info-popup.info-popup--above-all
//- 					p.info-popup__text It begins with you fixing a certain sales commission rate, which is a percentage of the sales value. Keep track of the amount of sales every single employee generates, then multiply the sales commission rate of each employee by the amount of sales he makes.

#modal-language.modal.modal--mobile-header.modal--desktop-hidden.modal--mobile-to-top
	.modal__content
		button.close-button.modal__close
		.modal__content-inner
			ul.mobile-lang-list
				- for (var i = 0; i < 5; ++i)
					li.mobile-lang-list__item
						a(href="#").mobile-lang-list__link.mobile-lang-list__link--eng English
					li.mobile-lang-list__item
						a(href="#").mobile-lang-list__link.mobile-lang-list__link--ger Germany
					li.mobile-lang-list__item
						a(href="#").mobile-lang-list__link.mobile-lang-list__link--rus Russian
					li.mobile-lang-list__item
						a(href="#").mobile-lang-list__link.mobile-lang-list__link--ukr Ukraine
					li.mobile-lang-list__item
						a(href="#").mobile-lang-list__link.mobile-lang-list__link--fr French

#modal-account.modal.modal--mobile-header.modal--tablet-50perc.modal--desktop-hidden.modal--mobile-to-top
	.modal__content
		button.close-button.modal__close
		.modal__content-inner
			ul.mobile-account-list
				li.mobile-account-list__item
					a(href="account.html").mobile-account-list__link.mobile-account-list__link--details Account details
				li.mobile-account-list__item
					a(href="account-history.html").mobile-account-list__link.mobile-account-list__link--history Operations history
				li.mobile-account-list__item
					a(href="account-wallets.html").mobile-account-list__link.mobile-account-list__link--wallets-cards My Wallets &amp; Cards
				li.mobile-account-list__item
					a(href="account-tickets.html").mobile-account-list__link.mobile-account-list__link--tickets My tickets

#modal-login.modal.modal--mobile-header.modal--mobile-to-top
	.modal__content.modal__content--form
		button.close-button.modal__close
		.modal__content-inner
			form.form
				.form__title Login to you account
				.form-group
					label.form-group__label Login
					input.form-group__input(type="text" name="login-login" required)
				.form-group
					label.form-group__label Password
					button(type="button").form-group__password-show
					input.form-group__input(type="password" name="login-password" title="Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter" pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required)
				.form-checkbox-group.modal__form-checkbox-group
					input#login-remember-me.form-checkbox-group__input(type="checkbox" name="login-remember-me")
					label.form-checkbox-group__label.modal__form-checkbox-group-label(for="login-remember-me") Remember me
				.form-button-group
					button.btn.btn--filled.form-button-group__btn(type="submit") Log in
					button.btn.form-button-group__btn(type="button" data-modal="#modal-register") Register
				.form__info If you forgot your password you can #[a(href="#" data-modal="#modal-reset-password") RESET IT]

#modal-reset-password.modal.modal--mobile-header.modal--mobile-to-top
	.modal__content.modal__content--form
		button.close-button.modal__close
		.modal__content-inner
			form.form
				.form__title Request password reset
				.form__subtitle Please fill in your email.#[br]A link to reset password will be sent there.
				.form-group
					label.form-group__label Email
					input.form-group__input(type="email" name="reset-password-email" required)
				.form-button-group
					button.btn.btn--filled.form-button-group__btn(type="submit") Send

#modal-register.modal.modal--mobile-header.modal--mobile-to-top
	.modal__content
		button.close-button.modal__close
		.modal__content-inner
			form.form
				.form__title Registration
				.form-group
					label.form-group__label Login
					input.form-group__input(type="text" name="register-login" required)
				.form-group
					label.form-group__label Email
					input.form-group__input(type="email" name="register-email" required)
				.form-password-group
					.form-group
						label.form-group__label Password
						button(type="button").form-group__password-show
						input.form-group__input.form-password-group__input(type="password" name="register-password" title="Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter" pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required)
					.form-group
						label.form-group__label Repeat password
						button(type="button").form-group__password-show
						input.form-group__input.form-password-group__input(type="password" name="register-password" required)
				.form-checkbox-group.modal__form-checkbox-group
					input#register-remember-me.form-checkbox-group__input(type="checkbox" name="register-remember-me")
					label.form-checkbox-group__label.modal__form-checkbox-group-label(for="register-remember-me") Remember me
					input#register-i-agree.form-checkbox-group__input(type="checkbox" name="register-i-agree")
					label.form-checkbox-group__label.modal__form-checkbox-group-label(for="register-i-agree") I agree to the #[a(href="#") User agreement]
					input#register-not-usa-citizen.form-checkbox-group__input(type="checkbox" name="register-not-usa-citizen")
					label.form-checkbox-group__label.modal__form-checkbox-group-label(for="register-not-usa-citizen") I'm not a citizen of the USA
				.form-button-group
					button.btn.btn--filled.form-button-group__btn(type="submit") Register
					button.btn.form-button-group__btn(type="button" data-modal="#modal-login") Log in

#modal-need-more.modal.modal--mobile-full-height.modal--mobile-fixed-width
	.modal__content
		button.close-button.modal__close
		.modal__content-inner
			form.form
				.form__title Report a problem
				.form-select-group
					label.form-select-group__label Theme
					select(name="report-theme").form-select-group__select
						option(value="0") General issues
						option(value="1") Site bags
						option(value="2") Site bags
						option(value="3") Site bags
				.form-group
					label.form-group__label Email
					input.form-group__input(type="email" name="report-email" required)
				.form-group
					label.form-group__label Transaction number
					input.form-group__input(type="text" name="report-transaction-number" required)
				.form-group
					label.form-group__label Description
					textarea.form-group__textarea(name="report-message" required)
				.form-button-group
					button.btn.btn--filled.form-button-group__btn(type="submit") Send
					button.btn.form-button-group__btn(type="button" data-modal-close) Cancel

//- #modal-exchange-1-1.modal.modal--mobile-full-height.modal--mobile-fixed-width.modal--desktop-hidden(data-modal-second data-cy-exchanger-id="exchanger-1" data-cy-target-id="1")
//- 	.modal__content.modal__content--currencies
//- 		button.close-button.modal__close
//- 		.modal__content-inner.modal__content-inner--currencies-list-block

//- 			ul.currencies-list.modal__currencies-list
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="bitcoin" data-cy-info="PS 0 BTC").currencies-list__currency.currencies-icon.currencies-icon--bitcoin Bitcoin BTC
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="ethereum" data-cy-info="PS 0 ETH").currencies-list__currency.currencies-icon.currencies-icon--ethereum Ethereum ETH
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="ethereum-classic" data-cy-info="PS 0 ETC").currencies-list__currency.currencies-icon.currencies-icon--ethereum-classic Ethereum Classic ETC
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="stellar-lumens" data-cy-info="PS 0 XLM").currencies-list__currency.currencies-icon.currencies-icon--stellar-lumens Stellar Lumens XLM
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="neo" data-cy-info="PS 0 NEO").currencies-list__currency.currencies-icon.currencies-icon--neo Neo NEO
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="dash" data-cy-info="PS 0 DSH").currencies-list__currency.currencies-icon.currencies-icon--dash Dash DSH

//- #modal-exchange-1-2.modal.modal--mobile-full-height.modal--mobile-fixed-width.modal--desktop-hidden(data-modal-second data-cy-exchanger-id="exchanger-1" data-cy-target-id="2")
//- 	.modal__content.modal__content--currencies
//- 		button.close-button.modal__close
//- 		.modal__content-inner.modal__content-inner--currencies-list-block

//- 			ul.currencies-list.modal__currencies-list
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="bitcoin" data-cy-info="2 BTC").currencies-list__currency.currencies-icon.currencies-icon--bitcoin Bitcoin BTC
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="ethereum" data-cy-info="2100 ETH").currencies-list__currency.currencies-icon.currencies-icon--ethereum Ethereum ETH
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="ethereum-classic" data-cy-info="250 ETC").currencies-list__currency.currencies-icon.currencies-icon--ethereum-classic Ethereum Classic ETC
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="stellar-lumens" data-cy-info="2000 XLM").currencies-list__currency.currencies-icon.currencies-icon--stellar-lumens Stellar Lumens XLM
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="neo" data-cy-info="300 NEO").currencies-list__currency.currencies-icon.currencies-icon--neo Neo NEO
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="dash" data-cy-info="100 DSH").currencies-list__currency.currencies-icon.currencies-icon--dash Dash DSH

//- #modal-exchange-2-1.modal.modal--mobile-full-height.modal--mobile-fixed-width.modal--desktop-hidden(data-cy-exchanger-id="exchanger-2" data-cy-target-id="1")
//- 	.modal__content.modal__content--currencies
//- 		button.close-button.modal__close
//- 		.modal__content-inner.modal__content-inner--currencies-list-block

//- 			ul.currencies-list.modal__currencies-list
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="bitcoin" data-cy-info="PS 0 BTC").currencies-list__currency.currencies-icon.currencies-icon--bitcoin Bitcoin BTC
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="ethereum" data-cy-info="PS 0 ETH").currencies-list__currency.currencies-icon.currencies-icon--ethereum Ethereum ETH
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="ethereum-classic" data-cy-info="PS 0 ETC").currencies-list__currency.currencies-icon.currencies-icon--ethereum-classic Ethereum Classic ETC
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="stellar-lumens" data-cy-info="PS 0 XLM").currencies-list__currency.currencies-icon.currencies-icon--stellar-lumens Stellar Lumens XLM
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="neo" data-cy-info="PS 0 NEO").currencies-list__currency.currencies-icon.currencies-icon--neo Neo NEO
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="dash" data-cy-info="PS 0 DSH").currencies-list__currency.currencies-icon.currencies-icon--dash Dash DSH

//- #modal-exchange-2-2.modal.modal--mobile-full-height.modal--mobile-fixed-width.modal--desktop-hidden(data-cy-exchanger-id="exchanger-2" data-cy-target-id="2")
//- 	.modal__content.modal__content--currencies
//- 		button.close-button.modal__close
//- 		.modal__content-inner.modal__content-inner--currencies-list-block

//- 			ul.currencies-list.modal__currencies-list
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="bitcoin" data-cy-info="2 BTC").currencies-list__currency.currencies-icon.currencies-icon--bitcoin Bitcoin BTC
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="ethereum" data-cy-info="2100 ETH").currencies-list__currency.currencies-icon.currencies-icon--ethereum Ethereum ETH
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="ethereum-classic" data-cy-info="250 ETC").currencies-list__currency.currencies-icon.currencies-icon--ethereum-classic Ethereum Classic ETC
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="stellar-lumens" data-cy-info="2000 XLM").currencies-list__currency.currencies-icon.currencies-icon--stellar-lumens Stellar Lumens XLM
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="neo" data-cy-info="300 NEO").currencies-list__currency.currencies-icon.currencies-icon--neo Neo NEO
//- 				li.currencies-list__item
//- 					a(href="#" data-cy="dash" data-cy-info="100 DSH").currencies-list__currency.currencies-icon.currencies-icon--dash Dash DSH
