#modal-chat.modal.modal--not-clickable.modal--theme-chat.modal--desktop-hidden
	.modal__content
		button.close-button.modal__close
		.modal__content-inner
			.modal__title Сonnect to chat
			include components/chat/_chat