#modal-report-a-problem.modal.modal--centered.modal--mobile-fixed-width
  .modal__content
    button.close-button.modal__close
    .modal__content-inner
      form.form
        .form__title Report a problem
        .form-select-group
          label.form-select-group__label Theme
          select(name="report-theme").form-select-group__select
            option(value="0") General issues
            option(value="1") Site bags
            option(value="2") Site bags
            option(value="3") Site bags
        .form-group
          label.form-group__label Email
          input.form-group__input(type="email" name="report-email" required)
        .form-group
          label.form-group__label Transaction number
          input.form-group__input(type="text" name="report-transaction-number" required)
        .form-group
          label.form-group__label Description
          textarea.form-group__textarea(name="report-message" required)
        .form-button-group
          button.btn.btn--filled.form-button-group__btn(type="submit") Send
          button.btn.form-button-group__btn(type="button" data-modal-close) Cancel