.pagination
  ul
    | <!--
    li
      a(href="#") &lsaquo;
    li
      a(href="#") &laquo;
    | -->
    li.active
      a(href="#") 1
    li
      a(href="#") 2
    li.empty ...
    li
      a(href="#") 10
    | <!--
    li
      a(href="#") &rsaquo;
    li
      a(href="#") &raquo;
    | -->