//Scripts
script(src="libs/jquery/dist/jquery.min.js")
script(src="libs/jquery-ui/jquery-ui.min.js")
script(src="libs/jquery.selectBoxIt.js/jquery.selectBoxIt.min.js")
script(src="libs/bodyScrollLock/bodyScrollLock.min.js")
script(src="libs/imask/imask.min.js")
//- script(src="https://cdn.jsdelivr.net/npm/body-scroll-lock@2.6.1/lib/bodyScrollLock.min.js")
//- script(src="libs/imask/imask.js")
//- script(src="libs/magnific-popup/jquery.magnific-popup.js")
//- script(src="libs/owlcarousel/owl.carousel.min.js")
//- script(src="libs/airdatepicker/datepicker.min.js")
//- script(src="libs/airdatepicker/datepicker.en.js")
//- script(src="libs/select2/select2.changed.js")
script(src="js/common.js")
//- script(src="js/scripts.min.js")