div#js-tk-leftmenu{left:unset;right:0px;}
div#js-tk-cparea{padding-left:0px;padding-right:55px;}
div#js-tk-admin-wrapper{padding-right:10px;padding-left:0px;}
div#js-tk-cparea div#js-tk-heading div.right_side{right:unset;left:10px;}
div.js-admin-report-box-wrapper.js-admin-controlpanel div.js-admin-box{float:right;}
div#js-tk-cparea div#js-maincp-area div.js-mnu-wrapper{float:right;}
div#js-tk-cparea div#js-maincp-area div.js-mnu-arrowicon{right:unset;left:12px;}
div#js-tk-cparea div#js-maincp-area div.js-mnu-arrowicon img{-moz-transform: scaleX(-1);-o-transform: scaleX(-1);-webkit-transform: scaleX(-1);transform: scaleX(-1);filter: FlipH;-ms-filter: "FlipH";}
div#js-tk-leftmenu div#js-tk-links .js-divlink a.js-parent, a.js-parent2{float:left;}
div#js-tk-leftmenu div#js-tk-links div.js-innerlink{float:left;width:100%;}
div#js-tk-leftmenu div#js-tk-links div.js-innerlink a.js-child{margin-right:65px;margin-left:unset;}
div.js-ticket-admin-cp-head div{float:right;}
div.js-ticket-admin-cp-data div{float:right;padding-left:unset;padding-right:8px;}
div#js-tk-cparea div#js-tk-heading a.tk-heading-addbutton{right:unset;left:25px;}
div.js-admin-sorting span.js-admin-sorting-link{float:right;}
div#js-tk-wrapper div.js-icon{border-right:unset;border-left:1px solid #999;float:right;}
div#js-tk-wrapper div.js-middle{float:right;border-right: unset;border-left:1px solid #999;}
div#js-tk-wrapper div.js-middle span.js-tk-title{float:right;}
div#js-tk-wrapper div.js-middle span.js-tk-value{padding-right:10px;padding-left:unset;}
div#js-tk-wrapper div.js-middle div.js-tk-pabsolute{float:left;}
div#js-tk-wrapper div.js-right span.js-tk-title{float:right;}
div#js-tk-wrapper div.js-bottom span.js-tk-actions{float:left;}
div#js-tk-wrapper:hover div.js-icon{border-right:unset;border-left:1px solid #A7A7A7;}
div#js-tk-wrapper:hover div.js-middle{border-right:unset;border-left:1px solid #A7A7A7;}
div#js-tk-wrapper div.js-bottom span.js-tk-actions a{float:right;}
div#js-firstrow div.js-col-md-4.js-padding-null{float:right;}
div#js-firstrow div.js-col-md-4.js-padding-null span.js-col-md-4.js-col-xs-12.js-status{float:right;}
div#js-firstrow div.js-col-md-4.js-padding-null span.js-created{border-left:1px solid #D7D8D9;border-right:0px;}
div#js-firstrow .ticket-id{float:right;border-left:1px solid #D7D8D9;border-right:unset;}
div#js-firstrow span.js-title{float:right;}
div#js-secondrow div.js-col-md-8{float:right;}
div#js-secondrow div.js-col-md-8 div.js-wrapper span.js-title{float:right;}
div#js-secondrow .js-wrapper span.js-value-subject{padding-right:15px;padding-left:unset;}
div.js-requester-info div.requester-data{float:right;}
div#js-ticket-threads div.js-tk-pic{float:right;}
div#js-ticket-threads div.js-tk-message div#pointer{left:unset;right:-21px;webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
div.js-col-md-4.js-attachment-file{float:right;margin:0px;width:31%;margin:5px;margin-left:1%;}
div#js-attachment-files span.js-value-text{float:right;}
div#js-tk-cparea div.js-title{float:right;}
div.js-pro-feature-wrapper div.js-pro-feature{float:right;}
div#tabs_wrapper div.js-config-title{float:right;text-align:left;}
div#tabs_wrapper div.js-config-value{float:right;}
div.idTabs span{float:right;margin-left:5px;}
div.js-admin-propage span.js-pro-title{text-align:right;}
table#js-table thead tr th{text-align: right;}
div.js-email-menu{float:right;}
div.js-admin-info-wrapper span.js-admin-info-title{float:right;margin-right:unset;margin-left:1%;}
div.js-admin-info-wrapper span.js-admin-info-vlaue{float:right;padding-right:10px;}