mixin exchanger({extraCls, number = 0, infoPopupCls = ""} = {})

  form.exchanger.exchanger--rates(class=extraCls)

    .exchanger__currency
      .exchanger__currency-inner
        .exchanger__currency-input-group
          input(type="hidden" name="currency-1" value="all currency")
          button(type="button").exchanger-currency-dropdown-trigger
            span.currencies-icon
            span all currency

      .exchanger-currency-dropdown
        button(type="button").close-button.exchanger-currency-dropdown__close
        //- .exchanger-currency-dropdown__min-max
        //-   div
        //-     | Минимальный лимит:
        //-     span 0
        //-   div
        //-     | Максиммальный лимит:
        //-     span 0

        ul
          li
            button(type="button" title="Webmoney").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger
              span.currencies-icon.currencies-icon--webmoney
              span.currencies-big-icon.currencies-big-icon--webmoney
              span Webmoney
            .exchanger-currency-dropdown__submenu
              button(type="button" data-icon="webmoney" data-text="Webmoney WMZ") WMZ
              button(type="button" data-icon="webmoney" data-text="Webmoney WMU") WMU
              button(type="button" data-icon="webmoney" data-text="Webmoney WMR") WMR
              button(type="button" data-icon="webmoney" data-text="Webmoney WMB") WMB
              button(type="button" data-icon="webmoney" data-text="Webmoney WMX") WMX
          li
            button(data-icon="privatuah" data-text="PrivatBank" type="button" title="PrivatBank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--privatuah
              span.currencies-big-icon.currencies-big-icon--privatuah
              span
                span PrivatBank
          li
            button(type="button" title="Visa").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger
              span.currencies-icon.currencies-icon--visa
              span.currencies-big-icon.currencies-big-icon--visa
              span Visa
            .exchanger-currency-dropdown__submenu
              button(type="button" data-icon="visa" data-text="Visa RUB") RUB
              button(type="button" data-icon="visa" data-text="Visa USD") USD
              button(type="button" data-icon="visa" data-text="Visa EUR") EUR
          li
            button(data-icon="yandex-money" data-text="Yandex Money" type="button" title="Yandex Money").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--yandex-money
              span.currencies-big-icon.currencies-big-icon--yandex-money
              span
                span Yandex Money
          li
            button(data-icon="qiwi" data-text="Qiwi" type="button" title="Qiwi").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--qiwi
              span.currencies-big-icon.currencies-big-icon--qiwi
              span
                span Qiwi
          li
            button(type="button" title="Monobank").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger.upward
              span.currencies-icon.currencies-icon--monobank
              span.currencies-big-icon.currencies-big-icon--monobank
              span Monobank
            .exchanger-currency-dropdown__submenu.upward
              button(type="button" data-icon="monobank" data-text="Monobank RUB") RUB
              button(type="button" data-icon="monobank" data-text="Monobank USD") USD
              button(type="button" data-icon="monobank" data-text="Monobank EUR") EUR
          li
            button(data-icon="oschadbank" data-text="Oschadbank" type="button" title="Oschadbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--oschadbank
              span.currencies-big-icon.currencies-big-icon--oschadbank
              span
                span Oschadbank

    .exchanger__swap
      button(type="button")

    .exchanger__currency
      .exchanger__currency-inner
        .exchanger__currency-input-group
          input(type="hidden" name="currency-2" value="all currency")
          button(type="button").exchanger-currency-dropdown-trigger
            span.currencies-icon
            span all currency

      .exchanger-currency-dropdown.exchanger-currency-dropdown--big
        button(type="button").close-button.exchanger-currency-dropdown__close
        //- .exchanger-currency-dropdown__min-max
        //-   div
        //-     | Минимальный лимит:
        //-     span 0
        //-   div
        //-     | Максиммальный лимит:
        //-     span 0

        ul
          li
            button(data-icon="webmoney" data-text="Webmoney" type="button" title="Webmoney").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--webmoney
              span.currencies-big-icon.currencies-big-icon--webmoney
              span
                span Webmoney
          li
            button(data-icon="privatuah" data-text="PrivatBank" type="button" title="PrivatBank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--privatuah
              span.currencies-big-icon.currencies-big-icon--privatuah
              span
                span PrivatBank
          li
            button(data-icon="visa" data-text="Visa" type="button" title="Visa").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--visa
              span.currencies-big-icon.currencies-big-icon--visa
              span
                span Visa
          li
            button(type="button" title="Yandex Money").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger
              span.currencies-icon.currencies-icon--yandex-money
              span.currencies-big-icon.currencies-big-icon--yandex-money
              span Yandex Money
            .exchanger-currency-dropdown__submenu
              button(type="button" data-icon="yandex-money" data-text="Yandex Money RUR") RUR
              button(type="button" data-icon="yandex-money" data-text="Yandex Money USD") USD
              button(type="button" data-icon="yandex-money" data-text="Yandex Money EUR") EUR
              button(type="button" data-icon="yandex-money" data-text="Yandex Money EUR") EUR
              button(type="button" data-icon="yandex-money" data-text="Yandex Money EUR") EUR
          li
            button(data-icon="qiwi" data-text="Qiwi" type="button" title="Qiwi").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--qiwi
              span.currencies-big-icon.currencies-big-icon--qiwi
              span
                span Qiwi
          li
            button(data-icon="monobank" data-text="Monobank" type="button" title="Monobank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--monobank
              span.currencies-big-icon.currencies-big-icon--monobank
              span
                span Monobank
          li
            button(data-icon="oschadbank" data-text="Oschadbank" type="button" title="Oschadbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--oschadbank
              span.currencies-big-icon.currencies-big-icon--oschadbank
              span
                span Oschadbank
          li
            button(data-icon="alfaukr" data-text="Alfabank" type="button" title="Alfabank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--alfaukr
              span.currencies-big-icon.currencies-big-icon--alfaukr
              span
                span Alfabank
          li
            button(data-icon="aval" data-text="Aval" type="button" title="Aval").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--aval
              span.currencies-big-icon.currencies-big-icon--aval
              span
                span Aval
          li
            button(data-icon="sber" data-text="Sberbank" type="button" title="Sberbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--sber
              span.currencies-big-icon.currencies-big-icon--sber
              span
                span Sberbank
          li
            button(data-icon="cash" data-text="Cash" type="button" title="Cash").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--cash
              span.currencies-big-icon.currencies-big-icon--cash
              span
                span Cash
          li
            button(data-icon="oschadbank" data-text="Oschadbank" type="button" title="Oschadbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--oschadbank
              span.currencies-big-icon.currencies-big-icon--oschadbank
              span
                span Oschadbank
          li
            button(data-icon="alfaukr" data-text="Alfabank" type="button" title="Alfabank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--alfaukr
              span.currencies-big-icon.currencies-big-icon--alfaukr
              span
                span Alfabank
          li
            button(type="button" title="Webmoney").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger.upward
              span.currencies-icon.currencies-icon--webmoney
              span.currencies-big-icon.currencies-big-icon--webmoney
              span Webmoney
            .exchanger-currency-dropdown__submenu.upward
              button(type="button" data-icon="webmoney" data-text="Webmoney WMZ") WMZ
              button(type="button" data-icon="webmoney" data-text="Webmoney WMU") WMU
              button(type="button" data-icon="webmoney" data-text="Webmoney WMR") WMR
              button(type="button" data-icon="webmoney" data-text="Webmoney WMB") WMB
              button(type="button" data-icon="webmoney" data-text="Webmoney WMX") WMX
          li
            button(data-icon="privatuah" data-text="PrivatBank" type="button" title="PrivatBank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--privatuah
              span.currencies-big-icon.currencies-big-icon--privatuah
              span
                span PrivatBank
          li
            button(data-icon="visa" data-text="Visa" type="button" title="Visa").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--visa
              span.currencies-big-icon.currencies-big-icon--visa
              span
                span Visa
          li
            button(data-icon="yandex-money" data-text="Yandex Money" type="button" title="Yandex Money").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--yandex-money
              span.currencies-big-icon.currencies-big-icon--yandex-money
              span
                span Yandex Money
          li
            button(data-icon="qiwi" data-text="Qiwi" type="button" title="Qiwi").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--qiwi
              span.currencies-big-icon.currencies-big-icon--qiwi
              span
                span Qiwi
          li
            button(data-icon="monobank" data-text="Monobank" type="button" title="Monobank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--monobank
              span.currencies-big-icon.currencies-big-icon--monobank
              span
                span Monobank
          li
            button(data-icon="oschadbank" data-text="Oschadbank" type="button" title="Oschadbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--oschadbank
              span.currencies-big-icon.currencies-big-icon--oschadbank
              span
                span Oschadbank
          li
            button(data-icon="alfaukr" data-text="Alfabank" type="button" title="Alfabank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--alfaukr
              span.currencies-big-icon.currencies-big-icon--alfaukr
              span
                span Alfabank
          li
            button(data-icon="aval" data-text="Aval" type="button" title="Aval").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--aval
              span.currencies-big-icon.currencies-big-icon--aval
              span
                span Aval
          li
            button(data-icon="sber" data-text="Sberbank" type="button" title="Sberbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--sber
              span.currencies-big-icon.currencies-big-icon--sber
              span
                span Sberbank
          li
            button(type="button" title="Webmoney").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger.upward
              span.currencies-icon.currencies-icon--webmoney
              span.currencies-big-icon.currencies-big-icon--webmoney
              span Webmoney
            .exchanger-currency-dropdown__submenu.upward
              button(type="button" data-icon="webmoney" data-text="Webmoney WMZ") WMZ
              button(type="button" data-icon="webmoney" data-text="Webmoney WMU") WMU
              button(type="button" data-icon="webmoney" data-text="Webmoney WMR") WMR
              button(type="button" data-icon="webmoney" data-text="Webmoney WMB") WMB
          li
            button(data-icon="oschadbank" data-text="Oschadbank" type="button" title="Oschadbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--oschadbank
              span.currencies-big-icon.currencies-big-icon--oschadbank
              span
                span Oschadbank
          li
            button(data-icon="alfaukr" data-text="Alfabank" type="button" title="Alfabank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--alfaukr
              span.currencies-big-icon.currencies-big-icon--alfaukr
              span
                span Alfabank
          li
            button(data-icon="yandex-money" data-text="Yandex Money" type="button" title="Yandex Money").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--yandex-money
              span.currencies-big-icon.currencies-big-icon--yandex-money
              span
                span Yandex Money