mixin exchanger({extraCls, number = 0, infoPopupCls = "", linkInstead = false, url = '#'} = {})

  form.exchanger(class=extraCls)

    .exchanger__rates
      .exchanger__rates-inner
        .exchanger__rate
          span Buy rate:
          span 1 WMZ = 24.86 UAH
        .exchanger__rate
          span Sell rate:
          span 25.89 UAH = 1 WMZ

    .exchanger__currency
      .exchanger__currency-inner
        label I give
        .exchanger__currency-input-group
          input.imask-number(type="text" name="exchanger-" + number + "-input-1" value="1" autocomplete="off" required)
          input(type="hidden" name="exchanger-" + number + "-currency-name-1" value="bitcoin btc")
          button(type="button").exchanger-currency-dropdown-trigger
            span.currencies-icon.currencies-icon--bitcoin
            span bitcoin btc

      .exchanger-currency-dropdown(id="exchanger-currency-dropdown-" + number + "-1")
        button(type="button").close-button.exchanger-currency-dropdown__close
        .exchanger-currency-dropdown__min-max
          div
            | Минимальный лимит:
            span 0
          div
            | Максиммальный лимит:
            span 0

        ul
          li
            button(type="button" title="Webmoney").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger
              span.currencies-icon.currencies-icon--webmoney
              span.currencies-big-icon.currencies-big-icon--webmoney
              span Webmoney
            .exchanger-currency-dropdown__submenu
              button(type="button" data-min="5.00 WMZ" data-max="500 000.00 WMZ" data-icon="webmoney" data-text="Webmoney WMZ") WMZ
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 300 000.00 rub
              button(type="button" data-min="50.00 WMU" data-max="10 500 000.00 WMU" data-icon="webmoney" data-text="Webmoney WMU") WMU
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="10.00 WMR" data-max="100 000 000.00 WMR" data-icon="webmoney" data-text="Webmoney WMR") WMR
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 1 000 000.00 rub
              button(type="button" data-min="20.00 rub" data-max="20 000.00 rub" data-icon="webmoney" data-text="Webmoney WMB") WMB
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 300 000.00 rub
              button(type="button" data-min="20.00 rub" data-max="150 000.00 rub" data-icon="webmoney" data-text="Webmoney WMX") WMX
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 3000.00 rub
          li
            button(data-min="20.00 rub" data-max="10 000.00 rub" data-icon="privatuah" data-text="PrivatBank" type="button" title="PrivatBank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--privatuah
              span.currencies-big-icon.currencies-big-icon--privatuah
              span
                span PrivatBank
                span
                  span Min:
                    span 10.00 WMZ
                  span Max:
                    span 259 874.50 WMZ
          li
            button(type="button" title="Visa").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger
              span.currencies-icon.currencies-icon--visa
              span.currencies-big-icon.currencies-big-icon--visa
              span Visa
            .exchanger-currency-dropdown__submenu
              button(type="button" data-min="20.00 rub" data-max="20 000.00 rub" data-icon="visa" data-text="Visa RUB") RUB
                span
                  span Min:
                    span 10.00 WMZ
                  span Max:
                    span 9 874.50 WMZ
              button(type="button" data-min="20.00 rub" data-max="14 000 000.00 rub" data-icon="visa" data-text="Visa USD") USD
                span
                  span Min:
                    span 120.00 USD
                  span Max:
                    span 30 000.00 USD
              button(type="button" data-min="1.00 rub" data-max="100.00000000 rub" data-icon="visa" data-text="Visa EUR") EUR
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="yandex-money" data-text="Yandex Money" type="button" title="Yandex Money").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--yandex-money
              span.currencies-big-icon.currencies-big-icon--yandex-money
              span
                span Yandex Money
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="120 000.00 rub" data-icon="qiwi" data-text="Qiwi" type="button" title="Qiwi").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--qiwi
              span.currencies-big-icon.currencies-big-icon--qiwi
              span
                span Qiwi
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(type="button" title="Monobank").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger.upward
              span.currencies-icon.currencies-icon--monobank
              span.currencies-big-icon.currencies-big-icon--monobank
              span Monobank
            .exchanger-currency-dropdown__submenu.upward
              button(type="button" data-min="20.00 rub" data-max="40 000 000.00 rub" data-position="top" data-icon="monobank" data-text="Monobank RUB") RUB
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="5.00 usd" data-max="1 000 000.00 usd" data-position="top" data-icon="monobank" data-text="Monobank USD") USD
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="20.00 eur" data-max="700 000.00 eur" data-position="top" data-icon="monobank" data-text="Monobank EUR") EUR
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="oschadbank" data-text="Oschadbank" type="button" title="Oschadbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--oschadbank
              span.currencies-big-icon.currencies-big-icon--oschadbank
              span
                span Oschadbank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub


      .form-checkbox-group.exchanger__checkbox-group
        input.form-checkbox-group__input(type="checkbox" id="exchanger-" + number + "-commission-1" name="exchanger-" + number + "-commission-1")
        label.form-checkbox-group__label(for="exchanger-" + number + "-commission-1") take into account the commission PS 0 BTC #[span.info-btn(data-popup-target="info-popup-exchanger-" + number data-popup-left="-300" data-popup-top="20")]

    .exchanger__swap
      button(type="button")

    .exchanger__currency
      .exchanger__currency-inner
        label I receive
        .exchanger__currency-input-group
          input.imask-number(type="text" name="exchanger-" + number + "-input-2" value="1" autocomplete="off" required)
          input(type="hidden" name="exchanger-" + number + "-currency-name-2" value="paymer check pwmz")
          button(type="button").exchanger-currency-dropdown-trigger
            span.currencies-icon.currencies-icon--webmoney
            span paymer check pwmz

      .exchanger-currency-dropdown.exchanger-currency-dropdown--big(id="exchanger-currency-dropdown-" + number + "-2")
        button(type="button").close-button.exchanger-currency-dropdown__close
        .exchanger-currency-dropdown__min-max
          div
            | Минимальный лимит:
            span 0
          div
            | Максиммальный лимит:
            span 0

        ul
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="webmoney" data-text="Webmoney" type="button" title="Webmoney").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--webmoney
              span.currencies-big-icon.currencies-big-icon--webmoney
              span
                span Webmoney
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="privatuah" data-text="PrivatBank" type="button" title="PrivatBank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--privatuah
              span.currencies-big-icon.currencies-big-icon--privatuah
              span
                span PrivatBank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="visa" data-text="Visa" type="button" title="Visa").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--visa
              span.currencies-big-icon.currencies-big-icon--visa
              span
                span Visa
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(type="button" title="Yandex Money").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger
              span.currencies-icon.currencies-icon--yandex-money
              span.currencies-big-icon.currencies-big-icon--yandex-money
              span Yandex Money
            .exchanger-currency-dropdown__submenu
              button(type="button" data-min="20.00 rub" data-max="31 123 000.00 rub" data-position="bottom" data-icon="yandex-money" data-text="Yandex Money RUR") RUR
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="20.00 rub" data-max="1 000.00 rub" data-position="bottom" data-icon="yandex-money" data-text="Yandex Money USD") USD
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="10.00 rub" data-max="130 000 000.00 rub" data-position="bottom" data-icon="yandex-money" data-text="Yandex Money EUR") EUR
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="20.00 rub" data-max="50 000.00 rub" data-position="bottom" data-icon="yandex-money" data-text="Yandex Money EUR") EUR
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="5.00 rub" data-max="110 000.00 rub" data-position="bottom" data-icon="yandex-money" data-text="Yandex Money EUR") EUR
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="qiwi" data-text="Qiwi" type="button" title="Qiwi").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--qiwi
              span.currencies-big-icon.currencies-big-icon--qiwi
              span
                span Qiwi
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="monobank" data-text="Monobank" type="button" title="Monobank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--monobank
              span.currencies-big-icon.currencies-big-icon--monobank
              span
                span Monobank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="oschadbank" data-text="Oschadbank" type="button" title="Oschadbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--oschadbank
              span.currencies-big-icon.currencies-big-icon--oschadbank
              span
                span Oschadbank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="alfaukr" data-text="Alfabank" type="button" title="Alfabank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--alfaukr
              span.currencies-big-icon.currencies-big-icon--alfaukr
              span
                span Alfabank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="aval" data-text="Aval" type="button" title="Aval").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--aval
              span.currencies-big-icon.currencies-big-icon--aval
              span
                span Aval
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="sber" data-text="Sberbank" type="button" title="Sberbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--sber
              span.currencies-big-icon.currencies-big-icon--sber
              span
                span Sberbank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="cash" data-text="Cash" type="button" title="Cash").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--cash
              span.currencies-big-icon.currencies-big-icon--cash
              span
                span Cash
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="oschadbank" data-text="Oschadbank" type="button" title="Oschadbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--oschadbank
              span.currencies-big-icon.currencies-big-icon--oschadbank
              span
                span Oschadbank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="alfaukr" data-text="Alfabank" type="button" title="Alfabank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--alfaukr
              span.currencies-big-icon.currencies-big-icon--alfaukr
              span
                span Alfabank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(type="button" title="Webmoney").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger.upward
              span.currencies-icon.currencies-icon--webmoney
              span.currencies-big-icon.currencies-big-icon--webmoney
              span Webmoney
            .exchanger-currency-dropdown__submenu.upward
              button(type="button" data-min="20.00 rub" data-max="30 000 000.00 rub" data-position="top" data-icon="webmoney" data-text="Webmoney WMZ") WMZ
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="20.00 rub" data-max="200 000.00 rub" data-position="top" data-icon="webmoney" data-text="Webmoney WMU") WMU
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="202.00 rub" data-max="130 000 000.00 rub" data-position="top" data-icon="webmoney" data-text="Webmoney WMR") WMR
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="1220.00 rub" data-max="30 000 000.00 rub" data-position="top" data-icon="webmoney" data-text="Webmoney WMB") WMB
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="2120.00 rub" data-max="11 000.00 rub" data-position="top" data-icon="webmoney" data-text="Webmoney WMX") WMX
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="privatuah" data-text="PrivatBank" type="button" title="PrivatBank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--privatuah
              span.currencies-big-icon.currencies-big-icon--privatuah
              span
                span PrivatBank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="visa" data-text="Visa" type="button" title="Visa").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--visa
              span.currencies-big-icon.currencies-big-icon--visa
              span
                span Visa
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="yandex-money" data-text="Yandex Money" type="button" title="Yandex Money").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--yandex-money
              span.currencies-big-icon.currencies-big-icon--yandex-money
              span
                span Yandex Money
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="qiwi" data-text="Qiwi" type="button" title="Qiwi").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--qiwi
              span.currencies-big-icon.currencies-big-icon--qiwi
              span
                span Qiwi
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="monobank" data-text="Monobank" type="button" title="Monobank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--monobank
              span.currencies-big-icon.currencies-big-icon--monobank
              span
                span Monobank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="oschadbank" data-text="Oschadbank" type="button" title="Oschadbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--oschadbank
              span.currencies-big-icon.currencies-big-icon--oschadbank
              span
                span Oschadbank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="alfaukr" data-text="Alfabank" type="button" title="Alfabank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--alfaukr
              span.currencies-big-icon.currencies-big-icon--alfaukr
              span
                span Alfabank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="aval" data-text="Aval" type="button" title="Aval").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--aval
              span.currencies-big-icon.currencies-big-icon--aval
              span
                span Aval
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="sber" data-text="Sberbank" type="button" title="Sberbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--sber
              span.currencies-big-icon.currencies-big-icon--sber
              span
                span Sberbank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(type="button" title="Webmoney").exchanger-currency-dropdown__button.exchanger-currency-dropdown__submenu-trigger.upward
              span.currencies-icon.currencies-icon--webmoney
              span.currencies-big-icon.currencies-big-icon--webmoney
              span Webmoney
            .exchanger-currency-dropdown__submenu.upward
              button(type="button" data-min="20.00 rub" data-max="30 000 000.00 rub" data-position="top" data-icon="webmoney" data-text="Webmoney WMZ") WMZ
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="220.00 rub" data-max="30 000.00 rub" data-position="top" data-icon="webmoney" data-text="Webmoney WMU") WMU
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="20.00 rub" data-max="100 000.00 rub" data-position="top" data-icon="webmoney" data-text="Webmoney WMR") WMR
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
              button(type="button" data-min="2120.00 rub" data-max="1 000.00 rub" data-position="top" data-icon="webmoney" data-text="Webmoney WMB") WMB
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="oschadbank" data-text="Oschadbank" type="button" title="Oschadbank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--oschadbank
              span.currencies-big-icon.currencies-big-icon--oschadbank
              span
                span Oschadbank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="alfaukr" data-text="Alfabank" type="button" title="Alfabank").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--alfaukr
              span.currencies-big-icon.currencies-big-icon--alfaukr
              span
                span Alfabank
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub
          li
            button(data-min="20.00 rub" data-max="30 000 000.00 rub" data-icon="yandex-money" data-text="Yandex Money" type="button" title="Yandex Money").exchanger-currency-dropdown__button
              span.currencies-icon.currencies-icon--yandex-money
              span.currencies-big-icon.currencies-big-icon--yandex-money
              span
                span Yandex Money
                span
                  span Min:
                    span 120.00 rub
                  span Max:
                    span 30 000 000.00 rub


      .exchanger__currency-info
        .exchanger__max-amount
          span Max exchange amount #[span 200 PWMZ]
          a(href="#" data-modal="#modal-need-more") Need more?
        .exchanger__fee
          span Fee «Webmoney»: #[span 0.77 WMZ]
          a(href="#") Check rate

    .exchanger__button-container
      if linkInstead
        a(href=url).btn.btn--filled.btn--wide-md.exchanger__button Exchange
      else
        button.btn.btn--filled.btn--wide-md.exchanger__button Exchange

    .info-popup(id="info-popup-exchanger-" + number class=infoPopupCls)
      p.info-popup__text It begins with you fixing a certain sales commission rate, which is a percentage of the sales value. Keep track of the amount of sales every single employee generates, then multiply the sales commission rate of each employee by the amount of sales he makes.