section.steps
  .container.steps__container
    h2.h2.steps__title How can I exchange

    .steps__inner

      .steps__step.steps__step--1 Choose currency &amp; enter amount
      .steps__step-description
        .steps__step-description-subtitle Step 1
        .steps__step-description-title Choose currencies &amp; calculation of amounts
        p.steps__step-description-paragraph In order to start exchanging currencies on our website you have to choose the currency that you have. Click on the the drop-down list, which opens by clicking on the down arrow next to the "I give" field.
        p.steps__step-description-paragraph After that, you need to select the currency that you want to receive as a result of the exchange. Select it from the drop-down list near the corresponding field.
        p.steps__step-description-paragraph Enter the amount of currency you want to exchange in the "I give" field and the calculator will automatically calculate the total amount you will receive as a result of the exchange. If you want to see the full list of exchange rates at our exchange office - you can go to the "Rates" page, from which you can also continue the process of processing the request for an exchange.
        p.steps__step-description-paragraph To go to the application form, click on the "Exchange" button.

      .steps__step.steps__step--2 Additional information
      .steps__step-description
        .steps__step-description-subtitle Step 2
        .steps__step-description-title Additional information
        p.steps__step-description-paragraph For a safe and correct exchange, you will need to provide your billing address, to which we will transfer funds based on the results of the exchange and the method of communication convenient for you. The contact address is taken in case there are difficulties during the exchange so that our operator could contact you in a form convenient for you and discuss the details if there is such a need.
        p.steps__step-description-paragraph The contacts you indicated are not stored and will not be used, it is only a precautionary measure.

      .steps__step.steps__step--3 Payment of exchange
      .steps__step-description
        .steps__step-description-subtitle Step 3
        .steps__step-description-title Payment of exchange
        p.steps__step-description-paragraph When the entered data is checked and sent - the application is created and the service is ready for the exchange. You will be shown a billing address to which you will need to send the amount you specify, which you want to exchange. After payment, you will be redirected to the page with the exchange status, where you can view the status of transactions on your account. Also on this page you will find the number of your transaction, with which you can always contact our support for more details.
        p.steps__step-description-paragraph After the successful exchange, the funds will be credited to the payee's billing address indicated by you and the application will be closed.
        p.steps__step-description-paragraph If you have a desire - you can leave your feedback about the service or suggestions for improving it in the "Feedback" section.

    a(href="#").arrow-btn.step__see-details See details
    .step__details
      button.close-button.close-button--gray.step__details-close
      .steps__step-description
        .steps__step-description-subtitle Step 1
        .steps__step-description-title Choose currencies &amp; calculation of amounts
        p.steps__step-description-paragraph In order to start exchanging currencies on our website you have to choose the currency that you have. Click on the the drop-down list, which opens by clicking on the down arrow next to the "I give" field.
        p.steps__step-description-paragraph After that, you need to select the currency that you want to receive as a result of the exchange. Select it from the drop-down list near the corresponding field.
        p.steps__step-description-paragraph Enter the amount of currency you want to exchange in the "I give" field and the calculator will automatically calculate the total amount you will receive as a result of the exchange. If you want to see the full list of exchange rates at our exchange office - you can go to the "Rates" page, from which you can also continue the process of processing the request for an exchange.
        p.steps__step-description-paragraph To go to the application form, click on the "Exchange" button.
      .steps__step-description
        .steps__step-description-subtitle Step 2
        .steps__step-description-title Additional information
        p.steps__step-description-paragraph For a safe and correct exchange, you will need to provide your billing address, to which we will transfer funds based on the results of the exchange and the method of communication convenient for you. The contact address is taken in case there are difficulties during the exchange so that our operator could contact you in a form convenient for you and discuss the details if there is such a need.
        p.steps__step-description-paragraph The contacts you indicated are not stored and will not be used, it is only a precautionary measure.
      .steps__step-description
        .steps__step-description-subtitle Step 3
        .steps__step-description-title Payment of exchange
        p.steps__step-description-paragraph When the entered data is checked and sent - the application is created and the service is ready for the exchange. You will be shown a billing address to which you will need to send the amount you specify, which you want to exchange. After payment, you will be redirected to the page with the exchange status, where you can view the status of transactions on your account. Also on this page you will find the number of your transaction, with which you can always contact our support for more details.
        p.steps__step-description-paragraph After the successful exchange, the funds will be credited to the payee's billing address indicated by you and the application will be closed.
        p.steps__step-description-paragraph If you have a desire - you can leave your feedback about the service or suggestions for improving it in the "Feedback" section.