.news-section.news-section--hidden-desktop
  .container
    h2.h2 Interesting about cryptocurrency
    .news
      .news__item
        .news__item-img-block
          img.news__item-img(src="img/news/1.jpg", alt="")
        .news__item-content
          .news__item-date March 17, 2019
          .news__item-title In which countries is mining most popular?
          .news__item-text One of the ways to earn money on a cryptocurrency is mining. But there is one important point: if even a few years ago even ordinary users could extract Bitcoins, then the increasing complexity of the Bitcoin network made the extraction of this cryptocurrency in the home environment irrational.
          a(href="#").arrow-btn.news__item-read-more-btn Read more
      .news__item
        .news__item-img-block
          img.news__item-img(src="img/news/2.jpg", alt="")
        .news__item-content
          .news__item-date March 17, 2019
          .news__item-title 13 types of crypto traders: which one are you?
          .news__item-text One of the ways to earn money on a cryptocurrency is mining. But there is one important point: if even a few years ago even ordinary users could extract Bitcoins, then the increasing complexity of the Bitcoin network made the extraction of this cryptocurrency in the home environment irrational.
          a(href="#").arrow-btn.news__item-read-more-btn Read more
      .news__item
        .news__item-img-block
          img.news__item-img(src="img/news/1.jpg", alt="")
        .news__item-content
          .news__item-date March 17, 2019
          .news__item-title In which countries is mining most popular?
          .news__item-text One of the ways to earn money on a cryptocurrency is mining. But there is one important point: if even a few years ago even ordinary users could extract Bitcoins, then the increasing complexity of the Bitcoin network made the extraction of this cryptocurrency in the home environment irrational.
          a(href="#").arrow-btn.news__item-read-more-btn Read more
      .news__item
        .news__item-img-block
          img.news__item-img(src="img/news/2.jpg", alt="")
        .news__item-content
          .news__item-date March 17, 2019
          .news__item-title 13 types of crypto traders: which one are you?
          .news__item-text One of the ways to earn money on a cryptocurrency is mining. But there is one important point: if even a few years ago even ordinary users could extract Bitcoins, then the increasing complexity of the Bitcoin network made the extraction of this cryptocurrency in the home environment irrational.
          a(href="#").arrow-btn.news__item-read-more-btn Read more
    .news-section__btn-group
      a(href="#").btn.btn--accent.news-section__btn Read blog about crypto