.payment-systems
  .container.payment-systems__container
    .payment-systems__item.payment-systems__item--1
    .payment-systems__item.payment-systems__item--2
    .payment-systems__item.payment-systems__item--3
    .payment-systems__item.payment-systems__item--4
    .payment-systems__item.payment-systems__item--5
    .payment-systems__item.payment-systems__item--6
    .payment-systems__item.payment-systems__item--7
    .payment-systems__item.payment-systems__item--8
    .payment-systems__item.payment-systems__item--9