.tabs-section

  .tabs-section__tab-btns
    a(href="#").tabs-section__tab-btn.active
      span Interesting about cryptocurrency
    a(href="#").tabs-section__tab-btn
      span Referal program
    a(href="#").tabs-section__tab-btn
      span About us

  .tabs-section__tabs
    .tabs-section__tab
      .tabs-section__content
        .tabs-section__title Interesting about cryptocurrency
        .tabs-news
          //-.tabs-section__news
          .tabs-news__item
            .tabs-news__item-img-block
              img.tabs-news__item-img(src="img/news/1.jpg", alt="")
            .tabs-news__item-content
              .tabs-news__item-title In which countries is mining most popular?
              .tabs-news__item-date March 17, 2019
              .tabs-news__item-text One of the ways to earn money on a cryptocurrency is mining. But there is one important point: if even a few years ago even ordinary users could extract Bitcoins, then the increasing complexity of the Bitcoin network made the extraction of this cryptocurrency in the home environment irrational.
              a(href="#").arrow-btn.tabs-news__item-read-more-btn Read more
          .tabs-news__item
            .tabs-news__item-img-block
              img.tabs-news__item-img(src="img/news/2.jpg", alt="")
            .tabs-news__item-content
              .tabs-news__item-title 13 types of crypto traders: which one are you?
              .tabs-news__item-date March 17, 2019
              .tabs-news__item-text One of the ways to earn money on a cryptocurrency is mining. But there is one important point: if even a few years ago even ordinary users could extract Bitcoins, then the increasing complexity of the Bitcoin network made the extraction of this cryptocurrency in the home environment irrational.
              a(href="#").arrow-btn.tabs-news__item-read-more-btn Read more
        .tabs-section__btn-group
          a(href="#").btn.btn--accent.tabs-section__btn Read blog about crypto

    .tabs-section__tab
      .tabs-section__content
        .tabs-section__title What is a Referral program?
        .tabs-section__term Get money effortlessly
        .tabs-section__description We offers you the opportunity to earn through a referral program offering you to distribute promotional materials of our service and to receive income from each user that you brought to the site exchanger1.net
        .tabs-section__description A simple and convenient version of the referral program that brings you revenue for each user who came to our exchange point for your referral link and made an exchange. In this referral system you receive income, depending on the amount of exchange of your referral.
        .tabs-section__description You just need to spread out your referral link and recommend our exchange office to people.
        .tabs-section__term Advantages of the referral program for you
        .tabs-section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in      culpa qui officia deserunt mollit anim id est laborum.
        ul.tabs-section__list
          li.tabs-section__list-item Advantages 1 and so on;
          li.tabs-section__list-item freely analyze currency rates of competitors;
          li.tabs-section__list-item collect and analyze information, constantly updating it every couple of seconds;
          li.tabs-section__list-item set the most optimal course for the user.
        .tabs-section__btn-group
          a(href="#").btn.btn--accent.tabs-section__btn More about referral program

    .tabs-section__tab
      .tabs-section__content
        .tabs-section__title Why hundreds of clients choose us every day
        .tabs-section__term More than 5 years on the market
        .tabs-section__description Our service has been operating in the field of currency exchange for more than five years and thanks to this we perfectly know all the subtleties of this sphere, which helps to provide better services for our customers.
        .tabs-section__term Big reserves
        .tabs-section__description Our exchange office provides our customers with high reserves to ensure that customers can exchange large amounts of money for one exchange operation. Also, maintaining high amounts of reserves helps us to ensure a more stable operation of the service without delays due to lack of currency.
        .tabs-section__term We work 365/24/7
        .tabs-section__description We work on Microsoft cloud-based services, so we are able to process financial transactions around the clock and seven days a week. For you our support operators work 24/7 to be at any time ready to help both with the transaction and with the answers to your questions.
        .tabs-section__term Automatic profitable exchange
        .tabs-section__description The low cost of all financial transactions on our service is possible thanks to the full automation of all processes. Our exclusive development is the presence of a robot merchant who can easily and reliably:
        ul.tabs-section__list
          li.tabs-section__list-item manage exchange operations in automatic mode;
          li.tabs-section__list-item freely analyze currency rates of competitors;
          li.tabs-section__list-item collect and analyze information, constantly updating it every couple of seconds;
          li.tabs-section__list-item set the most optimal course for the user.
        .tabs-section__btn-group
          a(href="#").btn.btn--accent.tabs-section__btn Read more about us