.want-to-exchange
  .container
    h2.h2 Want to exchange and get bonuses?

    .want-to-exchange__row

      .want-to-exchange__col.want-to-exchange__col--1
        .want-to-exchange__title Just register and get the first discount with your first exchange
        .want-to-exchange__text You will be able to experience all the advantages of our discount program:
        ul.want-to-exchange__list
          li.want-to-exchange__list-item The presence of a funded system, in which a greater number of exchanges allows you to get a big discount in future transactions;
          li.want-to-exchange__list-item Getting the first discount already at registration, which is charged automatically from the profits;
          li.want-to-exchange__list-item Transparent charges, in which he will not be able to independently calculate the points scored, if the accumulated certain amount will be increased several times automatically;
          li.want-to-exchange__list-item Profitable, as all additional conditions must be provided in exchange for new exchanges, and as always
          li.want-to-exchange__list-item Work with exchanger1.net. You always get the most profitable rate that is already included, your bonus discount, it is constantly growing, and you get more and more opportunities for exchange on the service.

      .want-to-exchange__col.want-to-exchange__col--2
        .want-to-exchange__form-wrapper
          form.form
            .form__title.want-to-exchange__form-wrapper-title Registration
            .form-group
              label.form-group__label Login
              input.form-group__input(type="text" name="want-to-exchange-login" required)
            .form-group
              label.form-group__label Email
              input.form-group__input(type="email" name="want-to-exchange-email" required)
            .form-password-group
              .form-group
                label.form-group__label Password
                button(type="button").form-group__password-show
                input.form-group__input.form-password-group__input(type="password" name="want-to-exchange-password" title="Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter" pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required)
              .form-group
                label.form-group__label Repeat password
                button(type="button").form-group__password-show
                input.form-group__input.form-password-group__input(type="password" name="want-to-exchange-password" required)
            .form-checkbox-group.modal__form-checkbox-group
              input#want-to-exchange-remember-me.form-checkbox-group__input(type="checkbox" name="want-to-exchange-remember-me")
              label.form-checkbox-group__label.modal__form-checkbox-group-label(for="want-to-exchange-remember-me") Remember me
              input#want-to-exchange-i-agree.form-checkbox-group__input(type="checkbox" name="want-to-exchange-i-agree")
              label.form-checkbox-group__label.modal__form-checkbox-group-label(for="want-to-exchange-i-agree") I agree to the #[a(href="#") User agreement]
              input#want-to-exchange-not-usa-citizen.form-checkbox-group__input(type="checkbox" name="want-to-exchange-not-usa-citizen")
              label.form-checkbox-group__label.modal__form-checkbox-group-label(for="want-to-exchange-not-usa-citizen") I'm not a citizen of the USA
            .form-button-group
              button.btn.btn--filled.form-button-group__btn(type="submit") Register
              button.btn.form-button-group__btn(type="button" data-modal="#modal-login") Log in
