/*New Design Css*/
@media (max-width: 400px){
/* Top Header */
	div#jsst-header div#jsst-header-heading{width: 100%;}
/* Dashboard */
	div#jsst-header div#jsst-header-heading{width: 100%;}
	a.js-ticket-header-links{width: 100%;}
	div#jsst-header div#jsst-tabs-wrp{width: 100%;}
	div#jsst-header span.jsst-header-tab{width: calc(100% / 2 - 10px);margin: 5px 5px;float: left;}
	div#jsst-header span.jsst-header-tab a.js-cp-menu-link{width: 100%;}
	a.js-ticket-dash-menu{width: calc(100% / 2 - 10px);}

/* Ticket Status */
	div.js-ticket-checkstatus-wrp div.js-ticket-checkstatus-field-wrp{width: calc(100% / 1 - 50px); }
/* Add Form */
	div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp{width: calc(100% / 1 - 10px);}
	div.js-ticket-from-field div.js-ticket-select-user-field{float: left;width: 65%;}
	div.js-ticket-select-user-btn{width: 35%;}
	span#premade{width: 100%;}
	span#premade select#premadeid{background: url(../images/selecticon.png) 96% / 4% no-repeat;width: 100%;}
	span.js-ticket-apend-radio-btn{margin: 10px 0px 0px 0px;}
	div.tk_attachment_value_wrapperform span.tk_attachment_value_text{width: calc(100% / 1 - 10px);}
	.js-padding-null{padding:0!important;}
	div#js-tk-formwrapper div.js-append-premade{width: 70%;}
	div#js-tk-formwrapper div.js-append-premadecheck{width: calc(100% - 70% - 5px);}
	div#js-attachment-files span.js-attachment-file-box{width: calc(100% / 1 - 10px);}
	/*Select User popup*/
	div.js-ticket-search-top div.js-ticket-search-left{width: 100%;}
	div.js-ticket-search-top div.js-ticket-search-left div.js-ticket-search-fields-wrp input.js-ticket-search-input-fields{width: calc(100% / 1 - 10px);margin-bottom: 10px !important;}
	div.js-ticket-search-top div.js-ticket-search-right{width: calc(60% - 5px);margin-left: 5px;}
	span.js-ticket-sub-fields{width: calc(100% / 2 - 10px);margin-bottom: 10px;}
	span.tk_attachments_addform{display: inline-block;padding:5px 10px;margin-top:10px;margin-right: 0px; left: 10px;position: relative;}

/* My Ticket*/
	div.js-myticket-link{padding-bottom: 10px;width: calc(100% / 1);}
	div.js-myticket-link a.js-myticket-link{min-width: 0px;width: 100%;}
	div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div.js-filter-wrapper div.js-filter-form-fields-wrp{width: 85%;}
	div#js-filter-wrapper-toggle-btn{width: calc(100% - 85% - 5px);}
	div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div.js-filter-button-wrp input.js-ticket-search-btn{margin: auto 5px;width: calc(100% / 2 - 10px);}
	div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div.js-filter-button-wrp input.js-ticket-reset-btn{margin: auto 5px;width: calc(100% / 2 - 10px);}
	div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div#js-filter-wrapper-toggle-area div.js-filter-field-wrp{width: calc(100% / 1);padding: 5px;}
	div.js-ticket-sorting span.js-ticket-sorting-link{padding-right: 0px;padding-left: 0px;width: calc(100% / 2);display: inline-block;float: left;}
	div.js-ticket-wrapper div.js-ticket-pic{width: 100%;}
	div.js-ticket-wrapper div.js-ticket-data{width: 100%;margin-top: 10px;padding: 0px;}
	div.js-ticket-wrapper div.js-ticket-data span.js-ticket-status{top: -180%;right: 0;padding: 28px 10px;width: 78px;border-radius: 0;text-align: center;}
	div.js-ticket-wrapper div.js-ticket-data1{margin: 5px 0px 0px 0px;padding: 10px 5px;}
	div.js-ticket-wrapper div.js-ticket-data1{border-left: none !important; border-top:1px solid #ccc }
	span.js-ticket-title{float: none !important; }
	div.js-filter-wrapper div.js-filter-value{padding-bottom: 10px;}
	div.js-filter-wrapper {margin-top: 0px;}
	div.js-filter-wrapper-position{margin-top: 10px;}
	div.js-ticket-wrapper:hover div.js-ticket-pic{border: none !important;}
	div.js-ticket-wrapper div.js-ticket-pic{border: none !important;}
	div.js-ticket-wrapper:hover div.js-ticket-data1{border: none !important;}
	div.js-filter-wrapper div.js-filter-form-fields-wrp{width: 85%;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp{width: calc(100% / 1);padding: 0px;}
	div#js-tk-wrapper div.js-icon{width: 100%;border-right: 0 !important;}
	div#js-tk-wrapper div.js-middle{width: 100%;border-right: 0 !important;text-align: left;padding: 15px 0px;}
	div#js-tk-wrapper div.js-right{width: calc(100% - 20px);border-top: 1px solid #dedede;margin: 0px 10px;}
	div#js-tk-wrapper div.js-middle div.js-tk-pabsolute{position: absolute;right: 10px;}
	div#js-tk-wrapper div.js-middle div.js-tk-preletive{width: 100%;position: relative;}
	div#js-tk-sort-wrapper ul#js-tk-sort-manu li.js-tk-sort-manulink a{min-height: 49px;}
	div#js-tk-wrapper div.js-middle .js-tk-textwrap{width: 100%;}

/* Ticket Detail*/
	div.js-ticket-detail-wrapper{padding: 5px 0px;}
	div.js-ticket-detail-box{border:none !important;}
	div.js-ticket-post-reply-box{border: 1px solid #dedede !important;}
	div.js-ticket-detail-box div.js-ticket-detail-left{width: 100%;padding: 5px 0px 0px 0px;}
	div.js-ticket-detail-box div.js-ticket-detail-right{width: 100%;}
	div.js-ticket-detail-box div.js-ticket-detail-right div.js-ticket-rows-wrp{padding: 20px 0px 0px 10px;}
	div.js-ticket-detail-box div.js-ticket-detail-right{border-top: 1px solid #DEDFE0;border-left:none !important;}
	div.js-ticket-detail-right div.js-ticket-openclosed-box{top: 66%;}
	div.js-ticket-time-stamp-wrp span.js-ticket-ticket-created-date{width: 100%;text-align: center;}
	div.jsst-ticket-detail-timer-wrapper div.timer-left{padding: 10px 10px 0px;width: 100%;text-align: center;}
	div.jsst-ticket-detail-timer-wrapper div.timer-right{float: left;width: 100%;}
	div.jsst-ticket-detail-timer-wrapper div.timer-right div.timer-total-time{float: left;width: 100%;text-align: center;padding: 0px 0px 0px 0px; }
	div.jsst-ticket-detail-timer-wrapper div.timer-right div.timer{padding: 0px 0px 0px 0px; }
	div.jsst-ticket-detail-timer-wrapper div.timer-right div.timer-buttons{width: 100%;text-align: center;}
	div.jsst-ticket-detail-timer-wrapper div.timer-right div.timer-buttons span.timer-button{float: none;}
	span.js-ticket-thread-time{text-align: center;float: unset !important;width: 100%;}
	div.js-ticket-premade-msg-wrp{margin-top: 10px;}
	select#premadeid {width: 100%;background: url(../images/selecticon.png) 96% / 4% no-repeat;}
	div.js-ticket-append-signature-wrp{width: calc(100% / 1);margin-right:0px;}
	div.js-ticket-append-signature-wrp div.js-ticket-signature-radio-box{width: calc(100% / 2 - 10px);margin-bottom: 10px;}
	div.js-ticket-premade-msg-wrp div.js-ticket-premade-field-wrp select#departmentid{background: url(../images/selecticon.png) 96% / 4% no-repeat}
	div.js-ticket-premade-msg-wrp div.js-ticket-premade-field-wrp select#staffid{background: url(../images/selecticon.png) 96% / 4% no-repeat}
	div#userpopupforchangepriority{width: 90%;}
	div#userpopupforchangepriority div.js-ticket-priorty-fields-wrp div.js-ticket-select-priorty select#priority{width: 90%;}
	span.js-ticket-thread-time{display: inline-block;float: left;padding: 10px 0 0px 0px;}
	div.js-ticket-attachments-wrp div.js_ticketattachment{width: calc(100% / 1 - 10px);}
	div.js-ticket-closeonreply-wrp div.js-form-title-position-reletive-left{width: auto;}
	div#js-tk-sort-wrapper ul#js-tk-sort-manu li.js-tk-sort-manulink{width: 33%;}
	div.js-ticket-tabs-wrapper div.js-ticket-tabs-header span.js-ticket-tab-box{width: 100%;}
	div.jsst-ticket-detail-timer-wrapper div.timer-right div.timer{width: 100%;}
	div.js-ticket-premade-msg-wrp div.js-ticket-premade-field-wrp select.js-ticket-premade-select{width: 100%;background: url(../images/selecticon.png) 96% / 4% no-repeat;}
	div.js-ticket-append-signature-wrp.js-ticket-append-signature-wrp-full-width{margin: 0;}
	div#js-history-popup{width: 95%;}
	div.jsst-popup-wrapper{width: 95%;left: 0;right: 0;bottom: 0;margin: auto;}
	div.js-merge-form-wrp{width: 100%;}
	div.js-merge-form-btn-wrp{width: 100%;margin-top: 11px;}
	.js-row{margin: 0px;}
	div.jsst-merge-popup-wrapper{left: 0;width: 95%;right: 0;margin: auto;}
	div.js-ticket-wrapper div.js-ticket-data1{width: 100%;}
	div.js-merge-form-value{width: calc(100% / 1 - 5px);margin-bottom: 6px;}

	/* delete Button */
	div#js-suredelete{margin: 10px 8px;}
	div#js-suredelete a.js-tk-suredelete-btn{display: inline-block;margin-top: 10px;position:unset;left:0;right: 0;width: 100%;}
	div#js-suredelete a.js-tk-canceldelete-btn{display: inline-block;margin-top: 10px;position:unset;left:0;right: 0;width: 100%;}

	div.js-ticket-attached-files-wrp{width: calc(100% / 1 - 10px);}
}
@media (min-width: 401px) and (max-width: 600px){
/* Control Panel */
	a.js-ticket-dash-menu{width: calc(100% / 4 - 10px);}

/* Top Header */
	div#jsst-header div#jsst-tabs-wrp{width: 100%;}
	div#jsst-header div#jsst-header-heading{width: 100%;}

/* My Tickets */
	div.js-ticket-myticket-link-myticket{width: calc(100% / 3);float: left;}
	div.js-filter-wrapper div.js-filter-form-fields-wrp{width: 91%;}
	div#js-filter-wrapper-toggle-btn{width: calc(100% - 91% - 5px);}
	div.js-ticket-radio-box{margin-bottom: 5px;}
	div.js-myticket-link a.js-myticket-link{min-width: 0px;width: 100%;}
	div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div.js-filter-wrapper div.js-filter-form-fields-wrp{width: 85%;}
	div#js-filter-wrapper-toggle-btn{width: calc(100% - 85% - 5px);}
	div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div.js-filter-button-wrp input.js-ticket-search-btn{margin: auto 5px;width: calc(100% / 2 - 10px);}
	div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div.js-filter-button-wrp input.js-ticket-reset-btn{margin: auto 5px;width: calc(100% / 2 - 10px);}
	div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div#js-filter-wrapper-toggle-area div.js-filter-field-wrp{width: calc(100% / 1);padding: 5px;}
	div.js-ticket-sorting span.js-ticket-sorting-link{padding-right: 0px;padding-left: 0px;width: calc(100% / 2);display: inline-block;float: left;}
	div.js-ticket-wrapper div.js-ticket-pic{width: 100%;}
	div.js-ticket-wrapper div.js-ticket-data{width: 100%;margin-top: 10px;padding: 0px;}
	div.js-ticket-wrapper div.js-ticket-data span.js-ticket-status{top: -180%;right: 0;padding: 28px 10px;width: 78px;border-radius: 0;text-align: center;}
	div.js-ticket-wrapper div.js-ticket-data1{margin: 5px 0px 0px 0px;padding: 10px 5px;}
	div.js-ticket-wrapper div.js-ticket-data1{border-left: none !important; border-top:1px solid #ccc }
	span.js-ticket-title{float: none !important; }
	div.js-filter-wrapper div.js-filter-value{padding-bottom: 10px;}
	div.js-filter-wrapper {margin-top: 0px;}
	div.js-filter-wrapper-position{margin-top: 10px;}
	div.js-ticket-wrapper:hover div.js-ticket-pic{border: none !important;}
	div.js-ticket-wrapper div.js-ticket-pic{border: none !important;}
	div.js-ticket-wrapper:hover div.js-ticket-data1{border: none !important;}
	div.js-filter-wrapper div.js-filter-form-fields-wrp{width: 85%;}
	div#js-filter-wrapper-toggle-area div.js-filter-field-wrp{width: calc(100% / 1);padding: 0px;}
	div#js-tk-wrapper div.js-icon{width: 100%;border-right: 0 !important;}
	div#js-tk-wrapper div.js-middle{width: 100%;border-right: 0 !important;text-align: left;padding: 15px 0px;}
	div#js-tk-wrapper div.js-right{width: calc(100% - 20px);border-top: 1px solid #dedede;margin: 0px 10px;}
	div#js-tk-wrapper div.js-middle div.js-tk-pabsolute{position: absolute;right: 10px;}
	div#js-tk-wrapper div.js-middle div.js-tk-preletive{width: 100%;position: relative;}
	div#js-tk-sort-wrapper ul#js-tk-sort-manu li.js-tk-sort-manulink a{min-height: 49px;}
	span.js-ticket-sub-fields{width: auto;}
	div.js-ticket-attached-files-wrp{width: calc(100% / 2 - 10px);}

/* Ticket Detail */
	div.js-ticket-detail-box div.js-ticket-detail-left{width: 24%;}
	div.js-ticket-detail-box div.js-ticket-detail-right{width: calc(100% - 24%);}
	div.js-ticket-tabs-wrapper div.js-ticket-tabs-header span.js-ticket-tab-box{margin-bottom: 10px;}
	div.js-ticket-premade-msg-wrp div.js-ticket-premade-field-wrp select.js-ticket-premade-select{width: 83%;}
	div#userpopupforchangepriority{width: 75%;}
	div.jsst-popup-wrapper{width: 95%;left: 0;right: 0;bottom: 0;margin: auto;}
	div.js-ticket-attachments-wrp div.js_ticketattachment{width: calc(100% / 1 - 10px);}
	div.jsst-merge-popup-wrapper{left: 0;width: 95%;right: 0;margin: auto;}
	div.js-ticket-wrapper div.js-ticket-data1{width: 100%;}
}
@media (min-width:601px) and (max-width: 782px){
/* Control Panel */
	a.js-ticket-dash-menu{width: calc(100% / 4 - 10px);}
	div#js-total-count-cp a.js-ticket-count-wrp{width: calc(100% / 2 - 10px);margin-bottom: 10px;}
	div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-first-left div.js-ticket-ticket-subject{word-wrap: break-word;}

	div#jsst-header div#jsst-header-heading{width: 100%;}
	div#jsst-header div#jsst-tabs-wrp{width: 100%;}
/* my Tickets */
div.js-ticket-myticket-link-myticket{width: calc(100% / 3);float: left;}
div.js-filter-wrapper div.js-filter-form-fields-wrp{width: 91%;}
div#js-filter-wrapper-toggle-btn{width: calc(100% - 91% - 5px);}
div.js-ticket-radio-box{margin-bottom: 5px;}
div#js-tk-wrapper div.js-middle div.js-tk-preletive{float: unset;}
/* Add Ticket */
 	div.js-col-md-6.js-col-xs-12{width: calc(100% / 2);}
 	div.js-ticket-from-field div.js-ticket-select-user-field{width: 60%;}
 	div.js-ticket-select-user-btn{width: 40%;}
/* Ticket Detail */
	div.js-ticket-premade-msg-wrp div.js-ticket-premade-field-wrp select.js-ticket-premade-select{width: 87%;}
	div#userpopupforchangepriority{width: 75%;}
	div.jsst-popup-wrapper{width: 95%;left: 0;right: 0;bottom: 0;margin: auto;}
	div.js-ticket-detail-box{border:none !important;}
	div.js-ticket-post-reply-box{border: 1px solid #dedede !important;}
	div.js-ticket-attachments-wrp div.js_ticketattachment{width: calc(100% / 1 - 10px);}
	div.js-ticket-premade-msg-wrp div.js-ticket-premade-field-wrp select.js-ticket-premade-select{width: 83%;}
	div.js-ticket-tabs-wrapper div.js-ticket-tabs-header span.js-ticket-tab-box{margin-bottom: 13px;}
	div.jsst-merge-popup-wrapper{left: 0;width: 95%;right: 0;margin: auto;}

	div.js-ticket-table-body div.js-ticket-data-row div.js-ticket-table-body-col{word-break: break-all;}
	span.js-ticket-sub-fields{width: auto;}
	div.js-admin-staff-wrapper .nopadding{text-align: center;}
	div.js-ticket-detail-wrapper div.js-ticket-action-btn-wrp{border-top: 1px solid #dedede !important;}


	
}

