div#jsst-header div#jsst-header-heading{float: right;}
div#jsst-header div#jsst-tabs-wrp{text-align: left;}
a.js-ticket-dash-menu{float: right;}
.js-col-md-1, .js-col-md-2, .js-col-md-3, .js-col-md-4, .js-col-md-5, .js-col-md-6, .js-col-md-7, .js-col-md-8, .js-col-md-9, .js-col-md-10, .js-col-md-11, .js-col-md-12{float: right;}
div#js-tk-formwrapper div.js-form-value select.js-form-select-field{background: url(../images/selecticon.png) 4% / 4% no-repeat !important;}
div#js-attachment-files span.js-attachment-file-box{float: right !important;}
div#js-attachment-files span.js-attachment-file-box span.js-attachment-remove{left: 6px;right: unset !important;}
div.js-filter-wrapper div.js-filter-form-fields-wrp{float: right !important;}
div#js-filter-wrapper-toggle-btn{margin:0px 5px 0px 0px !important;}
div.js-filter-button-wrp .js-ticket-search-btn{float: right !important;}
div.js-filter-button-wrp .js-ticket-reset-btn{float: right !important;}
div#js-tk-sort-wrapper ul#js-tk-sort-manu li.js-tk-sort-manulink{float: right !important;}
div#js-tk-wrapper div.js-icon{float: right !important;}
div#js-tk-wrapper div.js-middle div.js-tk-pabsolute{float: left !important;}
div.js-ticket-detail-box div.js-ticket-detail-left{float: right !important;}
div.js-ticket-detail-right div.js-ticket-openclosed-box{left: 10px !important;right: unset !important;}
div.js-ticket-detail-wrapper div.js-ticket-action-btn-wrp div.js-ticket-btn-box{float: right !important;}
div.js-ticket-attachments-wrp div.js_ticketattachment{float: right !important;}
div.js-ticket-attachments-wrp div.js_ticketattachment span.js-ticket-download-file-title{float: right !important;}
div.js-ticket-time-stamp-wrp span.js-ticket-ticket-created-date{float: left !important;}
div#js-filter-wrapper-toggle-area div.js-filter-field-wrp{float: right !important;}
div#js-filter-wrapper-toggle-area div.js-filter-field-wrp select#filter_priority{background: url(../images/selecticon.png) 4% / 4% no-repeat !important;}
div#js-filter-wrapper-toggle-area div.js-filter-field-wrp select#filter_department{background: url(../images/selecticon.png) 4% / 4% no-repeat !important;}
div#js-filter-wrapper-toggle-area div.js-filter-field-wrp div.field-calendar div.input-append button#filter_datestart_btn{float: left !important;}
div#js-filter-wrapper-toggle-area div.js-filter-field-wrp div.field-calendar div.input-append button#filter_dateend_btn{float: left !important;}
div.js-ticket-myticket-link-myticket{float: right;}
div#js-tk-wrapper div.js-middle span.js-tk-title{float: right;}
div#js-tk-wrapper div.js-middle{text-align: right;}
div#js-tk-wrapper div.js-middle span.js-tk-value{padding-right: 5px;padding-left: 0px;}
div#js-tk-wrapper div.js-middle div.js-tk-pabsolute{left:10px;right:unset;}
