	.js-null-margin{margin: 0px;}
/* Top Header */
	a{text-decoration: none !important; outline: 0 !important;}
	a.js-ticket-header-links{display: inline-block;padding: 8px 0px;}
	select{-moz-appearance: none !important; padding:0px 5px !important;}
	p{margin: 0px !important;}
	div#jsst-header-main-wrapper{display: inline-block;width:100%;float: left;}
	div#jsst-header{display: inline-block;width:100%;position: relative;padding: 15px;float: left;}
	div#jsst-header span.jsst-header-tab{display: inline-block;margin-right: 7px;}
	div#jsst-header div#jsst-header-heading{float: left;width: 35%;font-size: 24px;padding: 7px 5px;}
	div#jsst-header div#jsst-tabs-wrp{float: left;width:65%;text-align: right;}
	div#jsst-header.margin{margin-bottom: 40px;}
	div#jsst-header span.jsst-header-tab a.js-cp-menu-link{display: inline-block;padding:7px 10px;text-decoration: none;outline: 0;text-align: center;}
	div#jsst-header span.jsst-header-tab a.js-cp-menu-link img.cp-menu-link-img{vertical-align: middle;}

/* Control Panel */
	div#js-dash-menu-link-wrp{display: inline-block;width: 100%;margin: 25px 0px 0px 0px;}
	div.js-section-heading{display: inline-block;width: 100%;padding: 13px 15px;font-size: 18px;}
	div.js-menu-links-wrp{display: inline-block;width: 100%;margin-top: 15px;}
	div.js-ticket-menu-links-row{float: left;width: 100%;}
	a.js-ticket-dash-menu{display: inline-block; float: left;width:calc(100% / 5 - 10px); margin-right:5px;margin-left: 5px;margin-bottom: 10px;margin-top: 10px;padding: 15px 0px;}
	a.js-ticket-dash-menu div.js-ticket-dash-menu-icon{float: left;width: 100%;text-align: center;}
	a.js-ticket-dash-menu div.js-ticket-dash-menu-icon img.js-ticket-dash-menu-img{}
	a.js-ticket-dash-menu span.js-ticket-dash-menu-text{display: inline-block;float: left;width: 100%;text-align: center;margin: 20px 0px;}



/****** Footer ******/
div#js-tk-copyright{float: left;width:100%;text-align: center;margin:40px 0px 20px 0px;}

/* Paginations */
	div#jl_pagination{display: inline-block;width: 100%;position: relative;border: 1px solid #dedede;background-color: #fafafa;padding: 5px;margin: 30px 0px 0px;}
	div#jl_pagination div#jl_pagination_counter{float: left;width: auto;padding: 7px;}
	div#jl_pagination div#jl_pagination_box{width: 30%;float: right;text-align: right;}
	div#jl_pagination div#jl_pagination_box select{margin-left: 10px !important; min-width: 50px; background: url(../images/selecticon.png) 90% / 23% no-repeat !important;margin-bottom: 0;}




/* GDPR*/
div.js-ticket-top-search-wrp{border: 1px solid #d1d1d1;}
div.js-ticket-top-search-wrp.second-style{float: left;width: 100%;}
div.js-ticket-search-heading-wrp.second-style{background-color: #f5f2f5;color: #2b2b2b;}
div.js-ticket-search-heading-wrp{float: left;width: 100%; padding: 10px;background-color: #2b2b2b;color: #ffffff;}
div.js-ticket-search-heading-wrp div.js-ticket-heading-left{float: left;width: 60%;padding: 15px 10px;line-height: initial;}
div.js-ticket-search-heading-wrp div.js-ticket-heading-right{float: left;width: 40%;text-align: right;}
div.js-ticket-search-heading-wrp div.js-ticket-heading-right a.js-ticket-add-download-btn{display: inline-block;padding: 15px 25px;text-decoration: none;outline: 0px;line-height: initial;    background: #fff;color: #2b2b2b;}
div.js-ticket-search-heading-wrp div.js-ticket-heading-right a.js-ticket-add-download-btn span.js-ticket-add-img-wrp{display: inline-block;margin-right: 5px;}
div.js-ticket-search-heading-wrp div.js-ticket-heading-right a.js-ticket-add-download-btn span.js-ticket-add-img-wrp img{vertical-align: text-bottom;}

div.js-ticket-top-search-wrp.second-style{margin-top:20px;margin-bottom: 15px;}
div.js-ticket-search-heading-wrp.second-style div.js-ticket-heading-right a.js-ticket-add-download-btn{background: #636363;color: #fff;}
